<footer>
    <div class="container">
      <div class="footer-flex">
        <div class="footer-caption">
          <ul>
            <li (click)="about()"><a>About</a></li>
            <li (click)="pricing()"><a>Pricing</a></li>
            <li (click)="contactUs()"><a>Contact us</a></li>
          </ul>
          <p>copyright clusroom 2020 - terms & condition privacy policy</p>
        </div>
        <div class="footer-social">
          <a>
            <img src="assets/images/twitter.png">
          </a>
          <a>
            <img src="assets/images/facebook.png">
          </a>
          <a>
            <img src="assets/images/instagram.png">
          </a>
        </div>
      </div>
    </div>
  </footer>