<footer>
	<div class="container">
		<div class="footer-flex">
			<div class="col-md-4 footer-caption">
				<ul>
					<li><a href="#">About</a></li>
					<li><a href="#">Pricing</a></li>
					<li><a href="#">Contact us</a></li>
				</ul>
				<p>Copyright Clussroom 2021</p>
			</div>
      <div class="cold-md-4 footer-terms" style="padding: 0 0 10px 0;">
        <ul>
          <li><a href="#">Terms Of use</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
        </div>
			<div class="col-md-4 footer-social">
				<a href="#">
<!--					<img src="assets/images/twitter.png">-->
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    
				</a>
				<a href="#">
<!--					<img src="assets/images/facebook.png">-->
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
				</a>
				<a href="#">
<!--					<img src="assets/images/instagram.png">-->
                    <i class="fa fa-instagram" aria-hidden="true"></i>
				</a>
			</div>
		</div>
	</div>
</footer>