<div class="dashboard">
  <app-sidebar></app-sidebar>
  <div class="control-panel">
    <app-dashboardheader></app-dashboardheader>
    <div class="sequence-nav-wrapper dashed-border">
      <div class="sequence-duration-wrapper">
        <div class="sequence-class-code">
          <img src="assets/images/dashboard/orange-book.png"> <span>Class code</span>
          <p>{{this.headerData.class_code}}</p>
        </div>
        <div class="sequence-duration-code">
          <img src="assets/images/dashboard/date-calender.png">
          <div class="sequence-start-date"> <span>{{this.headerData.start_date}}</span>
            <p>Start date</p>
          </div>
          <div class="sequence-end-date"> <span>{{this.headerData.end_date}}</span>
            <p>End date</p>
          </div>
        </div>
      </div>
      <div class="sequence-element-wrapper">
        <a (click)="goToClassMaterial()" class="sequence-class-curve yellow-wrapper">
          <div class="sequence-class-caption">
            <h6>{{this.headerData.class_material}}</h6>
            <span>Class material</span>
          </div>
          <figure>
            <img src="assets/images/dashboard/briefcase.png">
          </figure>
        </a>
        <a (click)="goToAssignment()" class="sequence-assignments-curve blue-wrapper">
          <div class="sequence-assignments-caption">
            <h6>{{this.headerData.assignments}}</h6>
            <span>Assignments</span>
          </div>
          <figure>
            <img src="assets/images/dashboard/assignment.png">
          </figure>
        </a>
        <a (click)="goTotest()" class="sequence-tests-curve green-wrapper">
          <div class="sequence-tests-caption">
            <h6>{{this.headerData.tests}}</h6>
            <span>Tests</span>
          </div>
          <figure>
            <img src="assets/images/dashboard/test.png">
          </figure>
        </a>
      </div>
    </div>

    <div *ngIf="isLoadingBool" class="loading-indicator">
      <mat-spinner></mat-spinner>
    </div>
    <div class="row test-button" *ngIf="!isLoadingBool && !isTestSelected">
      <button (click)="myFunction()" class="tstbtn">Add test</button>
      <div id="mytstdown" class="tstdown-content"> <a (click)="addNew()">Add new</a>
        <a class="custom-button" data-toggle="modal" data-target="#library-1">Add from library</a>
      </div>
    </div>
    <div class="right" *ngIf="!isLoadingBool && isTestSelected">
      <div class="width"> <a href="index.html">Mid-term Test</a>
      </div>
      <div class="width">
        <select name="course" id="course-name">
          <option value="Course 1">Final Exam</option>
          <option value="Course 1" selected>Mid-Term Test</option>
          <option value="Course 2">Test1</option>
          <option value="Course 3">Test2</option>
        </select>
      </div>
    </div>
    <div class="prospectus-section sequence-list" *ngIf="!isLoadingBool">
      <div class="prospectus-tabs">
        <ul class="nav nav-tabs">
          <li><a data-toggle="tab" class="active">Test</a>
          </li>
          <li (click)="settingsClicked()"><a data-toggle="tab">Settings</a>
          </li>
          <li (click)="goToTestAssessment()"><a data-toggle="tab">Result/Assessment</a>
          </li>
          <!--<li><a data-toggle="tab" href="#overall-grading">Overall Grading Status</a></li>-->
        </ul>
      </div>
      <div class="tab-content">
        <!-- Schedule start -->
        <div id="test" class="tab-pane active">
          <div class="table-responsive">
            <table class="table dashboard-table">
              <thead class="thead-course">
                <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col" style="width: 10% !important;padding: 0 0 0 5.5em;text-align: center;">From</th>
                  <th scope="col"></th>
                  <th scope="col" style="text-align: right; padding: 0 0;">To</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">No.</th>
                  <th scope="col" class="text-left table-filter" style="width: 20%;">Test name</th>
                  <th scope="col" class=" text-left table-filter">Date</th>
                  <th scope="col" class="text-left table-filter">To</th>
                  <th scope="col" class="table-filter">Date</th>
                  <th scope="col" class="table-filter">To</th>
                  <th scope="col" class="table-filter">Timer (Min)</th>
                  <th scope="col" class="table-filter">Attempt</th>
                  <th scope="col" class="table-filter">Marking status</th>
                  <th scope="col" class="table-filter">Total score</th>
                  <!-- <th scope="col"><button (click)="myFunction()" class="ellipbtn"><i
                        class="fa fa-ellipsis-v"></i></button>

                  </th> -->
                  <th scope="col">
                    <button *ngIf="isEditClicked" data-toggle="modal" data-target="#iconsEdit"
                      style="background: transparent; border: none;"><i class="fa fa-ellipsis-v"></i>
                    </button>
                    <button (click)="showErrorMessage()" *ngIf="!isEditClicked"
                      style="background: transparent; border: none;"><i class="fa fa-ellipsis-v"></i>
                    </button>
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="this.testAllData.length>0">
                <tr
                  *ngFor="let testListing of this.testAllData| paginate : {itemsPerPage: pageSize,currentPage: page,totalItems: count};let i = index;"
                  [class.active]="i == currentIndex">
                  <th>
                    <div class="radio-table-latest"><input name="radio" (click)="isCheckBoxClicked(testListing,i)"
                        type="radio" style="visibility: visible !important;"></div>
                  </th>
                  <td>{{testListing.s_no}}</td>
                  <td class="text-left">{{testListing.test_name}}</td>
                  <td class="text-left">{{testListing.start_date}}</td>
                  <td class="text-left">{{testListing.start_time}}</td>
                  <td>{{testListing.end_date}}</td>
                  <td>{{testListing.end_time}}</td>
                  <td>{{testListing.test_timer}}</td>
                  <td>{{testListing.test_attempts}}</td>
                  <td>{{testListing.marking_status}}</td>
                  <td>
                    <div class="purple">
                      <button type="button">{{testListing.total_score}}</button>
                    </div>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-result-wrapper bottom-select">
            <!-- <select name="course" id="course-name">
              <option selected>10</option>
              <option value="Course 1">1</option>
              <option value="Course 2">2</option>
              <option value="Course 3">3</option>
            </select> -->
            <!-- <p style="width: 10%;">Results: 1-15 of 324</p> -->
            <div class="selector">
              <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true"
                (pageChange)="handlePageChange($event)"></pagination-controls>
            </div>
          </div>
        </div>
        <!-- Schedule start -->
      </div>
    </div>
  </div>
</div>


<!-- Add From 1 Library popup start -->
<div id="copy-to" class="modal addlibrary-modal" role="dialog" #copytest>
  <div class="modal-dialog" style="max-width: 718px;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="padding: 0 15em;">Add from library</h4>
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"
            style="color: #396aff;"></i>
        </button>
      </div>
      <div class="modal-body" style="padding: 56px 56px;">
        <div class="addlibraryportion container col-lg-12 mt-4" style="border: none;">
          <div data-toggle="modal" class="col-md-4 text-center add-field" (click)="copyTestToLibrary('main')">
            <button type="button">
              <img src="assets/images/test/folder.png">
            </button>
            <p>Main<br>library</p>
          </div>
          <div data-toggle="modal" class="col-md-4 text-center add-field" (click)="copyTestToLibrary('course')">
            <button type="button">
              <img src="assets/images/test/folder.png">
            </button>
            <p>Course<br>library</p>
          </div>
          <div data-toggle="modal" class="col-md-4 text-center add-field" (click)="copyTestToLibrary('personal')">
            <button type="button">
              <img src="assets/images/test/folder.png">
            </button>
            <p>Personal<br>library</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add From 1 Library popup end -->


<!-- Add From 1 Library popup start -->
<div id="library-1" class="modal addlibrary-modal" role="dialog" #steponelibrary>
  <div class="modal-dialog" style="max-width: 718px;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="padding: 0 15em;">Add from library</h4>
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"
            style="color: #396aff;"></i>
        </button>
      </div>
      <div class="modal-body" style="padding: 56px 56px;">
        <div class="addlibraryportion container col-lg-12 mt-4" style="border: none;">
          <div data-toggle="modal" data-target="#library-2" class="col-md-4 text-center add-field"
            (click)="addTestFromLiabrary('main')">
            <button type="button">
              <img src="assets/images/test/folder.png">
            </button>
            <p>Main<br>library</p>
          </div>
          <div data-toggle="modal" data-target="#library-2" class="col-md-4 text-center add-field"
            (click)="addTestFromLiabrary('course')">
            <button type="button">
              <img src="assets/images/test/folder.png">
            </button>
            <p>Course<br>library</p>
          </div>
          <div data-toggle="modal" data-target="#library-2" class="col-md-4 text-center add-field"
            (click)="addTestFromLiabrary('personal')">
            <button type="button">
              <img src="assets/images/test/folder.png">
            </button>
            <p>Personal<br>library</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add From 1 Library popup end -->

<!-- Add From 2 Library popup start -->
<div id="library-2" class="modal addlibrary-modal" role="dialog" #steptwolibrary>
  <div class="modal-dialog" style="max-width: 869px;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="padding: 0 345px;">Add from Library</h4>
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"
            style="color: #396aff;"></i>
        </button>
      </div>
      <div class="modal-body" style="padding: 0 56px;">
        <div class="addlibraryportion container">
          <div class="col-lg-10 displayflex-items">
            <i data-dismiss="modal" class="fa fa-arrow-left" aria-hidden="true"></i>
            <p>{{this.selectTestLiabrary}} library</p>
          </div>
        </div>
        <div class="addlibraryportion container col-lg-10 mt-4" style="border: none; margin: 0 12px;">
          <div data-toggle="modal" data-target="#library-3" (click)="addTestFromLiabrary2(item)"
            *ngFor="let item of this.liabraryData|slice:0:5;let i =index" class="col-sm-3 add-field">
            <button>
              <img src="assets/images/test/folder.png">
            </button>
            <p>{{item.course_name}}</p>
          </div>
        </div>
        <div class="addlibraryportion container col-lg-10 mt-4" style="border: none; margin: 0 12px;">
          <div data-toggle="modal" data-target="#library-3" (click)="addTestFromLiabrary2(item)"
            *ngFor="let item of this.liabraryData|slice:5:10;let i =index" class="col-sm-3 add-field">
            <button>
              <img src="assets/images/test/folder.png">
            </button>
            <p>{{item.course_name}}</p>
          </div>
        </div>
        <div class="addlibraryportion container col-lg-10 mt-4" style="border: none; margin: 0 12px;">
          <div data-toggle="modal" data-target="#library-3" (click)="addTestFromLiabrary2(item)"
            *ngFor="let item of this.liabraryData|slice:10:15;let i =index" class="col-sm-3 add-field">
            <button>
              <img src="assets/images/test/folder.png">
            </button>
            <p>{{item.course_name}}</p>
          </div>
        </div>
        <div class="addlibraryportion container col-lg-10 mt-4" style="border: none; margin: 0 12px;">
          <div data-toggle="modal" data-target="#library-3" (click)="addTestFromLiabrary2(item)"
            *ngFor="let item of this.liabraryData|slice:15:20;let i =index" class="col-sm-3 add-field">
            <button>
              <img src="assets/images/test/folder.png">
            </button>
            <p>{{item.course_name}}</p>
          </div>
        </div>
        <div class="addlibraryportion container col-lg-10 mt-4" style="border: none; margin: 0 12px;">
          <div data-toggle="modal" data-target="#library-3" (click)="addTestFromLiabrary2(item)"
            *ngFor="let item of this.liabraryData|slice:20:25;let i =index" class="col-sm-3 add-field">
            <button>
              <img src="assets/images/test/folder.png">
            </button>
            <p>{{item.course_name}}</p>
          </div>
        </div>
        <div class="addlibraryportion container col-lg-10 mt-4" style="border: none; margin: 0 12px;">
          <div data-toggle="modal" data-target="#library-3" (click)="addTestFromLiabrary2(item)"
            *ngFor="let item of this.liabraryData|slice:25:30;let i =index" class="col-sm-3 add-field">
            <button>
              <img src="assets/images/test/folder.png">
            </button>
            <p>{{item.course_name}}</p>
          </div>
        </div>
        <div class="addlibraryportion container col-lg-10 mt-4" style="border: none; margin: 0 12px;">
          <div data-toggle="modal" data-target="#library-3" (click)="addTestFromLiabrary2(item)"
            *ngFor="let item of this.liabraryData|slice:30:35;let i =index" class="col-sm-3 add-field">
            <button>
              <img src="assets/images/test/folder.png">
            </button>
            <p>{{item.course_name}}</p>
          </div>
        </div>
        <div class="addlibraryportion container col-lg-10 mt-4" style="border: none; margin: 0 12px;">
          <div data-toggle="modal" data-target="#library-3" (click)="addTestFromLiabrary2(item)"
            *ngFor="let item of this.liabraryData|slice:35:40;let i =index" class="col-sm-3 add-field">
            <button>
              <img src="assets/images/test/folder.png">
            </button>
            <p>{{item.course_name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add From 2 Library popup start -->
<div id="library-3" class="modal addlibrary-modal" role="dialog" #stepthreelibrary>
  <div class="modal-dialog" style="max-width: 869px;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="padding: 0 345px;">Add from Library</h4>
        <button type="button" class="close" data-dismiss="modal">
          <i class="fa fa-times" aria-hidden="true" style="color: #396aff;"></i>
        </button>
      </div>
      <div class="modal-body" style="padding: 0 56px;">
        <div class="addlibraryportion container">
          <div class="col-lg-10 displayflex-items">
             <i class="fa fa-arrow-left" aria-hidden="true" data-dismiss="modal"></i>
            <p>{{this.selectTestLiabrary}} > {{this.testLibraryData}}</p>
          </div>
        </div>
        <div class="addlibraryportion container col-lg-10 mt-4" style="border: none; margin: 0 12px;">
          <div (click)="addTestFromLiabrary3(item)" *ngFor="let item of this.classData|slice:0:5;let i =index"
            class="col-sm-3 add-field">
            <button>
              <img src="assets/images/test/folder.png">
            </button>
            <p>{{item.title}}</p>
          </div>
        </div>
        <div class="col-lg-12 container modal-para mb-3" style="padding: 0 2em;">
          <ul>
            <li *ngFor="let item of this.testData" (click)="saveTestData(item)"><a>{{item.title}}</a>
            </li>
          </ul>
        </div>
        <div class="class-remove-btn" style="padding: 21px 39px 0 39px;">
          <button (click)="addTestFromLiabrary4()" *ngIf="showYesButton" type="button"
            class="modal-para-btn" style="margin: 8px auto;">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Icons popup start -->
<div id="iconsEdit" class="modal addlibrary-modal" role="dialog" #deleteclosebutton>
  <div class="modal-dialog" style="max-width: 122px; position: relative; top: 38em; left: 660px;">
    <!-- Modal content-->
    <div class="modal-content" style="border-radius: 12px;">
      <div class="modal-body my-modal-body" style="padding: 7px 27px;">
        <ul>
          <li (click)="goToTest()" style="margin-bottom: .7em;">
            <button type="button"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</button>
          </li>
          <li style="margin-bottom: .7em;">
            <button type="button" data-toggle="modal" data-target="#copy-to">
              <i class="fa fa-files-o" aria-hidden="true"></i>Copy to</button>
          </li>
          <li>
            <button type="button" data-toggle="modal" data-target="#remove"><i class="fa fa-trash"
                aria-hidden="true"></i>Remove</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Icons popup end -->

<!-- Remove Question modal popup start -->
<div id="remove" class="modal removetest-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"><i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="class-delete-list">
          <div class="remove-field">
            <img src="assets/images/test/allert-1.png" style="padding: 0 25em !important;">
            <h1>Remove Questions?</h1>
          </div>
        </div>
        <div (click)="deleteTest()" class="class-remove-btn">
          <button data-dismiss="modal" type="button" class="remove-test">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Remove Question modal popup end -->
