
* {
  padding: 0;
  box-sizing: border-box;
}

.container{
  margin: 0 auto;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #8e8e8e;
  line-height: 1.4;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  font-weight: 400;
  font-style: normal;
  font-family: 'Rubik', sans-serif;
}

:focus {
  outline: none !important;
}

img {
  border: 0;
  height: auto;
  display: block;
  max-width: 100%;
}

ul,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: all 0.3s ease;
  list-style: none;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
}

ol,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: all 0.3s ease;
}
a:hover,
a:focus{
  outline: none;
  text-decoration: none;
}
h1,
h2{
  color: #343C6A;
  line-height: 1.1;
  font-family: 'Rubik', sans-serif;
}
h3,
h4,
h5,
h6{
  color: #343C6A;
  line-height: 1.1;
  font-family: 'Rubik', sans-serif;
}
span {
  color: #343C6A;
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
}
h1 {
  font-size: 50px;
  font-weight: 700;
}
h2 {
  font-size: 36px;
  font-weight: 700;
}
h3 {
  font-size: 30px;
  font-weight: 600;
}
h4 {
  font-size: 28px;
  font-weight: 600;
}
h5 {
  font-size: 24px;
  font-weight: 600;
}
h6 {
  font-size: 20px;
  font-weight: 600;
}
p {
  color: #8e8e8e;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-family: 'Rubik', sans-serif;
}

.button,
.btn {
  outline: none;
  font-size: 17px;
  border: 2px solid #396AFF;
  background-color: #396AFF;
  font-weight: 500;
  padding: 10px 30px;
  display: inline-flex;
  color: #fff;
  align-content: center;
  text-decoration: none;
  justify-content: center;
  transition: all 0.3s ease;
  text-transform: uppercase;
  border-radius: 0px;
  font-family: 'Rubik', sans-serif;
}

.button a,
.btn a{
  color: #fff;
}

.button:hover,
.btn:hover{
  background-color: #fff;
  color: #396AFF;
  border-color: #396AFF;
}
.button:hover a,
.btn:hover a{
  color: #396AFF;
}
.btn-danger:active:focus,
.btn-danger:active,
.btn-primary:active:focus,
.btn-default:focus,
.btn-danger:focus,
.btn-info:focus,
.btn-primary:focus,
.btn-success:focus{
  outline: none;
  color: #396AFF;
  background-color: #fff;
  border: 2px solid #396AFF;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus{
  outline: none;
  box-shadow: none;
}

input
select,
textarea,
.form-control{
  resize: none;
  height: 50px;
  width: 100%;
  color: #8e8e8e;
  box-shadow: none;
  font-size: 15px;
  border-radius: 0px;
  background: #fafafa;
  border: 1px solid #e6e6e6;
  line-height: 1.42857143;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
}

input:focus,
select:focus,
textarea:focus,
.form-control:focus {
  border-color: #e6e6e6;
  box-shadow: none;
  outline: none;
}
.modal-body{
  padding: 1rem;
}
.fieldset {
  margin-bottom: 10px;
}

input[type="date"]{
  background-image: url(/assets/images/input-date.png);
  background-repeat: no-repeat;
  background-position: right 15px bottom 9px;

}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  -webkit-appearance: none;
}

/*school name page start*/
section.school-name-section {
  background-color: #fbfcfe;
  padding: 50px 0px;
  min-height: 80vh;
}

.school-name-form h2 {
  font-family: Rubik;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0px;
}

.school-name-form {
  width: 52%;
  margin: 0 auto;
}

.school-name-form p {
  font-family: Barlow;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  width: 70%;
}

.school-name-form form {
  margin-top: 25px;
}

.school-name-form form label {
  font-family: Rubik;
  font-size: 17px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #5B73A0;
  width: 100%;
}

.school-name-form form input {
  width: 100%;
  border: 1px solid #E7EDFF;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  height: 56px;
  padding: 0px 15px;
  color: #343c6a;
}

.school-name-obliterate {
  display: flex;
  margin-top: 30px;
}

.school-name-form form .school-name-obliterate .btn {
  width: 90px;
  height: 46px;
  padding: 0px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  font-family: Barlow;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-transform: capitalize;
  margin-right: 10px;
}

.school-name-form form .school-name-obliterate .back-btn {
  width: 90px;
  height: 46px;
  border-radius: 8px;
  outline: none;
  border: 2px solid #DCFAF8;
  background-color: #DCFAF8;
  transition: all 0.3s ease;
  font-family: Barlow;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  color: #16DBCC;
  justify-content: center;
  display: flex;
  align-items: center;
}

.school-name-form ul#school-progressbar {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 10px;
}

.school-name-form ul#school-progressbar li strong {
  border: 1px solid  #ECEBED;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  background-color: #FFFFFF;
  width: 28px;
  height: 28px;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #D0C9D6;
  margin: 0px 5px;
}

.school-name-form ul#school-progressbar li {
  display: flex;
  align-items: center;
}

.school-name-form ul#school-progressbar .school-progressbaar-line {
  background-color: #DCE2EC;
  height: 4px;
  width: 30px;
  border-radius: 2px;
}

.school-name-form ul#school-progressbar li strong img{
  display: none;
}

.school-name-form ul#school-progressbar .school-progressbaar-line.line-2 {
  width: 80px;
}

.school-name-form ul#school-progressbar li.active .school-progressbaar-line{
  background-color: #396aff;
}

.school-name-form ul#school-progressbar li.active strong{
  color: #fff;
  background-color: #396aff;
  border: 1px solid #396aff;
}

.school-name-form ul#school-progressbar li.completed strong{
  font-size: 0px;
  background-color: #16DBCC;
  border: 1px solid #16DBCC;
}

.school-name-form ul#school-progressbar li.completed strong img{
  display: block;
}

.school-name-form ul#school-progressbar li.completed .school-progressbaar-line{
  background-color: #16dbcc;
}
/*school name page end*/
