	<!-- Header start -->
	<app-header></app-header>
	<!-- Header end -->
	<section class="school-name-section">
		<div class="container">
			<div class="school-name-form">
				<ul id="school-progressbar">
					<li class="completed">
						<div class="school-progressbaar-line line-1"></div> <strong><img src="assets/images/blue-path.png">1</strong>
					</li>
					<li class="active">
						<div class="school-progressbaar-line line-2"></div> <strong><img src="assets/images/blue-path.png">2</strong>
					</li>
					<li>
						<div class="school-progressbaar-line line-2"></div> <strong><img src="assets/images/blue-path.png">3</strong>
						<div class="school-progressbaar-line line-1"></div>
					</li>
				</ul>
				<h2>Give a name to your school/institution</h2>
				<form [formGroup]="schoolNameForm">
					<div class="school-name-institution fieldset">
						<input formControlName="schoolName" type="text">
					</div>
					<div class="school-name-obliterate">
						<button class="btn" (click)="next()">Next</button>
						<button class="back-btn" (click)="back()">Back</button>
					</div>
				</form>
			</div>
		</div>
	</section>
	<app-footer></app-footer>