<!-- <h2>League Manager</h2>
<form [formGroup]="leagueForm">
  <button type="button" (click)="addTeam()">Add Team</button>
  <div formArrayName="teams">
    <div class="teams" *ngFor="let team of leagueForm.get('teams')?.controls;let teamIndex = index" [formGroupName]="teamIndex">
      <button type="button" (click)="addPlayer(team)">Add Player</button>
      <div formArrayName="players">
        <div class="players" *ngFor="
            let player of team.get('players').controls;
            let playerIndex = index
          " [formGroupName]="playerIndex">
          <label>Player Name <input formControlName="player_name" />
            <button (click)="deletePlayer(team, playerIndex)">x</button></label>
          <label>Player Number <input formControlName="player_number" /></label>
          <span *ngIf="player.get('player_number').touched">touched!</span>
        </div>
      </div>
    </div>
  </div>
</form>
{{ this.leagueForm.value | json }} -->


<form [formGroup]="leagueForm">
  <div class="col-lg-12 box-shadow final-order border-bottom" style="padding-bottom: 1em;">
    <h2 class="mb-4" style="padding: 0 2.7em">Blanks</h2>
    <div class="col-lg-12 custom-answer mb-5" style="padding: 0 26px; display: flex; overflow: auto;">
      <label style="margin: 7px 8px 7px -4px;">1.</label>
      <div formArrayName="teams" style="display: flex;" class="col-md-4">
        <ng-container *ngFor="let team of leagueForm.get('teams')?.controls;let teamIndex = index"
          [formGroupName]="teamIndex">
          <div formArrayName="players">
            <div class="players" *ngFor="
            let player of team.get('players').controls;
            let playerIndex = index" [formGroupName]="playerIndex">
              <div class="col-lg-12 mb-4" style="display: flex; padding: 0;">
                <div class="col-lg-12 custom-answer" style="padding: 0 35px;">
                  <input formControlName="player_name" type="text" placeholder="Enter answer">
                  <button style="margin: 0 7px" (click)="addPlayer(team)" type="button" class="blue-plus"><i
                      class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                  <button style="margin: 0 7px" (click)="removeUserRow(i,j)" type="button" class="orange-cross"><i
                      class="fa fa-times" aria-hidden="true"></i>
                  </button>
                  <p style="padding: .5em 1em;">Answer {{j+1}}</p>
                </div>
              </div>
            </div>

          </div>

        </ng-container>
      </div>
    </div>
  </div>
</form>

  {{ this.leagueForm.value | json }}
