<!DOCTYPE html>
<html>
<title>Choose otp</title>

<head>
  <link rel="icon" href="assets/images/clusroom-fav.png" type="image/png">
</head>

<body>
  <!-- Header start -->
  <app-header></app-header>

  <!-- Header end -->
  <section class="login-section">
    <div class="container">
      <div class="login-form">
        <h2>Enter a OTP</h2>
        <form [formGroup]="otpForm">
          <div class="login-company-name fieldset">
            <label>OTP</label>
            <input formControlName="otp" type="tel">
            <ng-container *ngFor="let error of error_messages.otp">
              <div class="error-message" *ngIf="otpForm.get('otp').hasError(error.type) &&
							  (otpForm.get('otp').dirty || otpForm.get('otp').touched)">
                {{ error.message }}
              </div>
            </ng-container>
          </div>
          <div class="login-obliterate">
            <button class="btn" [disabled]="!otpForm.valid" (click)="submitOtp()">Next</button>
          </div>
        </form>
      </div>
    </div>
  </section>

  <app-footer></app-footer>

</body>

</html>