
  <div class="sequence-element-wrapper">
    <a href="#" class="sequence-class-curve yellow-wrapper">
      <div class="sequence-class-caption">
        <h6>11</h6>
        <span>Class Material</span>
      </div>
      <figure>
        <img src="assets/images/dashboard/briefcase.png">
      </figure>
    </a>
    <a href="#" class="sequence-assignments-curve blue-wrapper">
      <div class="sequence-assignments-caption">
        <h6>15</h6>
        <span>Assignments</span>
      </div>
      <figure>
        <img src="assets/images/dashboard/assignment.png">
      </figure>
    </a>
    <a href="#" class="sequence-tests-curve green-wrapper">
      <div class="sequence-tests-caption">
        <h6>5</h6>
        <span>Tests</span>
      </div>
      <figure>
        <img src="assets/images/dashboard/test.png">
      </figure>
    </a>
  </div>
