
  <div class="sequence-element-wrapper">
    <a routerLink="/library/library-home" class="sequence-class-curve yellow-wrapper">
      <div class="sequence-class-caption">
        <h6>{{this.headerData.class_material}}</h6>
        <span>Class Material</span>
      </div>
      <figure>
        <img src="assets/images/dashboard/briefcase.png">
      </figure>
    </a>
    <a  class="sequence-assignments-curve blue-wrapper">
      <div class="sequence-assignments-caption">
        <h6>{{this.headerData.assignments}}</h6>
        <span>Assignments</span>
      </div>
      <figure>
        <img src="assets/images/dashboard/assignment.png">
      </figure>
    </a>
    <a  class="sequence-tests-curve green-wrapper">
      <div class="sequence-tests-caption">
        <h6>{{this.headerData.tests}}</h6>
        <span>Tests</span>
      </div>
      <figure>
        <img src="assets/images/dashboard/test.png">
      </figure>
    </a>
  </div>
