<div class="dashboard">
  <app-sidebar></app-sidebar>
  <div class="control-panel">
    <app-dashboardheader></app-dashboardheader>
    <app-app-dashboard-header></app-app-dashboard-header>

    <div *ngIf="isLoadingBool" class="loading-indicator">
      <mat-spinner></mat-spinner>
    </div>
    <div class="row test-button">
      <button type="button"><a>Add Test</a>
      </button>
    </div>
    <div class="prospectus-section sequence-list">
      <div class="prospectus-tabs">
        <ul class="nav nav-tabs">
          <li><a data-toggle="tab" href="#test" class="active">Test</a>
          </li>
          <li><a data-toggle="tab" href="#settings">Settings</a>
          </li>
          <li><a data-toggle="tab" href="#assignment-grading">Result/Assessment</a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <!-- Schedule start -->
        <div class="heading" style="padding: 0 10px;">
          <h2>Multiple Choice Question</h2>
        </div>
        <form class="form" #registerForm="ngForm">
          <div class="multiple-text">
            <angular-editor [(ngModel)]="fillData.question" [ngModelOptions]="{standalone: true}" name="shortanswer"
              cols="80" label="notes" rows="4" wrap="virtual" style="margin: 0;" name="question" #question="ngModel"
              required>
            </angular-editor>
            <button (click)="countTotalWords()">submit</button>
            <p class="text-danger" *ngIf="(question.touched || registerForm.submitted) && question.errors?.required">*
              Question is required</p>

            <p>Type the questions above, and adding an underscore <span>("_")</span> which is a blank. Blanks numbering
              is in sequence.</p>
            <div class="col-md-4"></div>
          </div>

          <div class="test-option sample custom-control custom-checkbox mt-4 box-shadow">
            <div class="col-sm-3 text-center" *ngFor="let item of ExteriorPicString;let i = index;">
              <button type="button"> <span (click)="removeImage(i)"><a><i class="fa fa-times-circle"
                      aria-hidden="true"></i></a></span>
                <img style="height: 100%;width: 100%;" src={{baseString+item}}>
              </button>
              <input [(ngModel)]="old_image_Description[i]" [ngModelOptions]="{standalone: true}" type="text"
                placeholder="Description" class="mt-3">
            </div>
            <div class="col-sm-3 text-center" *ngFor="let item of fillData.attachment;let i = index;">
              <button type="button"> <span (click)="removeImages(i)"><a><i class="fa fa-times-circle"
                      aria-hidden="true"></i></a></span>
                <img style="height: 100%;width: 100%;" src={{item.image}}>
              </button>
              <input [(ngModel)]="new_image_Description[i]" [ngModelOptions]="{standalone: true}" type="text"
                placeholder="Description" class="mt-3">
            </div>
          </div>
          <div class="attach mt-3 mb-5">
            <a>
              <img src="assets/images/test/Mask.png">
            </a>
            <h2 *ngIf="this.fillData.attachment!=null">Attachments
              ({{this.ExteriorPicString.length + this.fillData.attachment.length}}/4)</h2>
            <h2 *ngIf="this.fillData.attachment==null">Attachments
              (0/4)</h2>
            <label style="margin-left:1em !important;margin: 0px;" for="imageUpload" class="btn-add-1"><i
                class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</label>
            <input id="imageUpload" #attachments style="display: none" multiple type="file"
              accept="image/png, image/jpeg" class="upload custom-input-file" (change)="picked($event)" />
          </div>
          <form [formGroup]="leagueForm">
            <div class="col-lg-12 box-shadow final-order border-bottom" style="padding-bottom: 1em;">
              <h2 class="mb-4" style="padding: 0 2.7em">Blanks</h2>
              <ng-container formArrayName="answerList">
                <div *ngFor="let team of leagueForm.get('answerList')?.controls;let teamIndex = index"
                  [formGroupName]="teamIndex" class="col-lg-12 custom-answer mb-5"
                  style="padding: 0 26px; display: flex; overflow: auto;">
                  <label style="margin: 7px 8px 7px -4px;">{{teamIndex+1}}.</label>
                  <div formArrayName="question" style="display: flex;" class="col-md-4">
                    <ng-container *ngFor="let player of team.get('question').controls;let playerIndex = index"
                      [formGroupName]="playerIndex">
                      <div class="col-lg-12 mb-4" style="display: flex; padding: 0;">
                        <div class="col-lg-12 custom-answer" style="padding: 0 35px;">
                          <input formControlName="answer" type="text" placeholder="Enter answer">
                          <button style="margin: 0 7px" (click)="addPlayer(team)" type="button" class="blue-plus"><i
                              class="fa fa-plus" aria-hidden="true"></i>
                          </button>
                          <button *ngIf="playerIndex>0" style="margin: 0 7px" (click)="deletePlayer(team,playerIndex)"
                            type="button" class="orange-cross"><i class="fa fa-times" aria-hidden="true"></i>
                          </button>
                          <span *ngIf="player.get('answer').touched || player.get('answer').dirty" class="text-danger">*
                            Required!</span>
                          <p style="padding: .5em 1em;">Answer {{playerIndex+1}}</p>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
            </div>
          </form>
          <div class="custom-control custom-checkbox mb-3 mt-3 multi-checkbox" style="display: block;">
            <div class="char-box border-bottom box-shadow question-label col-lg-12 mt-5" style="display: block;">
              <div class="col-lg-12" style="display: flex; align-items: center; padding: 0 0 10px 8px;">
                <div class="col-md-3">
                  <label>Word Hint
                    <input type="checkbox" [(ngModel)]="fillData.words_hint" [ngModelOptions]="{standalone: true}">
                    <span class="mark" style="border-radius: 50% !important; height: 20px; width:20px;"></span>
                  </label>
                </div>
                <div class="col-lg-9 mb-3 mt-3" style="padding: 0;">
                  <p><span>Note:</span> Word hints are meant to assist learners answer the question.</p>
                </div>
              </div>

              <div class="container col-lg-12">
                <div class="col-md-6 fillups">
                  <ul>
                    <li style="border: 1px solid red;"
                      *ngFor="let team of leagueForm.get('answerList')?.controls;let i = index"
                      class="custom-answer mb-4" style="display: block;">{{i+1}}.&nbsp;&nbsp;
                      <input [(ngModel)]="words_hint_text[i]" [ngModelOptions]="{standalone: true}"
                        [disabled]="fillData.words_hint!=true" type="text" placeholder="Enter answer" name="hint"
                        #hint="ngModel" required>
                      <!-- <input type="hidden" formControlName="question_id"> -->
                      <p style="padding: 2px 26px !important;" class="text-danger"
                        *ngIf="(hint.touched || registerForm.submitted) && hint.errors?.required">* Hint is required</p>
                      <p style="padding: 2px 26px !important;">Hint for Blank {{i+1}}</p>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">&nbsp;</div>
              </div>

            </div>
            <div class="char-box question-label col-lg-12">
              <label class="col-md-3 mb-3 mt-3">Partial Points
                <input [(ngModel)]="fillData.partial_points" [ngModelOptions]="{standalone: true}" type="checkbox">
                <span class="mark" style="border-radius: 50% !important; height: 20px; width:20px;"></span>
              </label>
              <p class="col-md-6"><span style="color: #81c8c1;">Note:</span> Points are rounded to the nearest 1 decimal
              </p>
            </div>
            <div class="char-box border-bottom box-shadow question-label col-lg-12">
              <label class="col-md-3 mb-3 mt-3">Points</label>
              <div class="col-md-4 mb-3 mt-3">
                <input [(ngModel)]="fillData.points" [ngModelOptions]="{standalone: true}"
                  [disabled]="fillData.partial_points!=true" type="text" name="points" #points="ngModel" required>
                <p class="text-danger" *ngIf="(points.touched || registerForm.submitted) && points.errors?.required">*
                  Points</p>
              </div>
            </div>
          </div>
          <div class="container" style="padding: 18px 0 0 0; display: flex; margin: 0 3px;">
            <!--
                   <button type="button" class="blue">Confirm</button>
                   <button type="button" class="blue-border">Cancel</button>
                   <button type="button" class="lime"><a>Edit</a></button>
                   <button type="button" class="Org"><a>Confirm Edit</a></button>
                   -->
            <button *ngIf="isEditQuestion" [disabled]="!registerForm.valid" class="button a" style="font-size: 10px;"
              (click)="saveQuestion()">Save
              Question</button>
            <button *ngIf="!isEditQuestion" [disabled]="!registerForm.valid" class="button a" style="font-size: 10px;"
              (click)="editQuestion()">Edit
              Question</button>

            <a (click)="cancel()" class="edit-points-btn custom-button">Cancel</a>
          </div>
        </form>

        <!--
           <div class="container multi-choice-orange" style="padding: 6px 0 0 0;">
              <button type="button">Confirm Edit</button>
           </div>
-->
      </div>
    </div>
  </div>
</div>