<div class="dashboard">
  <app-sidebar></app-sidebar>
  <div class="control-panel">
    <app-dashboardheader></app-dashboardheader>
    <app-app-dashboard-header></app-app-dashboard-header>

    <!-- <div class="loading-indicator">
      <mat-spinner></mat-spinner>
    </div> -->
    <div class="right">
      <div class="width"> <a>{{this.test_name}}</a>
      </div>
      <div class="width">
        <select class="form-control" (change)="onChange()" [(ngModel)]="selectedTestDetails">
          <option value="" disabled selected="selected">Please select test</option>
          <option *ngFor="let user of testAllData" [ngValue]="user">{{user.test_name}}</option>
        </select>
      </div>
    </div>
    <div class="prospectus-section sequence-list">
      <div class="prospectus-tabs">
        <ul class="nav nav-tabs">
          <li (click)="goToTestHome()"><a data-toggle="tab">Test</a>
          </li>
          <li><a data-toggle="tab" href="#settings" class="active">Settings</a>
          </li>
          <li (click)="goToTestAssessment()"><a data-toggle="tab">Result/Assessment</a>
          </li>
          <!--<li><a data-toggle="tab" href="#overall-grading">Overall Grading Status</a></li>-->
        </ul>
      </div>
      <div class="tab-content">
        <!-- Schedule start -->
        <div id="test" class="tab-pane "></div>
        <!-- Schedule start -->
        <!-- Submisssion Log start -->
        <div id="settings" class="tab-pane active box-shadow">
          <form [formGroup]="addAssignmentForm">
            <div class="setting-input bottom-border">
              <div class="text-left col-md-2">
                <label>Name of test</label>
              </div>
              <div class="col-lg-10 setting-padding">
                <input formControlName="test_name" [class.grays]="formDisabled" [disabled]="formDisabled"
                  [ngClass]="{ 'is-invalid': addAssignmentForm.get('test_name').hasError('required') && submitted}"
                  type="text">
                <div class="fieldRequired" *ngIf="addAssignmentForm.get('test_name').hasError('required') && submitted"
                  style="font-size: 10px;
             color: #ec3232; font-size: 13px; ">
                  *Required
                </div>
              </div>
            </div>
            <div class="text-area setting-input bottom-border">
              <div class="text-left col-md-2">
                <label>Instruction</label>
              </div>
              <div class="col-lg-10" style="padding-left: 23px;">
                <angular-editor [class.grays]="formDisabled" [disabled]="formDisabled" formControlName="instruction"
                  [ngClass]="{ 'is-invalid': addAssignmentForm.get('instruction').hasError('required') && submitted}"
                  name="history" cols="80" label="notes" rows="4" wrap="virtual" style="margin: 0;"
                  [placeholder]="'Please read the questions carefully. This test will form part of your final grading this year.'">
                </angular-editor>
                <div class="fieldRequired"
                  *ngIf="addAssignmentForm.get('instruction').hasError('required') && submitted" style="font-size: 10px;
                    color: #ec3232; font-size: 13px; ">
                  *Required
                </div>
              </div>
            </div>
            <div class="setting-date-section setting-input bottom-border">
              <div class="col-md-2 text-left">
                <label>Test available from :</label>
              </div>
              <div class="col-md-2" style="padding-left: 21px; margin-right: 2em">
                <input [class.grays]="formDisabled" [disabled]="formDisabled" formControlName="available_date"
                  type="date" name="test_available_from"
                  [ngClass]="{ 'is-invalid': addAssignmentForm.get('available_date').hasError('required') && submitted}">
                <div class="fieldRequired"
                  *ngIf="addAssignmentForm.get('available_date').hasError('required') && submitted" style="font-size: 10px;
               color: #ec3232; font-size: 13px; ">
                  *Required
                </div>
              </div>
              <div class="col-md-2">
                <input [class.grays]="formDisabled" [disabled]="formDisabled" formControlName="available_time"
                  [ngClass]="{ 'is-invalid': addAssignmentForm.get('available_time').hasError('required') && submitted}"
                  type="time" style="width: 148px !important;" value="12:00" class="text-center" name="start_time">
                <div class="fieldRequired"
                  *ngIf="addAssignmentForm.get('available_time').hasError('required') && submitted"
                  style="font-size: 10px;color: #ec3232; font-size: 13px; ">
                  *Required
                </div>
              </div>
            </div>
            <div class="setting-date-section setting-input bottom-border">
              <div class="col-md-2 text-left">
                <label>Test available to :</label>
              </div>
              <div class="col-md-2" style="padding-left: 21px; margin-right: 2em">
                <input [class.grays]="formDisabled" [disabled]="formDisabled" type="date"
                  formControlName="available_dateTo"
                  [ngClass]="{ 'is-invalid': addAssignmentForm.get('available_dateTo').hasError('required') && submitted}">
                <div class="fieldRequired"
                  *ngIf="addAssignmentForm.get('available_dateTo').hasError('required') && submitted" style="font-size: 10px;
               color: #ec3232; font-size: 13px; ">
                  *Required
                </div>
              </div>
              <div class="col-md-2">
                <input [class.grays]="formDisabled" [disabled]="formDisabled" type="time"
                  formControlName="available_timeTo" style="width: 148px !important;" value="12:00" class="text-center"
                  [ngClass]="{ 'is-invalid': addAssignmentForm.get('available_timeTo').hasError('required') && submitted}">
                <div class="fieldRequired"
                  *ngIf="addAssignmentForm.get('available_timeTo').hasError('required') && submitted" style="font-size: 10px;
                          color: #ec3232; font-size: 13px;">
                  *Required
                </div>
              </div>
            </div>
            <div class="custom-checkbox setting-input bottom-border">
              <div class="col-md-2 text-left">
                <label>Timer</label>
              </div>
              <div class="col-md-2">
                <input [class.grays]="formDisabled" [disabled]="formDisabled" formControlName="timer_check"
                  [ngClass]="{ 'is-invalid': addAssignmentForm.get('timer_check').hasError('required') && submitted}"
                  type="checkbox" id="checkbox1" />
                <!-- <div class="fieldRequired"
                  *ngIf="addAssignmentForm.get('timer_check').hasError('required') && submitted" style="font-size: 10px;
                          color: #ec3232; font-size: 13px;">
                  Time is required.
                </div> -->
              </div>
              <div class="col-md-4 custom">
                <input [class.grays]="formDisabled" [disabled]="formDisabled" formControlName="timer_minute"
                  [ngClass]="{ 'is-invalid': addAssignmentForm.get('timer_minute').hasError('required') && submitted}"
                  type="text">
                <!-- <div class="fieldRequired"
                  *ngIf="addAssignmentForm.get('timer_minute').hasError('required') && submitted" style="font-size: 10px;
                          color: #ec3232; font-size: 13px;">
                  Time is required.
                </div> -->
                <label>Minutes</label>
              </div>
            </div>
            <div class="setting-select setting-input border-bottom">
              <div class="col-md-2 text-left">
                <label>Attempts</label>
              </div>
              <div class="col-sm-2" style="padding: 0 20px;">
                <select [class.grays]="formDisabled" [disabled]="formDisabled" formControlName="total_attempt"
                  name="course" id="course-name"
                  [ngClass]="{ 'is-invalid': addAssignmentForm.get('total_attempt').hasError('required') && submitted}">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
                <!-- <div class="fieldRequired"
                  *ngIf="addAssignmentForm.get('total_attempt').hasError('required') && submitted" style="font-size: 10px;
               color: #ec3232; font-size: 13px;">
                  Time is required.
                </div> -->
              </div>
              <div class="attempt">
                <select [class.grays]="formDisabled" [disabled]="formDisabled" formControlName="attempt_type"
                  name="course" id="course-name" style="width: 148px;"
                  [ngClass]="{ 'is-invalid': addAssignmentForm.get('attempt_type').hasError('required') && submitted}">
                  <option value="Last attempt" selected>Last attempt</option>
                  <option value="Best score">Best score</option>
                  <option value="Average score">Average score</option>
                </select>
                <!-- <div class="fieldRequired"
                  *ngIf="addAssignmentForm.get('attempt_type').hasError('required') && submitted" style="font-size: 10px;
               color: #ec3232; font-size: 13px;">
                  Time is required.
                </div> -->
              </div>
            </div>
            <div class="setting-select setting-input border-bottom">
              <div class="col-md-2 text-left">
                <label>Pagination</label>
              </div>
              <div class="custom">
                <select [class.grays]="formDisabled" [disabled]="formDisabled" formControlName="pagination"
                  name="course" id="course-name"
                  [ngClass]="{ 'is-invalid': addAssignmentForm.get('pagination').hasError('required') && submitted}">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
                <!-- <div class="fieldRequired" *ngIf="addAssignmentForm.get('pagination').hasError('required') && submitted"
                  style="font-size: 10px;
               color: #ec3232; font-size: 13px;">
                  Time is required.
                </div> -->
                <label>Questions per page</label>
              </div>
            </div>
            <div class="setting-select setting-input border-bottom">
              <div class="col-md-2 text-left">
                <label>View answers</label>
              </div>
              <div class="custom">
                <select [class.grays]="formDisabled" [disabled]="formDisabled" formControlName="view_answer"
                  name="course" id="course-name"
                  [ngClass]="{ 'is-invalid': addAssignmentForm.get('view_answer').hasError('required') && submitted}">
                  <option value=0>No</option>
                  <option value=1>Yes</option>
                </select>

                <!-- <div class="fieldRequired"
                  *ngIf="addAssignmentForm.get('view_answer').hasError('required') && submitted" style="font-size: 10px;
               color: #ec3232; font-size: 13px;">
                  Time is required.
                </div> -->
                <label>After completion</label>
              </div>
            </div>
            <div style="padding: 18px 0 0 0;">
              <button type="button" class="blue" style="background-color: #92886d;border: 2px solid #92886d;" *ngIf="isClicked" (click)="edit()">Edit</button>
              <button type="button" class="blue" style="background-color: #FFBB38;border: 2px solid #FFBB38;" *ngIf="!isClicked" (click)="confirmEdit()">Confirm edit</button>

              <button type="button" class="blue-border" routerLink="/test/test-listing-home">Cancel</button>
            </div>

          </form>
        </div>
        <!-- Submisssion Log end -->
        <!-- Test/Assignment Grading Status start -->
        <div id="assignment-grading" class="tab-pane"></div>
      </div>
    </div>
  </div>
</div>
