<div class="dashboard">
  <app-sidebar></app-sidebar>
  <div class="control-panel">
    <app-dashboardheader></app-dashboardheader>
    <app-app-dashboard-header></app-app-dashboard-header>

    <div *ngIf="isLoadingBool" class="loading-indicator">
      <mat-spinner></mat-spinner>
    </div>
    <!-- <div class="row test-button">
      <button type="button"><a>Add Test</a>
      </button>
    </div> -->
    <div class="prospectus-section sequence-list">
      <div class="prospectus-tabs">
        <ul class="nav nav-tabs">
          <li><a data-toggle="tab" href="#test" class="active">Test</a>
          </li>
          <li><a data-toggle="tab" href="#settings">Settings</a>
          </li>
          <li><a data-toggle="tab" href="#assignment-grading">Result/Assessment</a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <!-- Schedule start -->
        <div class="heading" style="padding: 0 10px;">
          <h2>Short answers</h2>
        </div>
        <div class="multiple-text">
          <angular-editor [(ngModel)]="fillData.question" name="shortanswer" cols="80" label="notes" rows="4"
            wrap="virtual" style="margin: 0;"></angular-editor>
          <div class="col-md-4"></div>
        </div>
        <div class="test-option sample custom-control custom-checkbox mt-4 box-shadow">
          <div class="col-sm-3 text-center" *ngFor="let item of ExteriorPicString;let i = index;">
            <button type="button"> <span (click)="removeImage(i)"><a><i class="fa fa-times-circle"
                    aria-hidden="true"></i></a></span>
              <img style="height: 100%;width: 100%;" src={{baseString+item}}>
            </button>
            <input type="text" placeholder="Description" class="mt-3">
          </div>
          <div class="col-sm-3 text-center" *ngFor="let item of fillData.attachment;let i = index;">
            <button type="button"> <span (click)="removeImages(i)"><a><i class="fa fa-times-circle"
                    aria-hidden="true"></i></a></span>
              <img style="height: 100%;width: 100%;" src={{item.image}}>
            </button>
            <input type="text" placeholder="Description" class="mt-3">
          </div>
        </div>
        <div class="attach mt-3 mb-5">
          <a>
            <img src="assets/images/test/Mask.png">
          </a>
          <h2 *ngIf="this.fillData.attachment!=null">Attachments
            ({{this.ExteriorPicString.length + this.fillData.attachment.length}}/4)</h2>
          <h2 *ngIf="this.fillData.attachment==null">Attachments
            (0/4)</h2>
          <label (click)="hideImage()" style="margin-left:1em !important;margin: 0px;" for="imageUpload"
            class="btn-add-1"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</label>
          <input id="imageUpload" #attachments style="display: none" multiple type="file" accept="image/png, image/jpeg"
            class="upload custom-input-file" (change)="picked($event)" />
        </div>
        <div class="box-shadow">
          <div class="custom-control custom-checkbox question-label mt-3"
            style="padding: 1.5em 26px; border-bottom:1px solid #F1F6FB; border-top:1px solid #F1F6FB;">
            <label class="question-checkbox col-md-8">Rich-text responses for learners?
              <input [(ngModel)]="fillData.rich_text_responses_for_learner" type="checkbox"> <span class="mark"></span>
            </label>
          </div>
          <div class="custom-control custom-checkbox question-label"
            style="padding: 1.5em 26px; border-bottom:1px solid #F1F6FB;">
            <label class="question-checkbox col-sm-2">Character limit
              <input [(ngModel)]="fillData.character_limit" type="checkbox"> <span class="mark"></span>
            </label>
            <input [(ngModel)]="fillData.characterInput" type="text" class="ml-3">
          </div>
          <div class="custom-control custom-checkbox question-label"
            style="padding: 1.5em 26px; border-bottom:1px solid #F1F6FB;">
            <label class="question-checkbox col-sm-2">Partial points
              <input [(ngModel)]="fillData.partial_point" type="checkbox"> <span class="mark"></span>
            </label>
            <p class="col-md-6"><span style="color: #81c8c1;">Note:</span> Points are rounded to the nearest 1 decimal
            </p>
          </div>
          <div class="custom-control custom-checkbox mb-3 question-label"
            style="padding: 1.5em 26px; border-bottom:1px solid #F1F6FB;">
            <label class="col-sm-2">Points</label>
            <input [(ngModel)]="fillData.points" type="text" class="ml-3">
          </div>
        </div>
        <div class="container" style="padding: 18px 0 0 0; display: flex;">
          <!--
                  <button type="button" class="blue">Confirm</button>
                  <button type="button" class="blue-border">Cancel</button>
                  <button type="button" class="lime"><a>Edit</a></button>
                  <button type="button" class="Org"><a>Confirm Edit</a></button>
                  -->
          <a *ngIf="isEditQuestion" class="addbutton custom-button" (click)="saveQuestion()">Save question</a>
          <a *ngIf="!isEditQuestion" class="addbutton custom-button" (click)="EditQuestion()">Edit question</a>
          <a class="edit-points-btn custom-button">Cancel</a>
        </div>
        <!--
            <div class="container multi-choice-orange" style="padding: 6px 0 0 0;">
               <button type="button">Confirm Edit</button>
            </div>
-->
      </div>
    </div>
  </div>
</div>
