<div class="dashboard">
  <app-sidebar></app-sidebar>
  <div class="control-panel">
    <app-dashboardheader></app-dashboardheader>

    <div class="sequence-nav-wrapper dashed-border">
      <div class="sequence-duration-wrapper">
        <div class="sequence-class-code">
          <img src="assets/images/dashboard/orange-book.png">
          <span>Class Code</span>
          <p>PT 75</p>
        </div>
        <div class="sequence-duration-code">
          <img src="assets/images/dashboard/date-calender.png">
          <div class="sequence-start-date">
            <span>09/30/2020</span>
            <p>Start Date</p>
          </div>
          <div class="sequence-end-date">
            <span>09/25/2020</span>
            <p>End Date</p>
          </div>
        </div>
      </div>
      <div class="sequence-element-wrapper">
        <a class="sequence-class-curve yellow-wrapper">
          <div class="sequence-class-caption">
            <h6>11</h6>
            <span>Class Material</span>
          </div>
          <figure>
            <img src="assets/images/dashboard/briefcase.png">
          </figure>
        </a>
        <a class="sequence-assignments-curve blue-wrapper">
          <div class="sequence-assignments-caption">
            <h6>15</h6>
            <span>Assignments</span>
          </div>
          <figure>
            <img src="assets/images/dashboard/assignment.png">
          </figure>
        </a>
        <a class="sequence-tests-curve green-wrapper">
          <div class="sequence-tests-caption">
            <h6>5</h6>
            <span>Tests</span>
          </div>
          <figure>
            <img src="assets/images/dashboard/test.png">
          </figure>
        </a>
      </div>
    </div>

    <div *ngIf="isLoadingBool" class="loading-indicator">
      <mat-spinner></mat-spinner>
    </div>

    <div class="row test-button">
      <button type="button"><a href="#">Add Test</a></button>
    </div>
    <div class="prospectus-section sequence-list">
      <div class="prospectus-tabs">
        <ul class="nav nav-tabs">
          <li><a data-toggle="tab" href="#test" class="active">Test</a></li>
          <li><a data-toggle="tab" href="#settings">Settings</a></li>
          <li><a data-toggle="tab" href="#assignment-grading">Result/Assessment</a></li>
          <!--				    <li><a data-toggle="tab" href="#overall-grading">Overall Grading Status</a></li>-->
        </ul>
      </div>
      <div class="tab-content">
        <!-- Schedule start -->
        <div class="heading" style="padding: 0 10px;">
          <h2>Multiple Choice Question</h2>
        </div>
        <div class="multiple-text">
          <textarea name="shortanswer"></textarea>
          <div class="col-md-4"></div>
        </div>

        <div class="test-option sample custom-control custom-checkbox mt-4 box-shadow">
          <div class="col-sm-3 text-center">
            <button type="button">
              <span><a href="#"><i class="fa fa-times-circle" aria-hidden="true"></i></a></span>
              <h2>Sample image</h2>
            </button>
            <input type="text" placeholder="Description" class="mt-3">
          </div>
          <div class="col-sm-3 text-center">
            <button type="button">
              <span><a href="#"><i class="fa fa-times-circle" aria-hidden="true"></i></a></span>
              <h2>Sample image</h2>
            </button>
            <input type="text" placeholder="Description" class="mt-3">
          </div>
          <div class="col-sm-3 text-center">
            <button type="button">
              <span><a href="#"><i class="fa fa-times-circle" aria-hidden="true"></i></a></span>
              <h2>Sample image</h2>
            </button>
            <input type="text" placeholder="Description" class="mt-3">
          </div>
          <div class="col-sm-3 text-center">
          </div>
        </div>

        <div class="attach mt-3 mb-5">
          <a href="#"><img src="assets/images/test/Mask.png"></a>
          <h2>Attachments (0/4)</h2>
          <button type="button"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</button>
        </div>



        <div class="box-shadow">
          <div class="custom-control custom-checkbox question-label mt-3"
            style="padding: 1.5em 26px; border-bottom:1px solid #F1F6FB; border-top:1px solid #F1F6FB;">
            <label class="question-checkbox col-md-8">Rich-text responses for learners?
              <input type="checkbox">
              <span class="mark"></span>
            </label>
          </div>

          <div class="custom-control custom-checkbox question-label"
            style="padding: 1.5em 26px; border-bottom:1px solid #F1F6FB;">
            <label class="question-checkbox col-sm-2">Character Limit
              <input type="checkbox" checked="checked">
              <span class="mark"></span>
            </label>

            <input type="text" class="ml-3">
          </div>



          <div class="custom-control custom-checkbox question-label"
            style="padding: 1.5em 26px; border-bottom:1px solid #F1F6FB;">
            <label class="question-checkbox col-sm-2">Partial Points
              <input type="checkbox" checked="checked">
              <span class="mark"></span>
            </label>
            <p class="col-md-6"><span style="color: #81c8c1;">Note:</span> Points are rounded to the nearest 1 decimal
            </p>
          </div>
          <div class="custom-control custom-checkbox mb-3 question-label"
            style="padding: 1.5em 26px; border-bottom:1px solid #F1F6FB;">
            <label class="col-sm-2">Points
            </label>
            <input type="text" class="ml-3">
          </div>
        </div>
        <div class="container" style="padding: 18px 0 0 0; display: flex;">
          <!--
                  <button type="button" class="blue">Confirm</button>
                  <button type="button" class="blue-border">Cancel</button>
                  <button type="button" class="lime"><a href="#">Edit</a></button>
                  <button type="button" class="Org"><a href="#">Confirm Edit</a></button>
                  -->
          <a href="#" class="addbutton custom-button">Save Question</a>
          <a href="#" class="edit-points-btn custom-button">Cancel</a>
        </div>
        <!--
            <div class="container multi-choice-orange" style="padding: 6px 0 0 0;">
               <button type="button">Confirm Edit</button>
            </div>
-->
      </div>
    </div>
  </div>
</div>