/*font family*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 * {
	padding: 0;
	box-sizing: border-box;
}
.container {
	margin: 0 auto;
}
html,
body {
	margin: 0;
	padding: 0;
	color: #8e8e8e;
	line-height: 1.4;
	font-size: 16px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
	font-weight: 400;
	font-style: normal;
	font-family: 'Rubik', sans-serif;
}
:focus {
	outline: none !important;
}
img {
	border: 0;
	height: auto;
	display: block;
	max-width: 100%;
}
a {
	cursor: pointer;
}
ul,
li,
a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	transition: all 0.3s ease;
	list-style: none;
	font-family: 'Rubik', sans-serif;
}
ol,
li,
a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	transition: all 0.3s ease;
}
a:hover,
a:focus {
	outline: none;
	text-decoration: none;
}
h1,
h2 {
	color: #343C6A;
	line-height: 1.1;
	font-family: 'Rubik', sans-serif;
}
h3,
h4,
h5,
h6 {
	color: #343C6A;
	line-height: 1.1;
	font-family: 'Rubik', sans-serif;
}
span {
	color: #343C6A;
	line-height: 1.5;
	font-weight: 400;
	font-family: 'Rubik', sans-serif;
}
h1 {
	font-size: 50px;
	font-weight: 700;
}
h2 {
	font-size: 36px;
	font-weight: 700;
}
h3 {
	font-size: 30px;
	font-weight: 600;
}
h4 {
	font-size: 28px;
	font-weight: 600;
}
h5 {
	font-size: 24px;
	font-weight: 600;
}
h6 {
	font-size: 20px;
	font-weight: 600;
}
p {
	color: #8e8e8e;
	line-height: 1.5;
	letter-spacing: 0.5px;
	font-family: 'Rubik', sans-serif;
}
.button,
.btn {
	outline: none;
	font-size: 17px;
	border: 2px solid #396AFF;
	background-color: #396AFF;
	font-weight: 500;
	padding: 10px 30px;
	display: inline-flex;
	color: #fff;
	align-content: center;
	text-decoration: none;
	justify-content: center;
	transition: all 0.3s ease;
	text-transform: uppercase;
	border-radius: 0px;
	font-family: 'Rubik', sans-serif;
}
.button a,
.btn a {
	color: #fff;
}
.button:hover,
.btn:hover {
	background-color: #fff;
	color: #396AFF;
	border-color: #396AFF;
	box-shadow: 11px 10px 9px rgb(0 0 0 / 26%);
}
.button:hover a,
.btn:hover a {
	color: #396AFF;
}
.btn-danger:active:focus,
.btn-danger:active,
.btn-primary:active:focus,
.btn-default:focus,
.btn-danger:focus,
.btn-info:focus,
.btn-primary:focus,
.btn-success:focus {
	outline: none;
	color: #396AFF;
	background-color: #fff;
	border: 2px solid #396AFF;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: none;
	box-shadow: none;
}
input,
select,
textarea,
.form-control {
	resize: none;
	height: 50px;
	width: 100%;
	color: #8e8e8e;
	box-shadow: none;
	font-size: 15px;
	border-radius: 0px;
	background: #fafafa;
	border: 1px solid #e6e6e6;
	line-height: 1.42857143;
	font-weight: 400;
	word-wrap: break-word;
	font-family: 'Rubik', sans-serif;
}
input:focus,
select:focus,
textarea:focus,
.form-control:focus {
	border-color: #e6e6e6;
	box-shadow: none;
	outline: none;
}
.modal .modal-dialog {
	transition: -webkit-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
	transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
	-webkit-transform: translate(0, -50px);
	transform: translate(0, -50px);
}
.modal.show .modal-dialog {
	-webkit-transform: none;
	transform: none;
}
.modal-content {
	border: 0px;
	background-clip: unset;
}
.modal-header {
	padding: 1rem 1rem;
}
.modal-footer {
	padding: 1rem;
}
.modal-body {
	padding: 1rem;
}
.modal-footer:after,
.modal-footer:before {
	display: none;
}
.fieldset {
	margin-bottom: 10px;
}
input[type="date"] {
	background-image: url(/assets/images/input-date.png);
	background-repeat: no-repeat;
	background-position: right 15px bottom 9px;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
	opacity: 0;
	-webkit-appearance: none;
}
.dropdown-toggle {
	cursor: pointer;
}
.custom-a-btn {
	font-family: Barlow;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: 0px;
	color: #fff !important;
	display: flex;
	align-items: center;
	justify-content: center;
}
a.edit-btn {
	background-color: #FFBB38;
	border-radius: 6px;
	width: 77px;
	height: 35px;
	margin-right: 10px;
}
a.edit-btn i {
	font-size: 20px;
	margin-right: 12px;
}
a.delete-btn {
	background-color: #FF5A64;
	border-radius: 6px;
	width: 40px;
	height: 35px;
}
a.delete-btn i {
	font-size: 18px;
}
a.add-btn {
	background: #396AFF;
	border-radius: 6px;
	width: 100px;
	height: 30px;
}
a.confirm-edit-btn {
	width: 127px;
	height: 40px;
	border-radius: 6px;
	background-color: #EDFCFB !important;
	color: #16DBCC !important;
	font-size: 15px;
	font-weight: 600;
	font-family: 'Barlow';
	transition: .5s ease-in-out;
	margin-right: 1em;
}
a.confirm-edit-btn:hover {
	background-color: #16dbcc !important;
	color: #edfcfb !important;
}
a.reject-btn {
	width: 71px;
	height: 40px;
	border-radius: 6px;
	font-size: 15px;
	font-weight: 600;
	font-family: 'Barlow';
	color: #FFA26B !important;
	background-color: #FFF3EC;
	transition: .5s ease-in-out;
}
a.reject-btn:hover {
	background-color: #ffa26b;
	color: #fff3ec !important;
}
a.add-btn i {
	margin: 2px 7px 0 0;
	font-size: 10px;
}
.prospectus-action select {
	width: 241px;
	height: 40px;
	border-radius: 8px;
	border: 1px solid #F3F6FF;
	margin-right: 1em;
	font-size: 13px;
	font-weight: 400;
	font-family: 'Barlow';
	color: #5b73a0;
}
a.confirm-btn {
	background: #FFBB38;
	border-radius: 6px;
	width: 110px;
	height: 35px;
	margin-right: 10px;
}
a.cancel-btn {
	background: #FFF3EC;
	border-radius: 6px;
	width: 75px;
	height: 35px;
	color: #FFA26B !important;
}
/*sidebar dashboard css start*/

.sidebar-dashboard {
	position: fixed;
	display: flex;
	height: 100%;
	z-index: 2;
}
.sidebar-blue {
	background-color: #396AFF;
	height: 100%;
	width: 58px;
	padding: 20px 10px;
	transition: all .3s;
}
.sidebar-blue .primary-sidebar {
	border: 0px;
}
.sidebar-blue .primary-item {
	padding: 0px;
	border: 0px;
	display: flex;
	height: 38px;
	font-size: 0px;
	justify-content: flex-start;
	color: #fff;
	align-items: center;
	transition: all .3s;
	position: relative;
	text-transform: capitalize;
	font-family: Barlow;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 1px;
}
.sidebar-blue .primary-item span {
	font-family: Barlow;
	font-size: 0px;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 0px;
	text-align: left;
	color: #fff;
	width: 0;
	transition: all .3s;
}
.sidebar-blue .primary-item:hover span {
	color: #396aff;
	text-align: right;
}
.sidebar-blue nav li.submenu-order {
	margin-bottom: 15px;
}
.sidebar-blue nav li.submenu-order:last-child {
	margin-bottom: 0px;
}
.sidebar-blue .primary-item.active {
	background-color: transparent;
}
.sidebar-blue .primary-item img {
	width: fit-content;
	height: fit-content;
	margin: 0 auto;
}
.sidebar-blue .primary-item img.hover-in {
	display: none;
}
.sidebar-blue .user-menu-nav {
	display: flex;
	align-items: flex-end;
	width: 100%;
}
.sidebar-blue .sidebar-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 100%;
	overflow-y: scroll;
}
.sidebar-blue .sidebar-menu::-webkit-scrollbar {
	width: 0px;
	height: 70%;
}
.sidebar-blue .sidebar-menu::-webkit-scrollbar-thumb {
	background: #1243d8;
	border: 0px none #ffffff;
	border-radius: 5px;
}
.sidebar-blue .sidebar-menu .sidebar-bar {
	width: 100%;
	display: flex;
	height: 150px;
	align-items: flex-start;
}
.sidebar-blue .sidebar-menu .sidebar-bar .sidebar-bar-nav {
	width: 100%;
}
.sidebar-blue .sidebar-menu .sidebar-bar .sidebar-bar-nav img {
	cursor: pointer;
	margin: 0 auto;
}
.sidebar-blue .sidebar-menu .sidebar-bar .user-details-dash {
	display: none;
	margin-left: 20px;
	flex-wrap: wrap;
	align-items: center;
	width: calc(100% - 27px);
	transition: all .3s;
}
.sidebar-blue .sidebar-menu .sidebar-bar .user-details-dash figure {
	width: 64px;
	height: 64px;
	margin-bottom: 0px;
	margin-right: 10px;
}
.sidebar-blue .sidebar-menu .sidebar-bar .user-details-dash a {
	border-radius: 6px;
	background-color: #DCFAF8;
	font-family: Barlow;
	font-size: 11px;
	font-weight: 500;
	line-height: 16px;
	color: #16DBCC;
	width: 69px;
	height: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sidebar-blue .sidebar-menu .sidebar-bar .user-details-dash .user-details-name {
	width: 100%;
	padding-top: 10px;
}
.sidebar-blue .sidebar-menu .sidebar-bar .user-details-dash .user-details-name h4 {
	font-family: Barlow;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	text-align: left;
	margin-bottom: 0px;
	color: #fff;
}
.sidebar-blue .sidebar-menu .sidebar-bar .user-details-dash .user-details-name p {
	font-family: Barlow;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 13px;
	letter-spacing: 0px;
	text-align: left;
	color: #fff;
}
.sidebar-blue .sidebar-menu .sidebar-menus-nav {
	display: flex;
	width: 100%;
}
.sidebar-blue .user-menu-nav nav,
.sidebar-blue .sidebar-menu .sidebar-menus-nav nav {
	width: 100%;
}
.sidebar-blue .courses-menu-list {
	display: none;
}
.sidebar-blue .panel-collapse {
	padding: 15px 0px 0px 0px;
}
.sidebar-blue .panel-collapse .panel-collapse-content {
	height: 105px;
	overflow-y: scroll;
	padding: 0px 0px 0px 50px;
}
.sidebar-blue .panel-collapse .panel-collapse-content li {
	position: relative;
	position: relative;
}
.sidebar-blue .panel-collapse .panel-collapse-content li:before {
	content: "";
	background-color: #fff;
	width: 2px;
	height: 162%;
	position: absolute;
	left: -30px;
	top: 0px;
}
.sidebar-blue .panel-collapse .panel-collapse-content::-webkit-scrollbar {
	width: 5px;
	height: 7px;
}
.sidebar-blue .panel-collapse .panel-collapse-content::-webkit-scrollbar-thumb {
	background: #ffffff;
	border: 0px none #ffffff;
	border-radius: 5px;
}
.sidebar-blue .panel-collapse li a {
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0px;
	text-align: left;
	color: #FFFFFF;
	margin-bottom: 10px;
	display: block;
	cursor: pointer;
}
.sidebar-blue .panel-collapse li a:hover {
	color: #fff;
}
.sidebar-dashboard .dashboard-user-sidebar {
	background: #FFFFFF;
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
	border-radius: 0px 15px 15px 0px;
	padding: 0px;
	width: 0px;
	overflow-y: scroll;
	transition: all .3s;
}
.dashboard-user-sidebar::-webkit-scrollbar {
	width: 0px;
}
.dashboard-user-sidebar .user-details-dash {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border-bottom: 0px solid #396AFF;
	border-radius: 2px;
	padding-left: 17px;
	justify-content: space-between;
}
.dashboard-user-sidebar .user-details-dash figure {
	width: 64px;
	height: 64px;
	margin-bottom: 7px;
	margin-right: 10px;
}
.dashboard-user-sidebar .user-details-dash a {
	border-radius: 6px;
	background-color: #DCFAF8;
	font-family: Barlow;
	font-size: 11px;
	font-weight: 500;
	line-height: 16px;
	color: #16DBCC;
	width: 69px;
	height: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dashboard-user-sidebar .user-details-dash .user-details-name {
	display: none;
	width: 100%;
}
.dashboard-user-sidebar .user-details-dash .user-details-name h4 {
	font-family: Barlow;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	text-align: left;
	margin-bottom: 0px;
}
.dashboard-user-sidebar .user-details-dash .user-details-name p {
	font-family: Barlow;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 13px;
	text-align: left;
}
.dashboard-user-sidebar .user-details-dash .dashboard-user-dash {
	display: none;
}
.dashboard-user-sidebar .acknowledgment-user {
	padding: 10px 17px;
	display: none;
}
.dashboard-user-sidebar .acknowledgment-user p {
	font-family: Barlow;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
	text-align: left;
	color: #7990B4;
	text-transform: capitalize;
	margin-bottom: 0px;
}
.dashboard-user-sidebar .acknowledgment-user label {
	font-family: Barlow;
	font-size: 9px;
	font-style: normal;
	font-weight: 400;
	line-height: 13px;
	letter-spacing: 0px;
	text-align: left;
	color: #AFBCD2;
	margin-bottom: 0px;
}
.dashboard-user-sidebar .user-navbar-content {
	display: none;
}
.dashboard-user-sidebar .second-sidebar {
	display: flex;
	flex-wrap: wrap;
}
.dashboard-user-sidebar .second-sidebar .second-item {
	font-family: Barlow;
	font-size: 13px;
	font-style: normal;
	font-weight: 600;
	line-height: 18px;
	text-align: left;
	color: #505887;
	padding: 8px 15px;
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}
.dashboard-user-sidebar .second-sidebar .second-item:last-child {
	margin-bottom: 0px;
}
.dashboard-user-sidebar .second-sidebar .second-item.active {
	background: #EEF5FF;
	border-radius: 15px;
	color: #396AFF;
}
.dashboard-user-sidebar .second-sidebar .second-item img {
	margin-right: 12px;
	/*width: 16px;
    height: 16px;*/
}
.dashboard-user-sidebar .second-sidebar .second-item .hover-in {
	display: none;
}
.dashboard-user-sidebar .second-sidebar .second-item.active .hover-in,
.dashboard-user-sidebar .second-sidebar .second-item:hover .hover-in {
	display: block;
}
.dashboard-user-sidebar .second-sidebar .second-item.active .hover-out,
.dashboard-user-sidebar .second-sidebar .second-item:hover .hover-out {
	display: none;
}
.dashboard-user-sidebar .user-details-dash .course-sidebar {
	cursor: pointer;
}
.dashboard-user-sidebar .second-sidebar .second-item:hover {
	background: #EEF5FF;
	border-radius: 15px;
	color: #396AFF;
}
.dashboard-user-sidebar .user-personal-library {
	border-top: 0.96px solid #F1F6FB;
	margin-top: 5px;
	display: none;
}
.sidebar-dashboard .dashboard-user-sidebar.dashboardtoogleopen {
	width: 235px;
	padding: 20px;
}
.sidebar-dashboard .dashboard-user-sidebar.dashboardtoogleopen::-webkit-scrollbar {
	width: 0px;
	height: 70%;
}
.sidebar-dashboard .dashboard-user-sidebar.dashboardtoogleopen::-webkit-scrollbar-thumb {
	background: #1243d8;
	border: 0px none #ffffff;
	border-radius: 5px;
}
.dashboard-user-sidebar.dashboardtoogleopen .user-details-dash {
	display: flex;
	border-bottom: 5px solid #396AFF;
}
.dashboard-user-sidebar.dashboardtoogleopen .dashboard-user-dash {
	display: flex;
	align-items: center;
}
.dashboard-user-sidebar.dashboardtoogleopen .user-details-dash .user-details-name {
	display: block;
}
.dashboard-user-sidebar.dashboardtoogleopen .user-personal-library,
.dashboard-user-sidebar.dashboardtoogleopen .user-navbar-content,
.dashboard-user-sidebar.dashboardtoogleopen .acknowledgment-user {
	display: block;
}
.sidebar-dashboard .dashboard-user-sidebar.dashboardtoogleclose {
	padding: 20px;
	width: 63px;
}
.dashboard-user-sidebar.dashboardtoogleclose .acknowledgment-user {
	display: block;
	height: 150px;
	padding: 0px;
}
.dashboard-user-sidebar.dashboardtoogleclose .user-personal-library,
.dashboard-user-sidebar.dashboardtoogleclose .user-navbar-content {
	display: block;
	padding: 0px;
}
.dashboard-user-sidebar.dashboardtoogleclose .acknowledgment-user label,
.dashboard-user-sidebar.dashboardtoogleclose .acknowledgment-user p {
	font-size: 0px;
}
.dashboard-user-sidebar.dashboardtoogleclose .second-sidebar .second-item {
	font-size: 0px;
	padding: 0px;
	margin-bottom: 20px;
}
.dashboard-user-sidebar.dashboardtoogleclose .second-sidebar .second-item.active,
.dashboard-user-sidebar.dashboardtoogleclose .second-sidebar .second-item:hover {
	background: transparent;
}
.dashboard-user-sidebar.dashboardtoogleclose .user-details-dash {
	padding-left: 0px;
}
.dashboard-user-sidebar.dashboardtoogleclose .second-sidebar .second-item img,
.dashboard-user-sidebar.dashboardtoogleclose .user-details-dash .dashboard-user-collapse {
	margin: 0 auto;
}
.dashboard-user-sidebar.dashboardtoogleclose .user-dash-wrapper {
	height: 116px;
}
.sidebar-blue.toogleopen {
	padding: 20px 5px 10px;
	width: 230px;
}
.sidebar-blue.toogleopen .sidebar-menu .sidebar-bar {
	padding-left: 15px;
}
.sidebar-blue.toogleopen .sidebar-menu .sidebar-bar .user-details-dash {
	display: flex;
}
.sidebar-blue.toogleopen .sidebar-menu .sidebar-bar .sidebar-bar-nav {
	width: 27px;
}
.sidebar-blue.toogleopen .primary-item {
	font-size: 14px;
	padding: 0px 10px;
	border-radius: 50px;
}
.sidebar-blue.toogleopen .primary-item span {
	font-size: 14px;
	width: 100%;
}
.sidebar-blue.toogleopen .primary-item img {
	margin: unset;
	margin-right: 20px;
}
.sidebar-blue.toogleopen .primary-item img.hover-in {
	display: none;
}
.sidebar-blue.toogleopen .primary-item:hover img.hover-in {
	display: block;
}
.sidebar-blue.toogleopen .primary-item:hover img.hover-out {
	display: none;
}
.sidebar-blue.toogleopen .primary-item.toggle-switch i {
	font-size: 22px;
	top: 3px;
	position: relative;
}
.sidebar-blue.toogleopen .primary-item.toggle-switch {
	background-color: #fff;
	color: #396aff;
	justify-content: flex-end;
}
.sidebar-blue.toogleopen .courses-menu-list {
	display: block;
}
.sidebar-blue.toogleopen .primary-item.toggle-switch span {
	color: #396aff;
	text-align: right;
}
.sidebar-blue.toogleopen .primary-item.toggle-switch.collapsed span {
	color: #fff;
	text-align: left;
}
.sidebar-blue.toogleopen .primary-item.toggle-switch.collapsed:hover span {
	color: #396aff;
	text-align: right;
}
.sidebar-blue.toogleopen .primary-item.toggle-switch.collapsed img.hover-out {
	display: block;
}
.sidebar-blue.toogleopen .primary-item.toggle-switch.collapsed img.hover-in {
	display: none;
}
.sidebar-blue.toogleopen .primary-item.toggle-switch.collapsed:hover img.hover-in {
	display: block;
}
.sidebar-blue.toogleopen .primary-item.toggle-switch.collapsed:hover img.hover-out {
	display: none;
}
.sidebar-blue.toogleopen .primary-item.toggle-switch img.hover-out {
	display: none;
}
.sidebar-blue.toogleopen .primary-item.toggle-switch img.hover-in {
	display: block;
}
.sidebar-blue .primary-item.toggle-switch.collapsed i {
	color: #fff;
}
.sidebar-blue .primary-item.toggle-switch i {
	font-size: 0px;
	padding-left: 5px;
	color: #396aff;
}
.sidebar-blue .primary-item.toggle-switch:hover i {
	color: #396aff;
}
.sidebar-blue.toogleopen .primary-item.collapsed {
	background-color: transparent;
	color: #fff;
	justify-content: flex-start;
}
.sidebar-blue.toogleopen .primary-item.collapsed img {
	position: relative;
	left: unset;
}
.sidebar-blue.toogleopen .primary-item:hover {
	background-color: #fff;
	color: #396aff;
}
.dashboard {
	background-color: #fbfcfe;
	min-height: 100vh;
}
.control-panel {
	padding-left: 58px;
	transition: all .3s;
}
.control-panel.toogleopen {
	padding-left: 230px;
}
.control-panel.dashboardtoogleclose {
	padding-left: 293px;
}
.control-panel.dashboardtoogleopen {
	padding-left: 293px;
}
/*sidebar dashboard css end*/

.prospectus-section {
	padding: 20px;
}
.prospectus-section .prospectus-tabs {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.prospectus-tabs h3 {
	font-size: 22px;
	font-weight: 500;
	font-family: 'Rubik';
	color: #343c6a;
	font-style: normal;
}
.prospectus-section .prospectus-tabs .nav-tabs {
	border: 0px;
}
.prospectus-section .prospectus-tabs ul li a {
	background-color: #F3F6FF;
	border-radius: 8px 8px 0px 0px;
	margin-right: 10px;
	padding: 12px 20px;
	font-family: Barlow;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	text-align: center;
	display: block;
	color: #5B73A0;
}
.prospectus-section .prospectus-tabs ul li a.active {
	color: #396AFF;
	background-color: #fff;
}
.prospectus-section .prospectus-tabs .prospectus-action {
	display: flex;
	align-items: center;
}
.prospectus-section .tab-content {
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	padding: 20px 10px;
	border-radius: 0px 8px 8px 8px;
}


/*Test Listing CSS*/

.yellow-wrapper:hover {
	/*    transform: scale(1.02);*/
	box-shadow: 2px 2px 10px #FFBB38 !important;
}
.blue-wrapper:hover {
	box-shadow: 2px 2px 10px #396AFF !important;
}
.green-wrapper:hover {
	box-shadow: 2px 2px 10px #81C8C1 !important;
}
.sequence-list table.dashboard-table thead th {
	color: #7990B4;
}
.sequence-list table.dashboard-table thead.thead-course {
	border: 0px;
}
table.dashboard-table td i.fa-check {
	color: #81C8C1;
	font-size: 16px;
}
.sequence-nav-wrapper {
	padding: 0px 20px;
	display: flex;
	width: 100%;
}
.sequence-duration-wrapper {
	display: block;
	flex-wrap: wrap;
	width: 293px;
}
.sequence-duration-wrapper .sequence-class-code {
	width: 100%;
	display: flex;
	background-color: #FFFFFF;
	border: 2px solid #F1F6FB;
	border-radius: 8px;
	padding: 10px;
	align-items: center;
	margin-bottom: 10px;
}
.sequence-duration-wrapper .sequence-class-code img {
	width: 24px;
}
.sequence-duration-wrapper .sequence-class-code span {
	font-family: Barlow;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: left;
	color: #DCE2EC;
	margin: 0px 20px 0px 10px;
}
.sequence-duration-wrapper .sequence-class-code p {
	font-family: Barlow;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	display: flex;
	align-items: center;
	color: #7990B4;
	margin-bottom: 0px;
}
.sequence-duration-wrapper .sequence-duration-code {
	width: 100%;
	display: flex;
	background-color: #FFFFFF;
	border: 2px solid #F1F6FB;
	border-radius: 8px;
	padding: 10px;
	align-items: center;
	height: fit-content;
}
.sequence-duration-wrapper .sequence-duration-code img {
	width: 24px;
}
.sequence-duration-wrapper .sequence-duration-code .sequence-start-date {
	margin: 0px 20px 0px 10px;
}
.sequence-duration-wrapper .sequence-duration-code .sequence-end-date span,
.sequence-duration-wrapper .sequence-duration-code .sequence-start-date span {
	font-family: Barlow;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: left;
	color: #7990B4;
}
.sequence-duration-wrapper .sequence-duration-code .sequence-end-date p,
.sequence-duration-wrapper .sequence-duration-code .sequence-start-date p {
	font-family: Barlow;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: left;
	margin-bottom: 0px;
	color: #DCE2EC;
}
.sequence-element-wrapper {
	width: calc(100% - 293px);
	padding-left: 10px;
	display: flex;
}
.sequence-element-wrapper a {
	background-color: #FFFFFF;
	border: 2px solid #F1F6FB;
	border-radius: 8px;
	display: flex;
	align-items: center;
	padding: 10px;
	justify-content: space-between;
	width: 32%;
	margin-right: 10px;
	transition: all .3s;
}
.sequence-element-wrapper a:hover {
	transform: scale(1.02);
	box-shadow: 0px 0px 15px 0px rgb(228 236 245);
}
.sequence-element-wrapper a div {
	width: calc(100% - 82px);
}
.sequence-element-wrapper a h6 {
	font-family: Rubik;
	font-size: 36px;
	font-style: normal;
	font-weight: 500;
	line-height: 41px;
	letter-spacing: 0px;
	text-align: left;
	color: #343C6A;
}
.sequence-element-wrapper a span {
	font-family: Barlow;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: left;
	color: #7990B4;
}
.sequence-element-wrapper .sequence-class-curve figure {
	width: 69px;
	height: 69px;
	background-color: #FFF5D9;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0px;
}
.sequence-element-wrapper .sequence-tests-curve figure {
	width: 69px;
	height: 69px;
	background-color: #EEF5FF;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0px;
}
.sequence-element-wrapper .sequence-assignments-curve figure {
	width: 69px;
	height: 69px;
	background-color: #DCFAF8;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0px;
}
.test-button {
	justify-content: flex-end;
	width: 100%;
	padding: 1em 3em 0 3em;
}
.test-button button {
	border: none;
	background: #396aff;
	width: 98px;
	color: #fff;
	height: 40px;
	border-radius: 6px;
	border: 2px solid #396aff;
	padding: 0;
	transition: .5s ease-in-out;
}
.test-button button a {
	color: #fff;
	font-size: 15px;
	font-weight: 600;
}
.test-button button:hover {
	background-color: #396affc2;
}
.dashed-border {
	border-bottom: 1px dashed #E7EDFF;
	padding-bottom: 1em;
}
.table-filter {
	position: relative;
}
.table-filter:after {
	content: "";
	background-image: url(/assets/images/dashboard/up-down-filter.png);
	width: 11px;
	height: 11px;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	transform: translate(5px, -50%);
}
table.dashboard-table th .radio-table-latest {
	text-align: center;
}
table.dashboard-table th .radio-table-latest input[type="radio"] {
	width: 20px;
	height: 20px;
	position: relative;
	visibility: hidden;
	cursor: pointer;
}
table.dashboard-table th .radio-table-latest input[type="radio"]:before {
	content: "\f1db";
	font: normal normal normal 14px/1 FontAwesome;
	background-color: #F3F6FF;
	visibility: visible;
	border: 1px solid #C3D2FF;
	border-radius: 100%;
	color: transparent;
	width: 20px;
	display: block;
	height: 20px;
	z-index: 1;
	position: absolute;
}
table.dashboard-table th .radio-table-latest input[type="radio"]:after {
	content: "";
	font: normal normal normal 14px/1 FontAwesome;
	background-color: #396AFF;
	visibility: visible;
	border: 1px solid #396AFF;
	border-radius: 100%;
	color: #396AFF;
	width: 20px;
	display: block;
	height: 20px;
	position: absolute;
}
table.dashboard-table th .radio-table-latest input[type="radio"]:checked:after {
	content: "\f111";
	z-index: 1;
}
table.dashboard-table thead th {
	border: 0px;
	font-family: Barlow;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: 0px;
	text-align: center;
	color: #333B6A;
}
table.dashboard-table th {
	border: 0px;
}
table.dashboard-table td {
	border: 0px;
	font-family: Barlow;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0px;
	text-align: center;
	color: #343C6A;
}
table.dashboard-table td .highlight {
	color: #396AFF;
	text-decoration: underline;
}
table.dashboard-table td .effective {
	color: #81C8C1;
	font-weight: 600;
}
table.dashboard-table td .finish {
	color: #FFBB38;
	font-weight: 600;
}
table.dashboard-table td .go-to-class {
	background: #FFA26B;
	border-radius: 3px;
	color: #FFFFFF;
	padding: 5px 0px;
}
table.dashboard-table tbody tr {
	border-bottom: 1px solid #F1F6FB;
}
table.dashboard-table th .radio-table {
	text-align: center;
}
table.dashboard-table th .radio-table input[type="checkbox"] {
	width: 20px;
	height: 20px;
	position: relative;
	visibility: hidden;
	cursor: pointer;
}
table.dashboard-table th .radio-table input[type="checkbox"]:before {
	content: "\f1db";
	font: normal normal normal 14px/1 FontAwesome;
	background-color: #F3F6FF;
	visibility: visible;
	border: 1px solid #C3D2FF;
	border-radius: 100%;
	color: transparent;
	width: 20px;
	display: block;
	height: 20px;
	z-index: 1;
	position: absolute;
}
table.dashboard-table th .radio-table input[type="checkbox"]:after {
	content: "";
	font: normal normal normal 14px/1 FontAwesome;
	background-color: #396AFF;
	visibility: visible;
	border: 1px solid #396AFF;
	border-radius: 100%;
	color: #396AFF;
	width: 20px;
	display: block;
	height: 20px;
	position: absolute;
}
table.dashboard-table th .radio-table input[type="checkbox"]:checked:after {
	content: "\f111";
	z-index: 1;
}
table.dashboard-table tbody {
	border-bottom: 2px solid #F1F6FB;
	border-top: 2px solid #F1F6F8;
}
table.dashboard-table thead {
	border-bottom: 2px solid #F1F6FB;
}
table.dashboard-table td input {
	background-color: #fff;
	border: 1px solid #E7EDFF;
	box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
	border-radius: 6px;
	padding: 5px 15px;
	height: auto;
	font-family: Barlow;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0px;
	color: #343C6A;
}
.table-result-wrapper {
	padding: 20px 10px;
	display: flex;
	align-items: center;
}
.table-result-wrapper p {
	font-family: Barlow;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: 0px;
	text-align: left;
	margin-bottom: 0px;
	color: #7990B4;
}
.purple button {
	cursor: default !important;
	height: 19px;
	width: 38px;
	border-radius: 6px;
	background-color: #EBEBF7;
	border: none;
	font-size: 15px;
	font-weight: 500;
}
.light-pink button {
	cursor: default !important;
	height: 19px;
	width: 48px;
	border-radius: 6px;
	background-color: #FFF2F8;
	border: none;
	font-size: 15px;
	font-weight: 500;
	color: #FF82AC;
}
.selector {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.selector ul {
	display: flex;
	justify-content: right;
	position: relative;
}
.selector ul li a {
	padding: 6px 10px !important;
	color: #7990B4;
	font-size: 13px;
}
.selector ul li a:hover {
	background: #396aff;
	border-radius: 6px;
	padding: 6px 10px !important;
	color: #fff !important;
}
.selector ul li i {
	padding: 0 0;
}
.setting-input {
	display: flex;
	align-items: center;
	padding: 1.5em 0px;
}
.setting-input label {
	margin: 0 0;
	font-size: 15px;
	color: #5B73A0;
	font-weight: 500;
}
.setting-input input {
	width: 227px;
	height: 35px;
	background: #FFFFFF;
	border: 1px solid #E7EDFF;
	box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.02);
	border-radius: 6px;
	padding: 6px 6px;
}
.text-area textarea {
	width: 720.88px;
	height: 182px;
	/*
    border-radius: 6px;
    margin: 0 10px;
*/
	padding: 35px 0 0 26px;
	/* background-image: url(/assets/images/test/word-tool.png); */
	background-repeat: no-repeat;
	white-space: normal;
	overflow-wrap: normal;
	border-radius: 6px;
	resize: auto;
}
.text-area textarea::placeholder {
	color: #7990B4;
	font-size: 15px;
	font-weight: 400;
}
.text-area {
	display: flex;
	align-items: flex-start;
}
.setting-padding {
	padding: 0 23px !important;
}
.setting-rectangle {
	position: absolute;
	left: 3em;
	top: 6px;
	display: flex;
	align-items: center;
}
.setting-date-section input[type="date"] {
	background-image: url(/assets/images/input-date.png);
	background-repeat: no-repeat;
	background-position: right 15px bottom 9px;
}
.setting-date-section input {
	width: 194px !important;
}
.custom-checkbox input[type=checkbox] {
	width: 35px;
	height: 35px;
	margin-right: 8px;
	cursor: pointer;
	font-size: 17px;
	visibility: hidden;
	margin: 0 -4px;
}
.custom-checkbox input[type=checkbox]:after {
	content: " ";
	background-color: #fff;
	display: inline-block;
	margin-left: 10px;
	padding-bottom: 5px;
	color: #7990B4;
	width: 35px;
	height: 35px;
	visibility: visible;
	border: 1px solid #E7EDFF;
	padding-left: 3px;
	border-radius: 6px;
}
.custom-checkbox input[type=checkbox]:checked:after {
	content: "\2714";
	font-weight: bold;
	font-size: 26px;
	padding: 0px 5px;
}
.bottom-border {
	border-bottom: 1px solid #F1F6FB;
}
.setting-select select {
	width: 94px;
	height: 35px;
	border-radius: 6px;
	border: 1px solid #e7edff;
	padding: 0 6px;
	transition: .5s ease-in-out;
}
.blue {
	width: 92px;
	height: 35px;
	border-radius: 6px;
	background-color: #396aff;
	border: 2px solid #396aff;
	transition: .5s ease-in-out;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	font-family: 'Barlow';
}
.blue:hover {
	background-color: transparent;
	color: #396aff;
}
.blue-border {
	width: 75px;
	height: 35px;
	border-radius: 6px;
	border: 2px solid #396aff;
	background-color: transparent;
	color: #396aff;
	font-size: 15px;
	font-weight: 600;
	transition: .5s ease-in-out;
	margin-left: 16px;
}
.blue-border:hover {
	background-color: #396aff;
	color: #fff;
}
.custom input {
	width: 148px;
	height: 35px;
	border-radius: 6px;
	border: 1px solid #e7edff;
	margin-left: 1.8em;
	padding: 5px 5px;
}
.attempt select {
	width: 148px;
	height: 35px;
	border-radius: 6px;
	border: 1px solid #e7edff;
	margin-left: 3em;
	padding: 5px 5px;
}
.custom label {
	font-size: 13px;
	font-weight: 400;
	color: #81c8c1;
	padding-left: 5px;
}
.custom {
	padding: 0 19px;
}
.box-shadow input[type=text]:focus,
textarea:focus,
select:focus,
input[type=time]:focus,
input[type=date]:active,
input[type=checkbox]:focus {
	box-shadow: 0 0 5px rgb(255, 162, 107);
	border: 1px solid rgb(255, 162, 107);
}
.box-shadow input,
textarea,
select {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	padding: 4px 6px;
	border: 1px solid #DDDDDD;
}
.tstbtn {
	background-color: transparent;
	font-size: 16px;
	padding: 6px 6px 6px 14px;
	border: none;
	cursor: pointer;
}
.tstbtn i {
	color: #5B73A0;
}
.tstdown {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.tstdown-content {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 100px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
	z-index: 1;
	top: 17.4em;
	right: 3.9em;
	border-radius: 6px;
	transition: .5s ease-in-out;
}
.tstdown-content a {
	padding: 7px 16px;
	text-decoration: none;
	display: block;
	font-size: 13px;
	font-weight: 400;
	color: #5B73A0 !important;
}
.tstdown-content a i {
	padding-right: 8px;
}
.tstdown-content a:hover {
	color: #396aff !important;
}
.show {
	display: block;
}

.ellipbtn {
	background: transparent;
	border: none;
}

.bottom-select select {
	width: 56px;
	height: 35px;
	border-radius: 6px;
	margin-right: 5px;
}

/*Test Listing CSS End*/

/*Delete Test modal css start*/

.deletetest-modal .modal-dialog {
	max-width: 700px;
}
.deletetest-modal .modal-header {
	background-color: #fff;
	position: relative;
	border-bottom: 0px;
}
.deletetest-modal .modal-header h4 {
	font-family: Barlow;
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
	color: #fff;
	margin-bottom: 0px;
}
.deletetest-modal .modal-body {
	padding: 0px;
}
.deletetest-modal .modal-body .delete-field {
	/*	margin-bottom: 20px;*/
	text-align: center;
}
.deletetest-modal .modal-body .delete-field h1 {
	font-size: 24px;
	font-weight: 500;
	font-family: 'Rubik';
	margin: 0;
}
.deletetest-modal .modal-body .delete-field i {
	font-size: 6em;
	color: #16DBCC;
}
.deletetest-modal .modal-body .delete-field span {
	font-family: Barlow;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: right;
	color: #5B73A0;
	width: 100px;
	margin-right: 20px;
}
.deletetest-modal .modal-body .delete-field p {
	font-family: Barlow;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: left;
	color: #7990B4;
	margin-bottom: 0px;
	width: calc(100% - 115px);
}
.deletetest-modal .modal-body .class-delete-curve {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.deletetest-modal .modal-body .class-delete-curve .delete-field {
	width: 49%;
}
.deletetest-modal .modal-body .delete-field .class-code-text {
	background: rgba(255, 232, 218, 0.5);
	box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.02);
	border-radius: 6px;
	font-family: Barlow;
	font-size: 18px;
	font-style: italic;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: left;
	color: #FFA26B;
	padding: 5px 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.deletetest-modal .modal-body .class-del-caption {
	padding: 20px 70px 10px;
	/*	border-bottom: 1px solid #F1F6FB;*/
}
.deletetest-modal .modal-body .class-del-caption p {
	font-family: Barlow;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: center;
	color: #5B73A0;
}
.deletetest-modal .modal-body .class-deltest-btn {
	padding: 40px 10px;
	text-align: center;
}
.deletetest-modal .modal-body .class-deltest-btn button.class-proceed-btn {
	height: 35px;
	width: 152px;
	border-radius: 6px;
	background-color: #FF5A64;
	padding: 0px;
	border: 0px;
	font-family: Barlow;
	font-size: 15px;
	font-weight: 500;
	line-height: 1px;
	text-align: left;
	text-transform: unset;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #fff !important;
	margin-right: 5px;
}
.deletetest-modal .modal-body .class-deltest-btn button.class-cancel-btn {
	height: 35px;
	width: 75px;
	border-radius: 6px;
	background-color: #DCFAF8;
	padding: 0px;
	border: 0px;
	font-family: Barlow;
	font-size: 15px;
	font-weight: 500;
	line-height: 1px;
	text-align: left;
	text-transform: unset;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #81C8C1 !important;
}
.deletetest-modal .deleteportion {
	border-top: 1px solid #F1F6FB;
	border-bottom: 1px solid #F1F6FB;
	display: flex;
	align-items: center;
}
.deletetest-modal .deleteportion p {
	margin: 0;
	padding: 8px 0 8px 0;
	font-size: 15px;
	font-weight: 500;
	font-family: 'Barlow';
	color: #5b73a0;
}
.displayflex-items {
	display: flex;
	align-items: center;
}
.deleteportion i {
	color: #396aff;
	padding: 0 10px 0 0;
}
.deleteportion button i {
	color: #FF82AC;
}
.deleteportion button {
	border: none;
	background-color: transparent;
}
.deleteclose {
	float: right;
	font-size: 16px;
	/*    font-weight: 700;*/
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
}
.delete-test {
	width: 120px;
	height: 35px;
	border-radius: 6px;
	background-color: #396aff;
	border: 2px solid #396aff;
	font-size: 15px;
	font-weight: 600;
	font-family: 'Barlow';
	color: #fff;
	transition: .5s ease-in-out;
}
.delete-test:hover {
	background-color: #fff;
	color: #396aff;
}
/*Delete Test modal css end*/

/*Attach modal css start*/

.attach-modal .modal-dialog {
	max-width: 700px;
}
.attach-modal .modal-header {
	background-color: #EEF5FF;
	position: relative;
	border-bottom: 0px;
}
.attach-modal .modal-header h4 {
	font-family: 'Rubik';
	font-size: 17px;
	font-weight: 500;
	line-height: 28px;
	color: #396aff;
	margin-bottom: 0px;
}
.attach-modal .modal-body {
	padding: 0px;
}
.attach-modal .modal-body .delete-field {
	/*	margin-bottom: 20px;*/
	text-align: center;
}
.attach-modal .modal-body .delete-field h1 {
	font-size: 24px;
	font-weight: 500;
	font-family: 'Rubik';
	margin: 0;
}
.attach-modal .modal-body .delete-field i {
	font-size: 6em;
	color: #16DBCC;
}
.attach-modal .modal-body .delete-field span {
	font-family: Barlow;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: right;
	color: #5B73A0;
	width: 100px;
	margin-right: 20px;
}
.attach-modal .modal-body .delete-field p {
	font-family: Barlow;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: left;
	color: #7990B4;
	margin-bottom: 0px;
	width: calc(100% - 115px);
}
.attach-modal .modal-body .class-delete-curve {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.attach-modal .modal-body .class-delete-curve .delete-field {
	width: 49%;
}
.attach-modal .modal-body .delete-field .class-code-text {
	background: rgba(255, 232, 218, 0.5);
	box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.02);
	border-radius: 6px;
	font-family: Barlow;
	font-size: 18px;
	font-style: italic;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: left;
	color: #FFA26B;
	padding: 5px 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.attach-modal .modal-body .class-del-caption {
	padding: 20px 70px 10px;
	/*	border-bottom: 1px solid #F1F6FB;*/
}
.attach-modal .modal-body .class-del-caption p {
	font-family: Barlow;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: center;
	color: #5B73A0;
}
.attach-modal .modal-body .class-deltest-btn {
	padding: 10px 0 4em 2em;
	text-align: center;
}
.attach-modal .modal-body .class-deltest-btn button.class-proceed-btn {
	height: 35px;
	width: 152px;
	border-radius: 6px;
	background-color: #FF5A64;
	padding: 0px;
	border: 0px;
	font-family: Barlow;
	font-size: 15px;
	font-weight: 500;
	line-height: 1px;
	text-align: left;
	text-transform: unset;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #fff !important;
	margin-right: 5px;
}
.attach-modal .modal-body .class-deltest-btn button.class-cancel-btn {
	height: 35px;
	width: 75px;
	border-radius: 6px;
	background-color: #DCFAF8;
	padding: 0px;
	border: 0px;
	font-family: Barlow;
	font-size: 15px;
	font-weight: 500;
	line-height: 1px;
	text-align: left;
	text-transform: unset;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #81C8C1 !important;
}
.attach-modal .attachportion {
	border-top: 1px solid #F1F6FB;
	border-bottom: 1px solid #F1F6FB;
	display: flex;
	align-items: center;
}
.attach-modal .attachportion p {
	margin: 0;
	padding: 8px 6px 8px 13px;
	font-size: 15px;
	font-weight: 500;
	font-family: 'Barlow';
	color: #5b73a0;
}
.displayflex-items {
	display: flex;
	align-items: center;
}
.attachportion i {
	color: #396aff;
	padding: 0 10px 0 0;
}
.attachportion button i {
	color: #FF82AC;
}
.attachportion button {
	border: none;
	background-color: transparent;
}
.deleteclose {
	float: right;
	font-size: 16px;
	/*    font-weight: 700;*/
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
}
.delete-test {
	width: 120px;
	height: 35px;
	border-radius: 6px;
	background-color: #396aff;
	border: 2px solid #396aff;
	font-size: 15px;
	font-weight: 600;
	font-family: 'Barlow';
	color: #fff;
	transition: .5s ease-in-out;
}
.delete-test:hover {
	background-color: #fff;
	color: #396aff;
}
.attachrect {
	border: 5px dashed #DCE2EC;
	text-align: center;
	padding: 2em 0 2em 0;
}
.attachrect img {
	margin: 0 0;
	padding: 0 19em;
}
.attachrect p {
	margin: 0px 0px;
	font-size: 15px;
	color: #afbcd2;
	font-weight: 400;
	font-family: 'Barlow';
}
.attachrect p span {
	color: #396aff;
}
.attachrect p span a {
	font-weight: 500;
	text-decoration: underline;
}
.class-deltest-btn p {
	font-size: 13px;
	font-weight: 500;
	font-family: 'Barlow';
	color: #5B73A0;
}
/* Attach modal css end*/

/*Remove Question modal css start*/

.removetest-modal .modal-dialog {
	max-width: 700px;
}
.removetest-modal .modal-header {
	background-color: #fff;
	position: relative;
	border-bottom: 0px;
}
.removetest-modal .modal-header h4 {
	font-family: Barlow;
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
	color: #fff;
	margin-bottom: 0px;
}
.removetest-modal .modal-body {
	padding: 0px;
}
.removetest-modal .modal-body .remove-field {
	/*	margin-bottom: 20px;*/
	text-align: center;
}
.removetest-modal .modal-body .remove-field h1 {
	font-size: 24px;
	font-weight: 500;
	font-family: 'Rubik';
	margin: 0;
}
.removetest-modal .modal-body .remove-field i {
	font-size: 6em;
	color: #16DBCC;
}
.removetest-modal .modal-body .remove-field span {
	font-family: Barlow;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: right;
	color: #5B73A0;
	width: 100px;
	margin-right: 20px;
}
.removetest-modal .modal-body .remove-field p {
	font-family: Barlow;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: left;
	color: #7990B4;
	margin-bottom: 0px;
	width: calc(100% - 115px);
}
.removetest-modal .modal-body .class-delete-curve {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.removetest-modal .modal-body .remove-field .class-code-text {
	background: rgba(255, 232, 218, 0.5);
	box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.02);
	border-radius: 6px;
	font-family: Barlow;
	font-size: 18px;
	font-style: italic;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: left;
	color: #FFA26B;
	padding: 5px 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.removetest-modal .modal-body .class-del-caption {
	padding: 20px 70px 10px;
	/*	border-bottom: 1px solid #F1F6FB;*/
}
.removetest-modal .modal-body .class-del-caption p {
	font-family: Barlow;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: center;
	color: #5B73A0;
}
.removetest-modal .modal-body .class-remove-btn {
	padding: 40px 10px;
	text-align: center;
}
.removetest-modal .modal-body .class-deltest-btn button.class-proceed-btn {
	height: 35px;
	width: 152px;
	border-radius: 6px;
	background-color: #FF5A64;
	padding: 0px;
	border: 0px;
	font-family: Barlow;
	font-size: 15px;
	font-weight: 500;
	line-height: 1px;
	text-align: left;
	text-transform: unset;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #fff !important;
	margin-right: 5px;
}
.removetest-modal .modal-body .class-deltest-btn button.class-cancel-btn {
	height: 35px;
	width: 75px;
	border-radius: 6px;
	background-color: #DCFAF8;
	padding: 0px;
	border: 0px;
	font-family: Barlow;
	font-size: 15px;
	font-weight: 500;
	line-height: 1px;
	text-align: left;
	text-transform: unset;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #81C8C1 !important;
}
.removetest-modal .removeportion {
	border-top: 1px solid #F1F6FB;
	border-bottom: 1px solid #F1F6FB;
	display: flex;
	align-items: center;
}
.removetest-modal .removeportion p {
	margin: 0;
	padding: 8px 0 8px 0;
	font-size: 15px;
	font-weight: 500;
	font-family: 'Barlow';
	color: #5b73a0;
}
.displayflex-items {
	display: flex;
	align-items: center;
}
.removeportion i {
	color: #396aff;
	padding: 0 10px 0 0;
}
.removeportion button i {
	color: #FF82AC;
}
.removeportion button {
	border: none;
	background-color: transparent;
}
.removeclose {
	float: right;
	font-size: 16px;
	/*    font-weight: 700;*/
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
}
.remove-test {
	width: 83px;
	height: 35px;
	border-radius: 6px;
	background-color: #396aff;
	border: 2px solid #396aff;
	font-size: 15px;
	font-weight: 600;
	font-family: 'Barlow';
	color: #fff;
	transition: .5s ease-in-out;
}
.remove-test:hover {
	background-color: #fff;
	color: #396aff;
}
.remove-field img {
	margin: 0;
	padding: 0 15.4em;
}
/*Remove Question modal css end*/

/*Add From Library modal css start*/

.addlibrary-modal .modal-dialog {
	max-width: 700px;
}
.addlibrary-modal .modal-header {
	background-color: #EEF5FF;
	position: relative;
	border-bottom: 0px;
}
.addlibrary-modal .modal-header h4 {
	font-family: Barlow;
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
	color: #396aff;
	margin-bottom: 0px;
}
.addlibrary-modal .modal-body {
	padding: 0px;
}
.addlibrary-modal .modal-body .remove-field {
	/*	margin-bottom: 20px;*/
	text-align: center;
}
.addlibrary-modal .modal-body .remove-field h1 {
	font-size: 24px;
	font-weight: 500;
	font-family: 'Rubik';
	margin: 0;
}
.addlibrary-modal .modal-body .remove-field span {
	font-family: Barlow;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: right;
	color: #5B73A0;
	width: 100px;
	margin-right: 20px;
}
.addlibrary-modal .modal-body .remove-field p {
	font-family: Barlow;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: left;
	color: #7990B4;
	margin-bottom: 0px;
	width: calc(100% - 115px);
}
.addlibrary-modal .modal-body .class-delete-curve {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.addlibrary-modal .modal-body .remove-field .class-code-text {
	background: rgba(255, 232, 218, 0.5);
	box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.02);
	border-radius: 6px;
	font-family: Barlow;
	font-size: 18px;
	font-style: italic;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: left;
	color: #FFA26B;
	padding: 5px 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.addlibrary-modal .modal-body .class-del-caption {
	padding: 20px 70px 10px;
	/*	border-bottom: 1px solid #F1F6FB;*/
}
.addlibrary-modal .modal-body .class-del-caption p {
	font-family: Barlow;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: center;
	color: #5B73A0;
}
.addlibrary-modal .modal-body .class-remove-btn {
	padding: 40px 10px;
	text-align: center;
}
.addlibrary-modal .addlibraryportion {
	border-top: 1px solid #F1F6FB;
	border-bottom: 1px solid #F1F6FB;
	display: flex;
	/*    align-items: center;*/
}
.addlibrary-modal .addlibraryportion p {
	margin: 0;
	padding: 8px 0 8px 0;
	font-size: 15px;
	font-weight: 500;
	font-family: 'Barlow';
	color: #5b73a0;
}
.displayflex-items {
	display: flex;
	align-items: center;
}
.addlibraryportion i {
	color: #5B73A0;
	padding: 0 10px 0 0;
}
.addlibraryportion button i {
	color: #FF82AC;
}
.addlibraryportion button {
	border: none;
	background-color: transparent;
}
.add-library {
	width: 83px;
	height: 35px;
	border-radius: 6px;
	background-color: #396aff;
	border: 2px solid #396aff;
	font-size: 15px;
	font-weight: 600;
	font-family: 'Barlow';
	color: #fff;
	transition: .5s ease-in-out;
}
.add-library:hover {
	background-color: #fff;
	color: #396aff;
}
.add-field img {
	margin: 0;
	width: 60px;
}
/*
.add-field {
    padding: 0;
}
*/

.modal-para ul li {
	width: 760px;
	height: 40px;
	border-radius: 6px;
	/*    background-color: #fff2f8;*/
	display: flex;
	align-items: center;
	padding: 0 8px;
	transition: .5s ease-in-out;
}
.modal-para ul li:hover {
	background-color: #fff2f8;
}
.modal-para ul {
	border-top: 1px solid #F1F6FB;
	border-bottom: 1px solid #F1F6FB;
	padding-bottom: 6em;
}
.modal-para ul li a {
	font-size: 15px;
	font-weight: 500;
	font-family: 'Barlow';
	color: #333B6A;
}
.modal-para-btn {
	width: 83px;
	height: 35px;
	border-radius: 6px;
	background-color: #396aff;
	border: 2px solid #396aff;
	font-size: 15px;
	font-weight: 600;
	font-family: 'Barlow';
	color: #fff;
	display: flex;
	transition: .5s ease-in-out;
	align-items: center;
	justify-content: center;
}
.modal-para-btn:hover {
	background-color: #fff;
	color: #396aff;
}
.modal-para p {
	font-size: 15px;
	font-weight: 500;
	font-family: 'Barlow';
	color: #333B6A;
	width: 760px;
	background: #FFF2F8;
	border-radius: 6px;
	padding: 0 11px;
	height: 40px;
	margin: 0;
	display: flex;
	align-items: center;
}
/*Add From Library modal css end*/

/* Responsive */

@media (min-width: 576px) {
	.nav-clip {
		width: 100%;
	}
	.program_course_wrapper {
		width: 100%;
	}
}
@media (min-width: 768px) {
	.nav-clip {
		width: 100%;
	}
	.program_course_wrapper {
		width: 100%;
	}
}
@media (min-width: 992px) {
	.nav-clip {
		width: 100%;
	}
	.program_course_wrapper {
		width: 100%;
	}
}
@media (min-width: 1200px) {
	.nav-clip {
		width: 100%;
	}
	.program_course_wrapper {
		width: 100%;
	}
}
.mat-spinner {
	stroke: grey;
}
.loading-indicator {
	position: fixed;
	z-index: 999;
	height: 3em;
	width: 3em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.loading-indicator::before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 7%);
}

.my-modal-body ul li button{
background-color: transparent;
border: none;

}

.my-modal-body ul li {
font-size: 13px;
font-weight: 400;
font-family: 'Barlow';
color: #5B73A0;

}

.my-modal-body ul li i {
margin-right: 5px;
}

.my-modal-body ul li:hover {
background-color: transparent !important;
color: #396aff !important;
}
.dropbtn-1 {
	width: 148px;
	height: 35px;
	border-radius: 6px 6px 0 0;
	background-color: transparent;
	border: 1px solid #E7EDFF;
	font-size: 15px;
	font-weight: 500;
	font-family: 'Barlow';
	color: #AFBCD2;
  }
  
  .dropdown-1 {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content-1 {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content-1 a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-size: 15px;
	font-weight: 500;
	font-family: 'Barlow';
	color: #AFBCD2;
  }
  
  .dropdown-content-1 a:hover {background-color: #f1f1f1}
  
  .dropdown-1:hover .dropdown-content-1 {
	display: block;
  }