<div class="dashboard">
	<div *ngIf="isLoadingBool" class="loading-indicator">
		<mat-spinner></mat-spinner>
	  </div>
	<app-sidebar-assignment></app-sidebar-assignment>
	<div class="control-panel">
		<app-assignment-dashboard-header></app-assignment-dashboard-header>
		<app-assignment-header></app-assignment-header>

		<div class="row test-button">
			<button routerLink="/assignment/add-assignment" class="tstbtn" style="width: 145px;">Add assignment</button>
			<!-- <div id="mytstdown" class="tstdown-content">
				<a href="#home">Add new</a>
				<a href="#about" class="custom-button" data-toggle="modal" data-target="#library">Add from library</a>
			</div> -->
		</div>
	
		<div class="prospectus-section sequence-list">
			<div class="prospectus-tabs">
				<ul class="nav nav-tabs">
					<li><a data-toggle="tab" href="#test" class="active">Assignment</a></li>
					<li><a data-toggle="tab" routerLink="/assignment/assignment-setting">Settings</a></li>
					<li><a data-toggle="tab" routerLink="/assignment/assignment-result">Result/Assessment</a></li>
					<!--				    <li><a data-toggle="tab" href="#overall-grading">Overall Grading Status</a></li>-->
				</ul>
			</div>
			<div class="tab-content">
				<!-- Schedule start -->
				<div id="test" class="tab-pane active">
					<div class="table=-responsive custom-checkbox question-label">
						<table class="table dashboard-table">
							<thead class="thead-course">
								<tr>
									<th scope="col"></th>
									<th scope="col"></th>
									<th scope="col"></th>
									<th scope="col"
										style="width: 10% !important;padding: 0 0 0 5.5em;text-align: center;">From</th>
									<th scope="col"></th>
									<th scope="col" style="text-align: right; padding: 0 0;">To</th>
									<th scope="col"></th>
									<th scope="col"></th>
									<th scope="col"></th>
								</tr>
							</thead>
							<thead>
								<tr>
									<th scope="col"></th>
									<th scope="col">No.</th>
									<th scope="col" class="text-left">Assignment name</th>
									<th scope="col" class=" text-left table-filter-adjust">Date</th>
									<th scope="col" class="text-left table-filter-adjust">To</th>
									<th scope="col" class="table-filter-adjust">Date</th>
									<th scope="col" class="table-filter-adjust">To</th>
									<th scope="col" class="table-filter-adjust">Marking score</th>
									<th scope="col" class="table-filter-adjust">Total size</th>
									<th scope="col" class="dropdown-1">
										<button class="dropbtn-1" 
										style="background-color: transparent; border: none; width: 22px; height: 22px;">
										<i class="fa fa-ellipsis-v"></i>
									  </button>
									  <div class="dropdown-content-1" id="myDropdown"*ngIf="isEditClicked">
										<a (click)="goToTest()">Edit</a>
										<a data-toggle="modal" data-target="#remove">Remove</a>
									  </div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor = "let data of assignmentData | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
									<th>
										<div class="radio-table-latest"><input name="radio"
											(click)="isCheckBoxClicked(data,i)" type="radio"></div>
									  </th>
									<td>{{i + 1}}</td>
									<td class="text-left">{{data.assignment_name}}</td>
									<td class="text-left">{{data.start_date}}</td>
									<td class="text-left">{{data.start_time}}</td>
									<td>{{data.end_date}}</td>
									<td>{{data.end_date}}</td>
									<td  *ngIf="data.marking_score">{{data.marking_score}}
										<!-- <div class="light-pink"><button type="button">-</button></div> -->
									</td>
									<td *ngIf="!data.marking_score">
										<div class="light-pink"><button type="button">-</button></div>
									</td>
									<td>{{data.total_size}}</td>
									<td>&nbsp;</td>
								</tr>
							
								<!-- <tr>
									<th>
										<label class="question-checkbox col-md-8" style="padding:0;">
											<input type="checkbox">
											<span class="mark"></span>
										</label>
									</th>
									<td>2</td>
									<td class="text-left">Mid-Term Test</td>
									<td class="text-left">10 May 20</td>
									<td class="text-left">09:00</td>
									<td>10 May 20</td>
									<td>09:00</td>
									<td>0/12</td>
									<td>1.2 Gb</td>
									<td>&nbsp;</td>
								</tr> -->

								<!-- <tr>
									<th>
										<label class="question-checkbox col-md-8" style="padding:0;">
											<input type="checkbox">
											<span class="mark"></span>
										</label>
									</th>
									<td>3</td>
									<td class="text-left">Test1</td>
									<td class="text-left">15 April 20</td>
									<td class="text-left">10:00</td>
									<td>15 April 20</td>
									<td>10:00</td>
									<td>10/12</td>
									<td>879 mb</td>
									<td>&nbsp;</td>
								</tr> -->
<!-- 
								<tr>
									<th>
										<label class="question-checkbox col-md-8" style="padding:0;">
											<input type="checkbox">
											<span class="mark"></span>
										</label>
									</th>
									<td>4</td>
									<td class="text-left">Test2</td>
									<td class="text-left">29 March 20</td>
									<td class="text-left">12:00</td>
									<td>29 March 20</td>
									<td>12:00</td>
									<td>
										<div class="light-pink"><button type="button">-</button></div>
									</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>

								<tr>
									<th>
										<label class="question-checkbox col-md-8" style="padding:0;">
											<input type="checkbox">
											<span class="mark"></span>
										</label>
									</th>
									<td>5</td>
									<td class="text-left">Periodic Test</td>
									<td class="text-left">3 March 20</td>
									<td class="text-left">14:00</td>
									<td>3 March 20</td>
									<td>14:00</td>
									<td>&nbsp;</td>
									<td>879 mb</td>
									<td>&nbsp;</td>
								</tr> -->


							</tbody>
						</table>
					</div>
					<div class="table-result-wrapper bottom-select">
						<!-- <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true"
						(pageChange)="handlePageChange($event)"></pagination-controls> -->
						<!-- <select name="course" id="course-name">
							<option selected>10</option>
							<option value="Course 1">1</option>
							<option value="Course 2">2</option>
							<option value="Course 3">3</option>
						</select>
						<p style="width: 10%;">Results: 1-15 of 324</p>
						<div class="selector">
							<ul>
								<li><a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li class="active"><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">...</a></li>
								<li><a href="#" class="right-arrow"><i class="fa fa-chevron-right"
											aria-hidden="true"></i></a></li>
							</ul>
						</div> -->
						<div class="selector">
							<pagination-controls (pageChange)="p = $event"></pagination-controls>
						  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Remove Question modal popup start -->
<div id="remove" class="modal removetest-modal" role="dialog" #deleteclosebutton>
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" ><i class="fa fa-times" aria-hidden="true"></i>
		  </button>
		</div>
		<div  class="modal-body">
		  <div class="class-delete-list" >
			<div class="remove-field">
			  <img src="assets/images/test/allert-1.png" style="padding: 0 25em !important;">
			  <h1>Remove Questions?</h1>
			</div>
		  </div>
		  <div (click)="deleteAssignment()" class="class-remove-btn">
			<button data-dismiss="modal" type="button" class="remove-test" >Yes</button>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <!-- Remove Question modal popup end -->