.error-message {
  color: red !important;
  font-size: 1rem !important;
}

.mat-snack-bar-container {
  color: white !important;
  background: white;
}

.icon-image {
  margin-right: 20px;
  top: -45px;
  position: relative;
  float: right;
  font-size: 1.4rem;
}