<app-header></app-header>

<!-- Login Section -->

<section class="login-section" style="min-height: 557px;">
  <div class="container">
    <div class="login-form">
      <!-- <h2>For every student,
        every classroom.</h2> -->
      <form [formGroup]="loginForm">
        <div class="radio-curve">
          <div class="login-radio" style="display: flex; align-items: center;">
            <input (click)="userType($event)" type="radio" id="teacher" name="category" value="teacher" style="margin: 0 4px;">&nbsp;
            <label for="teacher" style="margin: 0;">Teacher</label>
          </div>
          <div class="login-radio" style="display: flex; align-items: center;">
            <input (click)="userType($event)" type="radio" id="learner" name="category" value="learner" style="margin: 0 4px;">&nbsp;
            <label for="learner" style="margin: 0;">Learner</label>
          </div>
        </div>

        <div class="login-company-name fieldset">
          <label>Email</label>
          <input formControlName="email" type="text" value={{this.myemail}}>
          <ng-container *ngFor="let error of error_messages.email">
            <div class="error-message" *ngIf="loginForm.get('email').hasError(error.type) &&
							  (loginForm.get('email').dirty || loginForm.get('email').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>

        <div class="login-first-name fieldset">
          <label>Password</label>
          <input formControlName="password" [type]="isTextFieldType ? 'text' : 'password'" value={{this.mypassword}}>
          <span class="icon-image">
            <i class="fa fa-eye-slash" *ngIf="hideImage" (click)="togglePasswordFieldType()"></i>
          </span>
          <span class="icon-image">
            <i class="fa fa-eye" *ngIf="!hideImage" aria-hidden="true" (click)="togglePasswordFieldType()"></i>
          </span>
          <ng-container *ngFor="let error of error_messages.password">
            <div class="error-message" *ngIf="loginForm.get('password').hasError(error.type) &&
							  (loginForm.get('password').dirty || loginForm.get('password').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>

        <div class="login-remember-me">
          <label><input (click)="rememberMe()" [checked]="isChecked" type="checkbox"><span>Remember me</span></label>
          <a (click)="resetPassword()" style="position: relative; left: 21.5em;">Forgot password</a>
        </div>

        <div class="login-obliterate mb-5">
          <button class="btn" [disabled]="!loginForm.valid" (click)="login()" style="text-transform: none !important;">Start class</button>
        </div>

      </form>
    </div>
  </div>
</section>
<app-footer></app-footer>