<div class="dashboard">
<app-sidebar-student></app-sidebar-student>


	<div class="control-panel">

		<!-- dashboard header start -->
		<div class="dashboard-header mb-2">
			<div class="user-search-setting">
				<form>
					<input type="search" placeholder="Search now ...">
					<button class="search-btn"><img src="assets/images/dashboard/search.png"></button>
				</form>
				<div class="user-notification">
				    <img src="assets/images/dashboard/notification.png" class="dropdown-toggle" data-toggle="dropdown">
				    <div class="dropdown-menu">
				      <a class="dropdown-item" href="#">Notification 1</a>
				      <a class="dropdown-item" href="#">Notification 2</a>
				      <a class="dropdown-item" href="#">Notification 3</a>
				    </div>
				</div>
				<div class="user-setting">
					<img src="assets/images/dashboard/setting.png" class="dropdown-toggle" data-toggle="dropdown">
				    <div class="dropdown-menu">
				      <a class="dropdown-item" href="#">Logout</a>
				    </div>
				</div>
			</div>
			<div class="site-logo">
				<img src="assets/images/LOGO.png">
			</div>
		</div>
		<!-- dashboard header end -->

        <div class="col-lg-12 mt-4" style="border-bottom:1px dashed #E7EDFF;">
            <h3 style="font-size:22px; font-weight: 500; padding-bottom: .5em;">Profile</h3>
        </div>
		
		<div *ngIf="isLoadingBool" class="loading-indicator">
			<mat-spinner></mat-spinner>
		  </div>

        <div class="prospectus-section sequence-list" style="padding: 20px 43px;">
			<div class="prospectus-tabs">
				<ul class="nav nav-tabs">
				    <li><a data-toggle="tab" href="#reportcard" class="offline" style="border: 3px solid #F1F6FB; border-bottom: none;">User details</a></li>
                    <li><a data-toggle="tab" href="#grades" class="active" style="border: 3px solid #F1F6FB; border-bottom: none;">Password settings</a></li>
				</ul>
			</div>
            <div class="col-lg-12 display-center" style="padding: 0;">
                <div class="col-md-6" style="padding: 0; border: 3px solid #F1F6FB; border-bottom-left-radius: 12px;">
					<form [formGroup]="changePasswordForm">
                    <div class="col-lg-12 display-center mt-2 mb-5" style="justify-content: flex-end;">
                        <!-- <img src="assets/images/profile-edit.png" style="cursor: pointer;"> -->
                    </div>
                    <div class="text-left col-lg-12 user-password" style="padding-left: 30px;">
                        <h3 style="font-size: 20px; font-weight: 500;">Change password</h3>
						
                        <div class="col-lg-12 display-center user-password mt-4" style="padding: 0;">
                            <div class="col-md-6" style="padding: 0;">
                                <p>Current password</p>
                            </div>
                            <div class="col-md-6 display-center" style="justify-content: flex-end; padding: 0;">
                                <p style="margin-right: 8px;">Show password</p>
                                <label class="switch">
                                    <input type="checkbox" (click)="password()">
                                    <span class="slider round"></span>
                                  </label>
                            </div>
                            
                        </div>
                        <input type="text" class="mt-1" formControlName="oldPass" (keyup)="clearMsg()" [ngClass]="{ 'is-invalid': submit && fn.oldPass.errors }" [type]="show ? 'text' : 'password'">
						<div *ngIf="submit && fn.oldPass.errors" class="invalid-feedback">
							<div *ngIf="fn.oldPass.errors.required">Old Password is required</div>


						</div>
						<p class="warning-msg" *ngIf="errMsg">Incorrect password</p>

                        <div class="col-lg-12 display-center user-password mt-4" style="padding: 0;">
                            <div class="col-md-6" style="padding: 0;">
                                <p>New password</p>
                            </div>
                            
                        </div>
                        <input type="password" class="mt-1" formControlName="newPass" [type]="show ? 'text' : 'password'" [ngClass]="{ 'is-invalid': submit && fn.newPass.errors }">
						<div *ngIf="submit && fn.newPass.errors" class="invalid-feedback">
							<div *ngIf="fn.newPass.errors.required">Old Password is required</div>
							<div *ngIf="fn.newPass.errors.pattern">err</div>
						</div>
                        <div class="col-lg-12 display-center user-password mt-4" style="padding: 0;">
                            <div class="col-md-6" style="padding: 0;">
                                <p>Confirm new password</p>
                            </div>
                            
                        </div>
                        <input type="password" class="mt-1" formControlName="confirm_password" [type]="show ? 'text' : 'password'"  [ngClass]="{ 'is-invalid': submit && fn.confirm_password.errors }"> 
                        <div *ngIf="submit && fn.confirm_password.errors" class="invalid-feedback">
							<div *ngIf="fn.confirm_password.errors.required">Password is required</div>
							<div *ngIf="fn.confirm_password.errors.confirmedValidator">Password and
								Confirm Password
								must be match.</div>
						</div>
						<div class="col-lg-12 user-password mt-2" style="padding: 0; display: flex;">
                            <div class="col-lg-8" style="padding: 0;">
                                <ul>
                                    <li>Password Strength</li>
                                    <li>- At least 8 characters</li>
                                    <li>- At least one upper case and one lower case</li>
                                    <li>- At least one number</li>
                                </ul>
                            </div>
                            <div class="col-md-4" style="padding-right: 0;">
                                <div class="success-password">
                                    <p>Strong</p>
                                </div>
                            </div>
                        </div>



                    </div>


                    <div class="col-lg-12 display-center mb-5 mt-4" style="justify-content: center;">
                        <button type="button" class="password-confirm" (click)="changePassword()">Confirm</button>
                    </div>
				</form>
                </div>
            </div>
			  	</div>		
		    </div>
  		</div>