/*font family*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



* {
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #8e8e8e;
  line-height: 1.4;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  font-weight: 400;
  font-style: normal;
  font-family: 'Rubik', sans-serif;
}

:focus {
  outline: none !important;
}

img {
  border: 0;
  height: auto;
  display: block;
  max-width: 100%;
}

a {
  cursor: pointer;
}

ul,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: all 0.3s ease;
  list-style: none;
  font-family: 'Rubik', sans-serif;
}

ol,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}

h1,
h2 {
  color: #343C6A;
  line-height: 1.1;
  font-family: 'Rubik', sans-serif;
}

h3,
h4,
h5,
h6 {
  color: #343C6A;
  line-height: 1.1;
  font-family: 'Rubik', sans-serif;
}

span {
  color: #343C6A;
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-size: 50px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

h4 {
  font-size: 28px;
  font-weight: 600;
}

h5 {
  font-size: 24px;
  font-weight: 600;
}

h6 {
  font-size: 20px;
  font-weight: 600;
}

p {
  color: #8e8e8e;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-family: 'Rubik', sans-serif;
}

.button,
.btn {
  outline: none;
  font-size: 17px;
  border: 2px solid #396AFF;
  background-color: #396AFF;
  font-weight: 500;
  padding: 10px 30px;
  display: inline-flex;
  color: #fff;
  align-content: center;
  text-decoration: none;
  justify-content: center;
  transition: all 0.3s ease;
  text-transform: uppercase;
  border-radius: 0px;
  font-family: 'Rubik', sans-serif;
}

.button a,
.btn a {
  color: #fff;
}

.button:hover,
.btn:hover {
  background-color: #fff;
  color: #396AFF;
  border-color: #396AFF;
  box-shadow: 11px 10px 9px rgb(0 0 0 / 26%);
}

.button:hover a,
.btn:hover a {
  color: #396AFF;
}

.btn-danger:active:focus,
.btn-danger:active,
.btn-primary:active:focus,
.btn-default:focus,
.btn-danger:focus,
.btn-info:focus,
.btn-primary:focus,
.btn-success:focus {
  outline: none;
  color: #396AFF;
  background-color: #fff;
  border: 2px solid #396AFF;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  box-shadow: none;
}

input,
select,
textarea,
.form-control {
  resize: none;
  height: 50px;
  width: 100%;
  color: #8e8e8e;
  box-shadow: none;
  font-size: 15px;
  border-radius: 0px;
  background: #fafafa;
  border: 1px solid #e6e6e6;
  line-height: 1.42857143;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
}

input:focus,
select:focus,
textarea:focus,
.form-control:focus {
  border-color: #e6e6e6;
  box-shadow: none;
  outline: none;
}

.modal .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}

.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}

.modal-content {
  border: 0px;
  background-clip: unset;
}

.modal-header {
  padding: 1rem 1rem;
}

.modal-footer {
  padding: 1rem;
}

.modal-body {
  padding: 1rem;
}

.modal-footer:after,
.modal-footer:before {
  display: none;
}

.fieldset {
  margin-bottom: 10px;
}

input[type="date"] {
  background-image: url(/assets/images/input-date.png);
  background-repeat: no-repeat;
  background-position: right 15px bottom 9px;


}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  -webkit-appearance: none;
}

.dropdown-toggle {
  cursor: pointer;
}

.custom-a-btn {
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.edit-btn {
  background-color: #FFBB38;
  border-radius: 6px;
  width: 77px;
  height: 35px;
  margin-right: 10px;
}

a.edit-btn i {
  font-size: 20px;
  margin-right: 12px;
}

a.delete-btn {
  background-color: #FF5A64;
  border-radius: 6px;
  width: 40px;
  height: 35px;
}

a.delete-btn i {
  font-size: 18px;
}

a.add-btn {
  background: #396AFF;
  border-radius: 6px;
  width: 100px;
  height: 30px;
}

a.add-btn i {
  margin: 2px 7px 0 0;
  font-size: 10px;
}

a.confirm-btn {
  background: #FFBB38;
  border-radius: 6px;
  width: 110px;
  height: 35px;
  margin-right: 10px;
}

a.cancel-btn {
  background: #FFF3EC;
  border-radius: 6px;
  width: 75px;
  height: 35px;
  color: #FFA26B !important;
}

/*header css start*/
header {
  padding: 10px 0px;
  border-bottom: 1px solid #f1f6fb;
}

header .navbar-toggle {
  display: none;
}

header .navbar-header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #main-menu ul.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

header #main-menu ul.navbar-nav li {
  display: inline-block;
  padding: 0px 20px;
  font-family: Rubik;
  list-style: none;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

header #main-menu ul.navbar-nav li:hover a {
  background-color: #396AFF;
  padding: 12px 22px;
  border-radius: 10px;
  color: #fff !important;
}

header #main-menu ul.navbar-nav li a {
  color: #343C6A;
}

header #main-menu ul.navbar-nav li.last {
  background-color: #396AFF;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0 0 0 5em;
}

header #main-menu ul.navbar-nav li.last a {
  color: #fff;
}

/*header css end*/


/*footer css start*/
footer {
  background-color: #396AFF;
  padding: 20px 0px;
  border-top: 1px solid #E7EDFF;
}

footer .footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-caption ul {
  display: flex;
  padding-bottom: 10px;
}

footer .footer-caption ul li {
  font-family: Barlow;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  padding: 0px 15px;
}

footer .footer-caption ul li:first-child {
  padding-left: 0px;
}

footer .footer-caption ul li a {
  color: #fff;
}

footer .footer-caption ul li a:hover {
  color: #343c6a;
}

footer .footer-caption p {
  margin-bottom: 0px;
  font-family: Barlow;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  color: #fff;
}

footer .footer-social {
  display: flex;
  align-items: center;
}

footer .footer-social a {
  margin: 0px 11px;
  color: #fff;
  font-size: 28px;
}

footer .footer-social a:hover {
  color: #343c6a;
}

/*
footer .footer-social a:first-child{
    background: #fff;
    padding: 7px 7px;
    border-radius: 50%;
}
footer .footer-social a:last-child{
    margin-left: 0px;
    background: #fff;
    border-radius: 50%;
    padding: 7px 5px;
}
*/
/*footer css end*/






/*sample 4 page css start*/
.nav-clip {
  margin: 0px 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}

.nav-clip ul {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.nav-clip ul a .hover-in {
  display: none;
}

.nav-clip ul a img {
  margin-right: 7px;
}

.nav-clip ul a {
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  color: #7990B4;
  display: flex;
  align-items: center;
  padding: 11px;
  position: relative;
}

.nav-clip ul a:hover .hover-in {
  display: block;
}

.nav-clip ul a:hover .hover-out {
  display: none;
}

.nav-clip ul a:hover {
  color: #396AFF;
  border-bottom: 4px solid #396aff
}

.nav-clip ul a.active .hover-out {
  display: none;
}

.nav-clip ul a.active .hover-in {
  display: block;
}

.nav-clip ul a.clip-item.active {
  color: #396AFF;
  border-bottom: 4px solid;
}

/*
.nav-clip ul a:after {
    content: "";
    background-color: #396AFF;
    height: 0px;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-radius: 8px;
}
*/

.nav-clip ul a.active:after {
  height: 4px;
}

.prospectus-section {
  padding: 20px;
}

.prospectus-section .prospectus-tabs {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.prospectus-section .prospectus-tabs .nav-tabs {
  border: 0px;
}

.prospectus-section .prospectus-tabs ul li a {
  background-color: #F3F6FF;
  border-radius: 8px 8px 0px 0px;
  margin-right: 10px;
  padding: 12px 20px;
  font-family: Barlow;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  display: block;
  color: #5B73A0;
}

.prospectus-section .prospectus-tabs ul li a.active {
  color: #396AFF;
  background-color: #fff;
}

.prospectus-section .prospectus-tabs .prospectus-action {
  display: flex;
  align-items: center;
}

.prospectus-section .tab-content {
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 10px;
  border-radius: 0px 8px 8px 8px;
}

table.dashboard-table thead th {
  border: 0px;
  font-family: Barlow;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  color: #333B6A;
}

.table-filter {
  position: relative;
}

.table-filter:after {
  content: "";
  background-image: url(/assets/images/dashboard/up-down-filter.png);
  width: 11px;
  height: 11px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  transform: translate(5px, -50%);
}

table.dashboard-table th {
  border: 0px;
}

table.dashboard-table td {
  border: 0px;
  font-family: Barlow;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  color: #343C6A;
  padding: 13px 0;
}

table.dashboard-table td .highlight {
  color: #396AFF;
  text-decoration: underline;
}

table.dashboard-table td .effective {
  color: #81C8C1;
  font-weight: 600;
}

table.dashboard-table td .finish {
  color: #FFBB38;
  font-weight: 600;
}

table.dashboard-table td .go-to-class {
  background: #FFA26B;
  border-radius: 3px;
  color: #FFFFFF;
  padding: 5px 0px;
}

table.dashboard-table tbody tr {
  border-bottom: 1px solid #F1F6FB;
}

table.dashboard-table th .radio-table {
  text-align: center;
}

table.dashboard-table th .radio-table input[type="checkbox"] {
  width: 20px;
  height: 20px;
  position: relative;
  visibility: hidden;
  cursor: pointer;
}

table.dashboard-table th .radio-table input[type="checkbox"]:before {
  content: "\f1db";
  font: normal normal normal 14px/1 FontAwesome;
  background-color: #F3F6FF;
  visibility: visible;
  border: 1px solid #C3D2FF;
  border-radius: 100%;
  color: transparent;
  width: 20px;
  display: block;
  height: 20px;
  z-index: 1;
  position: absolute;
}

table.dashboard-table th .radio-table input[type="checkbox"]:after {
  content: "";
  font: normal normal normal 14px/1 FontAwesome;
  background-color: #396AFF;
  visibility: visible;
  border: 1px solid #396AFF;
  border-radius: 100%;
  color: #396AFF;
  width: 20px;
  display: block;
  height: 20px;
  position: absolute;
}

table.dashboard-table th .radio-table input[type="checkbox"]:checked:after {
  content: "\f111";
  z-index: 1;
}

table.dashboard-table tbody {
  border-bottom: 2px solid #F1F6FB;
  border-top: 2px solid #F1F6F8;
}

table.dashboard-table thead {
  border-bottom: 2px solid #F1F6FB;
}

table.dashboard-table td input {
  background-color: #fff;
  border: 1px solid #E7EDFF;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  padding: 5px 15px;
  height: auto;
  font-family: Barlow;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  color: #343C6A;
}

.table-result-wrapper {
  padding: 20px 10px;
  display: flex;
  align-items: center;
}

.table-result-wrapper p {
  font-family: Barlow;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 0px;
  color: #7990B4;
}

/*sample 4 page css start*/

/*Course list page css start*/
.sequence-list table.dashboard-table thead th {
  color: #7990B4;
}

.sequence-list table.dashboard-table thead.thead-course {
  border: 0px;
}

table.dashboard-table td i.fa-check {
  color: #81C8C1;
  font-size: 16px;
}

.sequence-nav-wrapper {
  padding: 0px 20px;
  display: flex;
  width: 100%;
}

.sequence-duration-wrapper {
  display: block;
  flex-wrap: wrap;
  width: 293px;
}

.sequence-duration-wrapper .sequence-class-code {
  width: 100%;
  display: flex;
  background-color: #FFFFFF;
  border: 2px solid #F1F6FB;
  border-radius: 8px;
  padding: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.sequence-duration-wrapper .sequence-class-code img {
  width: 24px;
}

.sequence-duration-wrapper .sequence-class-code span {
  font-family: Barlow;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #DCE2EC;
  margin: 0px 20px 0px 10px;
}

.sequence-duration-wrapper .sequence-class-code p {
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #7990B4;
  margin-bottom: 0px;
}

.sequence-duration-wrapper .sequence-duration-code {
  width: 100%;
  display: flex;
  background-color: #FFFFFF;
  border: 2px solid #F1F6FB;
  border-radius: 8px;
  padding: 10px;
  align-items: center;
  height: fit-content;
}

.sequence-duration-wrapper .sequence-duration-code img {
  width: 24px;
}

.sequence-duration-wrapper .sequence-duration-code .sequence-start-date {
  margin: 0px 20px 0px 10px;
}

.sequence-duration-wrapper .sequence-duration-code .sequence-end-date span,
.sequence-duration-wrapper .sequence-duration-code .sequence-start-date span {
  font-family: Barlow;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #7990B4;
}

.sequence-duration-wrapper .sequence-duration-code .sequence-end-date p,
.sequence-duration-wrapper .sequence-duration-code .sequence-start-date p {
  font-family: Barlow;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 0px;
  color: #DCE2EC;
}

.sequence-element-wrapper {
  width: calc(100% - 293px);
  padding-left: 10px;
  display: flex;
}

.sequence-element-wrapper a {
  background-color: #FFFFFF;
  border: 2px solid #F1F6FB;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  width: 32%;
  margin-right: 10px;
  transition: all .3s;
}

.sequence-element-wrapper a:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 15px 0px rgb(228 236 245);
}

.sequence-element-wrapper a div {
  width: calc(100% - 82px);
}

.sequence-element-wrapper a h6 {
  font-family: Rubik;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 41px;
  letter-spacing: 0px;
  text-align: left;
  color: #343C6A;
}

.sequence-element-wrapper a span {
  font-family: Barlow;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #7990B4;
}

.sequence-element-wrapper .sequence-class-curve figure {
  width: 69px;
  height: 69px;
  background-color: #FFF5D9;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}

.sequence-element-wrapper .sequence-tests-curve figure {
  width: 69px;
  height: 69px;
  background-color: #EEF5FF;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}

.sequence-element-wrapper .sequence-assignments-curve figure {
  width: 69px;
  height: 69px;
  background-color: #DCFAF8;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}

/*Course list page css end*/


.addCourse-form input {
  width: 120px;
  height: 35px;
  padding: 16px 9px;
  font-size: 15px;
  margin: 0 8px 0 0;
  border-radius: 6px;
}

.addCourse-form input::placeholder {
  color: #d8d8d8;
}

.addCourse-form .my-modal {
  /*    display: flex;*/
  padding: 6px 1px;
  font-size: 15px;
  margin: 0 4em;
}

.my-modal button {
  border: none;
  background: transparent;
  padding: 0 0 10px 0;
  font-size: 13px;
  font-weight: 400;
}

.class-name {
  display: flex;
  padding: 18px 0px;
  border-radius: 6px;
  font-size: 15px;
  line-height: 2.2;
}

.class-name input {
  height: 35px;
  width: 350px;
  border-radius: 6px;
  padding: 0 0;
  /* margin: -4px 0px; */
  font-size: 13px;
}

.modal-footer .modalfooter-back {
  width: 20% !important;
  border: 1px solid #fff !important;
  padding: 9px 0px !important;
  background: #396aff !important;
  color: #fff !important;
  border-radius: 6px !important;
}

.modal-footer .modalfooter-next {
  background: #DCFAF8 !important;
  color: #16DBCC !important;
  border: 1px solid #fff !important;
  padding: 9px 0px;
  width: 20% !important;
  border-radius: 6px;
}


.center-btn {
  padding: 0px;
  background-color: #16DBCC;
  border: 2px solid #16DBCC;
  font-family: Barlow;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  height: 30px;
  width: 90px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  opacity: 1 !important;
  color: #fff;
}


.center-btn:hover {
  background-color: transparent;
  color: #16DBCC;
  border: 2px solid #16DBCC;
  transition: .5s ease-in-out;
}



.center-btn-grey {
  padding: 0px;
  background-color: #DCE2EC;
  border: 2px solid #DCE2EC;
  font-family: Barlow;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  height: 30px;
  width: 90px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  opacity: 1 !important;
  color: #fff;
  position: relative;
  left: 50%;
}

/* .blue:before {
    content=""
    background: #396aff;
} */

.center-btn-grey:hover {
  background-color: transparent;
  color: #DCE2EC;
  border: 2px solid #DCE2EC;
  transition: .5s ease-in-out;
}


.program_course_wrapper .center-btn {
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 50%;
}

.org-btn {
  margin: 0 0;
  padding: 0 7px;
}

.org-btn span {
  background-color: #FFE8DA;
  color: #FFA26B;
  font-size: 13px;
  padding: 8px 12px;
  border-radius: 6px;
}

.file {
  margin: 0 !important;
  display: flex;
  justify-content: center;
}

.file a {
  color: #c3d2ff;
}

.file a i {
  font-size: 2em;
  color: #C3D2FF;
  padding: 16px 11px;
}

a.go-to-class-btn {
  background-color: #FFA26B;
  border-radius: 6px;
  width: 77px;
  height: 35px;
  display: flex;
  position: relative;
  right: 85%;
}

.danger {
  color: #FF5A64;
  font-weight: 600;
}

.bottom-select select {
  resize: none;
  width: 100%;
  color: #8e8e8e;
  box-shadow: none;
  font-size: 13px;
  line-height: 1.42857143;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  background: #FFFFFF;
  border: 1px solid #F3F6FF;
  border-radius: 6px;
  height: 35px;
  width: 56px;
  margin-right: 1em;
  transition: .5s ease;
}


.selector ul {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.selector ul li a {
  padding: 6px 10px !important;
  color: #7990B4;
  font-size: 13px;
}

.selector ul li a:hover {
  background: #396aff;
  border-radius: 6px;
  padding: 6px 10px !important;
  color: #fff !important;
}

.selector ul li i {
  padding: 0 0;
}

.right-arrow {
  background: #F3F6FF;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  padding: 4px 10px !important;
}


.selector .active a {
  background: #396aff;
  border-radius: 6px;
  padding: 6px 10px !important;
  color: #fff !important;
}

.addcourse-modal .modal-body .addCourse-form-right {
  padding: 25px 2px;
  justify-content: center;
  align-items: center;
  position: relative;
  display: grid;
}

.dialog {
  position: relative;
  top: 21em;
  left: 46em;
}

.small {
  width: 5% !important;
}

.medium {
  width: 8% !important;
}


.user-notification span {
  background: #FF5A64;
  position: relative;
  top: 1.2em;
  left: .9em;
  FONT-VARIANT: JIS04;
  FONT-VARIANT: JIS04;
  font-size: 12px;
  border-radius: 6px;
  width: 21px;
  height: 19px;
  padding: 2px 3px;
  color: #fff;
}

.my-modal button a {
  color: #5B73A0;
}

.my-modal button a:hover {
  color: #396aff;
}

.purple {
  color: #BCAEE3;
  font-weight: 600;
}

.my-modal-classes {
  display: flex !important;
  /* padding: 6px 1px; */
  font-size: 15px !important;
  justify-content: center !important;
  margin: 0 0em !important;
  align-items: center !important;
}

.custom-a-btn-learner {
  font-size: 13px;
  background: transparent !important;
  color: #5B73A0 !important;
  width: 100% !important;
  height: auto !important;
}

.custom-a-btn-learner:hover {
  color: #396aff !important;
}

.orange-modal-header {
  background-color: #FFA26B;
  position: relative;
  border-bottom: 0px;
}

.orange-modal-header h4 {
  font-size: 17px !important;
  font-weight: 500;
  color: #fff;
  position: relative;
  top: 23px;
  left: 2em;
}

.orange-modal-header button {
  right: 1em;
  padding: 6px 0 !important;
  position: relative;
  bottom: 12px;
}

.modal-dialog-width {
  max-width: 642px !important;
}


.orange-modal-body {
  justify-content: center;
  align-items: center;
  display: flex;
}

.oranger-modal-body span {
  font-size: 15px;
  font-weight: 500;
}

.modal-span {
  color: #5B73A0 !important;
  font-size: 15px;
  border-bottom: 1px solid #5b73a0;
  position: relative;
  bottom: 7.3em;
  left: 20em;
}


.form-border:after {
  border-bottom: 1px solid #F1F6FB !important;
}


.form-span span {
  position: relative !important;
  left: 14.4em !important;
  border-bottom: 1px solid #000 !important;
  font-size: 15px !important;
  font-weight: 500 !important;
}

.fieldset p {
  padding: 0 4.6em;
  color: #5B73A0;
}

.fieldset p span {
  color: #7990B4;
  font-size: 15px;
}

.fieldset-center {
  margin: 0;
  justify-content: center;
  color: #5B73A0;
  font-size: 15px;
}

.fieldset-center p {
  border-bottom: 1px solid #5b73a0;
  padding: 0;
  line-height: .8;
}

.orange {
  background-color: #FFE8DA;
  color: #FFA26B !important;
  padding: 7px 28px;
  border-radius: 6px;
  font-size: 18px !important;

}

.name-of-course label {
  color: #5B73A0 !important;
}


.back-btn-course {
  width: 92px !important;
  background-color: #FFA26B !important;
  color: #fff !important;
  height: 35px !important;
  border-radius: 6px !important;
  margin-right: 10px !important;
  transition: .5s ease-in-out;

}


.back-btn-course-blue {
  width: 92px !important;
  background-color: #396aff !important;
  color: #fff !important;
  height: 35px !important;
  border-radius: 6px !important;
  margin-right: 10px !important;
  transition: .5s ease-in-out;

}


.back-btn-course-blue a {
  color: #fff;
  padding: 7px 15px;
}


.back-btn-course a {
  color: #fff;
  padding: 7px 15px;
}


.back-btn-course:hover {
  background-color: #fff !important;
  /*    color: #ffa26b !important;*/
  border: 2px solid #ffa26b !important;
  transition: .5s ease-in-out;
}

.back-btn-course-blue:hover {
  background-color: #fff !important;
  /*    color: #ffa26b !important;*/
  border: 2px solid #396aff !important;
  transition: .5s ease-in-out;
}

.back-btn-course-blue a:hover {
  color: #396aff;
}


.next-btn-course {
  width: 75px !important;
  background-color: #DCFAF8 !important;
  color: #81C8C1 !important;
  height: 35px !important;
  border-radius: 6px !important;
  transition: .5s ease-in-out;
}


.next-btn-course:hover {
  background-color: #81c8c1 !important;
  color: #dcfaf8 !important;
  border: 1px solid #81c8c1 !important;
  transition: .5s ease-in-out;
}


.icon-section {
  justify-content: center;
  display: flex;
  align-items: center;
}

.icon-section i {
  font-size: 6em;
  color: #FFBB38;
  margin-left: .2em;
}


.icon-section h3 {
  font-size: 22px;
  margin: 0;
  font-weight: 500;
  color: #5B73A0;
}


.modal-contain {
  padding: 30px 30px;
}


.modal-mid-section {
  text-align: center;
}


.modal-mid-section p {
  font-size: 16px;
}

.modal-mid-section h3 {
  font-size: 22px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.suspend-close {
  color: #AFBCD2;
  height: 14px;
  background: transparent;
  width: 14px;
  border: none;
  position: relative;
  left: 36em;
  bottom: 1em;
}


.center-btn-orange {
  padding: 0px;
  text-align: center;
}


.center-btn-orange button {
  border: none;
  background: transparent;
}

.center-btn-orange button a {
  width: 120px;
  color: #fff;
  padding: 4px 32px;
  text-align: center;
  align-items: center;
  display: flex;
  font-size: 15px !important;
  font-weight: 600;
  background-color: #FFBB38;
  border: 2px solid #FFBB38;
  border-radius: 6px;
  height: 35px;
  justify-content: center;
}


.center-btn-orange button a:hover {
  background-color: transparent;
  color: #ffbb38;
  transition: .5s ease-in-out;
}


.green-modal-header {
  padding: 0 !important;
  right: 30px !important;
  top: 32px !important;
  background-color: #81C8C1;
}


.green-modal-header h4 {
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  top: .6em;
  left: 1em;
}

.green-modal-header button {
  bottom: .7em;
  right: .8em;
  position: relative;
  opacity: 1;
}


.radio-check {
  display: flex;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  justify-content: center;
}


.radio-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}


.radio-check input:checked~.checkmark {
  background-color: #2196F3;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.radio-check input:checked~.checkmark:after {
  display: block;
}


.modal-input {
  justify-content: center;
  width: 100% !important;
  align-items: center;
}

.modal-input a i {
  padding: 0 16px 0 7px !important;
  color: #396AFF !important;
  font-size: 1.5em !important;
  cursor: default;
}

.modal-input input {
  width: 412px !important;
  height: 35px !important;
  border-radius: 6px !important;
}

.modal-input button {
  color: #FFA26B !important;
  background-color: #FFE8DA;
  border: none;
  height: 35px;
  width: 35px;
  border-radius: 6px;
  font-size: 22px;
  margin: 0 0 0 4px;
}

.modal-input input[type=text],
textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

.modal-input input[type=text]:focus,
textarea:focus {
  box-shadow: 0 0 5px rgb(255, 162, 107);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgb(255, 162, 107);
}

.learner-text-left tr th {
  text-align: left !important;
}


.learner-text-left tr td {
  text-align: left !important;
}


.learner-text-left button {
  width: 90px !important;
  height: 30px !important;
  border: none !important;
  border-radius: 6px !important;
  background-color: #FFA26B;
  margin: 10px 0 !important;
  /*    border: 2px solid #ffa26b;*/
}

.learner-text-left button a {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  padding: 6px 7px;
}

.learner-text-left button:hover {
  background: transparent;
  border: 2px solid #ffa26b !important;
  transition: .5s ease-in-out;
}

.learner-text-left button a:hover {
  color: #ffa26b;
}

.table-content-wrapper-display {
  justify-content: flex-end;
  display: flex;
  padding: 0 10px;
}

.col-sm-2-width {
  text-align: right;
  max-width: 10%;
}

.col-sm-2-width p {
  text-align: right !important;
  font-weight: 600;
  font-size: 13px;
  color: #343C6A;
}


#table_detail {
  text-align: left;
  /*border-collapse: collapse; */
  color: #2E2E2E;
  border: #A4A4A4;
}

#table_detail tr:hover {
  background-color: #F2F2F2;
}

#table_detail .hidden_row {
  display: none;
}


.table-path p {
  font-size: 20px;
  color: #333B6A;
  font-weight: 500;
  border-bottom: 1px solid #F1F6FB;
  padding: 18px 28px;
  margin: 0;
}


.admin-button button {
  width: 71px;
  height: 22px;
  border-radius: 6px;
  background: #FFF5D9;
  border: 2px solid #fff5d9;
}

.admin-button button:hover {
  background: #fff !important;
  transition: .5s ease-in-out;
}


.admin-button button a {
  color: #FFBB38;
  font-size: 13px;
  font-weight: 600;
}


.admin-button-green {
  background: #DCFAF8 !important;
  border: 2px solid #DCFAF8 !important;
}

.admin-button-green:hover {
  background: #fff !important;
  transition: .5s ease-in-out;
}


.admin-button-green a {
  color: #81C8C1 !important;
  padding: 0px 12px !important;
}


/*sidebar dashboard css start*/
.sidebar-dashboard {
  position: fixed;
  display: flex;
  height: 100%;
  z-index: 2;
}

.sidebar-blue {
  background-color: #396AFF;
  height: 100%;
  width: 58px;
  padding: 20px 10px;
  transition: all .3s;
}

.sidebar-blue .primary-sidebar {
  border: 0px;
}

.sidebar-blue .primary-item {
  padding: 0px;
  border: 0px;
  display: flex;
  height: 38px;
  font-size: 0px;
  justify-content: flex-start;
  color: #fff;
  align-items: center;
  transition: all .3s;
  position: relative;
  text-transform: capitalize;
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1px;
}

.sidebar-blue .primary-item span {
  font-family: Barlow;
  font-size: 0px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
  width: 0;
  transition: all .3s;
}

.sidebar-blue .primary-item:hover span {
  color: #396aff;
  text-align: right;
}

.sidebar-blue nav li.submenu-order {
  margin-bottom: 15px;
}

.sidebar-blue nav li.submenu-order:last-child {
  margin-bottom: 0px;
}

.sidebar-blue .primary-item.active {
  background-color: transparent;
}

.sidebar-blue .primary-item img {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

.sidebar-blue .primary-item img.hover-in {
  display: none;
}

.sidebar-blue .user-menu-nav {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.sidebar-blue .sidebar-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  overflow-y: scroll;
}

.sidebar-blue .sidebar-menu::-webkit-scrollbar {
  width: 0px;
  height: 70%;
}

.sidebar-blue .sidebar-menu::-webkit-scrollbar-thumb {
  background: #1243d8;
  border: 0px none #ffffff;
  border-radius: 5px;
}

.sidebar-blue .sidebar-menu .sidebar-bar {
  width: 100%;
  display: flex;
  height: 150px;
  align-items: flex-start;
}

.sidebar-blue .sidebar-menu .sidebar-bar .sidebar-bar-nav {
  width: 100%;
}

.sidebar-blue .sidebar-menu .sidebar-bar .sidebar-bar-nav img {
  cursor: pointer;
  margin: 0 auto;
}

.sidebar-blue .sidebar-menu .sidebar-bar .user-details-dash {
  display: none;
  margin-left: 20px;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% - 27px);
  transition: all .3s;
}

.sidebar-blue .sidebar-menu .sidebar-bar .user-details-dash figure {
  width: 64px;
  height: 64px;
  margin-bottom: 0px;
  margin-right: 10px;
}

.sidebar-blue .sidebar-menu .sidebar-bar .user-details-dash a {
  border-radius: 6px;
  background-color: #DCFAF8;
  font-family: Barlow;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  color: #16DBCC;
  width: 69px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-blue .sidebar-menu .sidebar-bar .user-details-dash .user-details-name {
  width: 100%;
  padding-top: 10px;
}

.sidebar-blue .sidebar-menu .sidebar-bar .user-details-dash .user-details-name h4 {
  font-family: Barlow;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  margin-bottom: 0px;
  color: #fff;
}

.sidebar-blue .sidebar-menu .sidebar-bar .user-details-dash .user-details-name p {
  font-family: Barlow;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
}

.sidebar-blue .sidebar-menu .sidebar-menus-nav {
  display: flex;
  width: 100%;
}

.sidebar-blue .user-menu-nav nav,
.sidebar-blue .sidebar-menu .sidebar-menus-nav nav {
  width: 100%;
}

.sidebar-blue .courses-menu-list {
  display: none;
}

.sidebar-blue .panel-collapse {
  padding: 15px 0px 0px 0px;
}

.sidebar-blue .panel-collapse .panel-collapse-content {
  height: 105px;
  overflow-y: scroll;
  padding: 0px 0px 0px 50px;
}

.sidebar-blue .panel-collapse .panel-collapse-content li {
  position: relative;
  position: relative;
}

.sidebar-blue .panel-collapse .panel-collapse-content li:before {
  content: "";
  background-color: #fff;
  width: 2px;
  height: 162%;
  position: absolute;
  left: -30px;
  top: 0px;
}

.sidebar-blue .panel-collapse .panel-collapse-content::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

.sidebar-blue .panel-collapse .panel-collapse-content::-webkit-scrollbar-thumb {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 5px;
}

.sidebar-blue .panel-collapse li a {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 10px;
  display: block;
  cursor: pointer;
}

.sidebar-blue .panel-collapse li a:hover {
  color: #fff;
}

.sidebar-dashboard .dashboard-user-sidebar {
  background: #FFFFFF;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 0px 15px 15px 0px;
  padding: 0px;
  width: 0px;
  overflow-y: scroll;
  transition: all .3s;
}

.dashboard-user-sidebar::-webkit-scrollbar {
  width: 0px;
}

.dashboard-user-sidebar .user-details-dash {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 0px solid #396AFF;
  border-radius: 2px;
  padding-left: 17px;
  justify-content: space-between;
}

.dashboard-user-sidebar .user-details-dash figure {
  width: 64px;
  height: 64px;
  margin-bottom: 7px;
  margin-right: 10px;
}

.dashboard-user-sidebar .user-details-dash a {
  border-radius: 6px;
  background-color: #DCFAF8;
  font-family: Barlow;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  color: #16DBCC;
  width: 69px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-user-sidebar .user-details-dash .user-details-name {
  display: none;
  width: 100%;
}

.dashboard-user-sidebar .user-details-dash .user-details-name h4 {
  font-family: Barlow;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  margin-bottom: 0px;
}

.dashboard-user-sidebar .user-details-dash .user-details-name p {
  font-family: Barlow;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  text-align: left;
}

.dashboard-user-sidebar .user-details-dash .dashboard-user-dash {
  display: none;
}

.dashboard-user-sidebar .acknowledgment-user {
  padding: 10px 17px;
  display: none;
}

.dashboard-user-sidebar .acknowledgment-user p {
  font-family: Barlow;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: #7990B4;
  text-transform: capitalize;
  margin-bottom: 0px;
}

.dashboard-user-sidebar .acknowledgment-user label {
  font-family: Barlow;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: left;
  color: #AFBCD2;
  margin-bottom: 0px;
}

.dashboard-user-sidebar .user-navbar-content {
  display: none;
}

.dashboard-user-sidebar .second-sidebar {
  display: flex;
  flex-wrap: wrap;
}

.dashboard-user-sidebar .second-sidebar .second-item {
  font-family: Barlow;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  color: #505887;
  padding: 8px 15px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.dashboard-user-sidebar .second-sidebar .second-item:last-child {
  margin-bottom: 0px;
}

.dashboard-user-sidebar .second-sidebar .second-item.active {
  background: #EEF5FF;
  border-radius: 15px;
  color: #396AFF;
}

.dashboard-user-sidebar .second-sidebar .second-item img {
  margin-right: 12px;
  /*width: 16px;
    height: 16px;*/
}

.dashboard-user-sidebar .second-sidebar .second-item .hover-in {
  display: none;
}

.dashboard-user-sidebar .second-sidebar .second-item.active .hover-in,
.dashboard-user-sidebar .second-sidebar .second-item:hover .hover-in {
  display: block;
}

.dashboard-user-sidebar .second-sidebar .second-item.active .hover-out,
.dashboard-user-sidebar .second-sidebar .second-item:hover .hover-out {
  display: none;
}

.dashboard-user-sidebar .user-details-dash .course-sidebar {
  cursor: pointer;
}

.dashboard-user-sidebar .second-sidebar .second-item:hover {
  background: #EEF5FF;
  border-radius: 15px;
  color: #396AFF;
}

.dashboard-user-sidebar .user-personal-library {
  border-top: 0.96px solid #F1F6FB;
  margin-top: 5px;
  display: none;
}

.sidebar-dashboard .dashboard-user-sidebar.dashboardtoogleopen {
  width: 235px;
  padding: 20px;
}

.sidebar-dashboard .dashboard-user-sidebar.dashboardtoogleopen::-webkit-scrollbar {
  width: 0px;
  height: 70%;
}

.sidebar-dashboard .dashboard-user-sidebar.dashboardtoogleopen::-webkit-scrollbar-thumb {
  background: #1243d8;
  border: 0px none #ffffff;
  border-radius: 5px;
}

.dashboard-user-sidebar.dashboardtoogleopen .user-details-dash {
  display: flex;
  border-bottom: 5px solid #396AFF;
}

.dashboard-user-sidebar.dashboardtoogleopen .dashboard-user-dash {
  display: flex;
  align-items: center;
}

.dashboard-user-sidebar.dashboardtoogleopen .user-details-dash .user-details-name {
  display: block;
}

.dashboard-user-sidebar.dashboardtoogleopen .user-personal-library,
.dashboard-user-sidebar.dashboardtoogleopen .user-navbar-content,
.dashboard-user-sidebar.dashboardtoogleopen .acknowledgment-user {
  display: block;
}

.sidebar-dashboard .dashboard-user-sidebar.dashboardtoogleclose {
  padding: 20px;
  width: 63px;
}

.dashboard-user-sidebar.dashboardtoogleclose .acknowledgment-user {
  display: block;
  height: 150px;
  padding: 0px;
}

.dashboard-user-sidebar.dashboardtoogleclose .user-personal-library,
.dashboard-user-sidebar.dashboardtoogleclose .user-navbar-content {
  display: block;
  padding: 0px;
}

.dashboard-user-sidebar.dashboardtoogleclose .acknowledgment-user label,
.dashboard-user-sidebar.dashboardtoogleclose .acknowledgment-user p {
  font-size: 0px;
}

.dashboard-user-sidebar.dashboardtoogleclose .second-sidebar .second-item {
  font-size: 0px;
  padding: 0px;
  margin-bottom: 20px;
}

.dashboard-user-sidebar.dashboardtoogleclose .second-sidebar .second-item.active,
.dashboard-user-sidebar.dashboardtoogleclose .second-sidebar .second-item:hover {
  background: transparent;
}

.dashboard-user-sidebar.dashboardtoogleclose .user-details-dash {
  padding-left: 0px;
}

.dashboard-user-sidebar.dashboardtoogleclose .second-sidebar .second-item img,
.dashboard-user-sidebar.dashboardtoogleclose .user-details-dash .dashboard-user-collapse {
  margin: 0 auto;
}

.dashboard-user-sidebar.dashboardtoogleclose .user-dash-wrapper {
  height: 116px;
}

.sidebar-blue.toogleopen {
  padding: 20px 5px 10px;
  width: 230px;
}

.sidebar-blue.toogleopen .sidebar-menu .sidebar-bar {
  padding-left: 15px;
}

.sidebar-blue.toogleopen .sidebar-menu .sidebar-bar .user-details-dash {
  display: flex;
}

.sidebar-blue.toogleopen .sidebar-menu .sidebar-bar .sidebar-bar-nav {
  width: 27px;
}

.sidebar-blue.toogleopen .primary-item {
  font-size: 14px;
  padding: 0px 10px;
  border-radius: 50px;
}

.sidebar-blue.toogleopen .primary-item span {
  font-size: 14px;
  width: 100%;
}

.sidebar-blue.toogleopen .primary-item img {
  margin: unset;
  margin-right: 20px;
}

.sidebar-blue.toogleopen .primary-item img.hover-in {
  display: none;
}

.sidebar-blue.toogleopen .primary-item:hover img.hover-in {
  display: block;
}

.sidebar-blue.toogleopen .primary-item:hover img.hover-out {
  display: none;
}

.sidebar-blue.toogleopen .primary-item.toggle-switch i {
  font-size: 22px;
  top: 3px;
  position: relative;
}

.sidebar-blue.toogleopen .primary-item.toggle-switch {
  background-color: #fff;
  color: #396aff;
  justify-content: flex-end;
}

.sidebar-blue.toogleopen .courses-menu-list {
  display: block;
}

.sidebar-blue.toogleopen .primary-item.toggle-switch span {
  color: #396aff;
  text-align: right;
}

.sidebar-blue.toogleopen .primary-item.toggle-switch.collapsed span {
  color: #fff;
  text-align: left;
}

.sidebar-blue.toogleopen .primary-item.toggle-switch.collapsed:hover span {
  color: #396aff;
  text-align: right;
}

.sidebar-blue.toogleopen .primary-item.toggle-switch.collapsed img.hover-out {
  display: block;
}

.sidebar-blue.toogleopen .primary-item.toggle-switch.collapsed img.hover-in {
  display: none;
}

.sidebar-blue.toogleopen .primary-item.toggle-switch.collapsed:hover img.hover-in {
  display: block;
}

.sidebar-blue.toogleopen .primary-item.toggle-switch.collapsed:hover img.hover-out {
  display: none;
}

.sidebar-blue.toogleopen .primary-item.toggle-switch img.hover-out {
  display: none;
}

.sidebar-blue.toogleopen .primary-item.toggle-switch img.hover-in {
  display: block;
}

.sidebar-blue .primary-item.toggle-switch.collapsed i {
  color: #fff;
}

.sidebar-blue .primary-item.toggle-switch i {
  font-size: 0px;
  padding-left: 5px;
  color: #396aff;
}

.sidebar-blue .primary-item.toggle-switch:hover i {
  color: #396aff;
}

.sidebar-blue.toogleopen .primary-item.collapsed {
  background-color: transparent;
  color: #fff;
  justify-content: flex-start;
}

.sidebar-blue.toogleopen .primary-item.collapsed img {
  position: relative;
  left: unset;
}

.sidebar-blue.toogleopen .primary-item:hover {
  background-color: #fff;
  color: #396aff;
}

.dashboard {
  background-color: #fbfcfe;
  min-height: 100vh;
}

.control-panel {
  padding-left: 58px;
  transition: all .3s;
}

.control-panel.toogleopen {
  padding-left: 230px;
}

.control-panel.dashboardtoogleclose {
  padding-left: 293px;
}

.control-panel.dashboardtoogleopen {
  padding-left: 293px;
}

/*sidebar dashboard css end*/

/*dashboard header css start*/
.dashboard-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.dashboard-header .user-search-setting {
  display: flex;
  align-items: center;
}

.dashboard-header .user-search-setting form {
  position: relative;
  margin-right: 20px;
}

.dashboard-header .user-search-setting form input {
  background: #FFFFFF;
  border: 1px solid #F1F6FB;
  border-radius: 8px;
  font-family: Barlow;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  height: 38px;
  width: 293px;
  padding: 0px 10px 0px 35px;
}

.dashboard-header .user-search-setting form input::placeholder {
  color: #DCE2EC;
}

.dashboard-header .user-search-setting form button {
  position: absolute;
  border: 0;
  background-color: transparent;
  left: 10px;
  top: 10px;
}

.dashboard-header .user-search-setting .user-notification {
  margin-right: 20px;
}

.dashboard-header .site-logo {
  width: 151px;
}

/*dashboard header css end*/


/*sample 4 page css start*/
.nav-clip {
  margin: 0px 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}

.nav-clip ul {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.nav-clip ul a .hover-in {
  display: none;
}

.nav-clip ul a img {
  margin-right: 7px;
}

.nav-clip ul a {
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  color: #7990B4;
  display: flex;
  align-items: center;
  padding: 11px;
  position: relative;
}

.nav-clip ul a:hover .hover-in {
  display: block;
}

.nav-clip ul a:hover .hover-out {
  display: none;
}

.nav-clip ul a:hover {
  color: #396AFF;
  border-bottom: 4px solid #396aff
}

.nav-clip ul a.active .hover-out {
  display: none;
}

.nav-clip ul a.active .hover-in {
  display: block;
}

.nav-clip ul a.clip-item.active {
  color: #396AFF;
  border-bottom: 4px solid;
}

/*
.nav-clip ul a:after {
    content: "";
    background-color: #396AFF;
    height: 0px;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-radius: 8px;
}
*/

.nav-clip ul a.active:after {
  height: 4px;
}

.prospectus-section {
  padding: 20px;
}

.prospectus-section .prospectus-tabs {
  display: flex;
  /* justify-content: flex-end; */
  align-items: flex-start;
}

.prospectus-section .prospectus-tabs .nav-tabs {
  border: 0px;
}

.prospectus-section .prospectus-tabs ul li a {
  background-color: #F3F6FF;
  border-radius: 8px 8px 0px 0px;
  margin-right: 10px;
  padding: 12px 20px;
  font-family: Barlow;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  display: block;
  color: #5B73A0;
}

.prospectus-section .prospectus-tabs ul li a.active {
  color: #396AFF;
  background-color: #fff;
}

.prospectus-section .prospectus-tabs .prospectus-action {
  display: flex;
  align-items: center;
}

.prospectus-section .tab-content {
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 10px;
  border-radius: 0px 8px 8px 8px;
}

table.dashboard-table thead th {
  border: 0px;
  font-family: Barlow;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  color: #333B6A;
}

.table-filter {
  position: relative;
}

.table-filter:after {
  content: "";
  background-image: url(/assets/images/dashboard/up-down-filter.png);
  width: 11px;
  height: 11px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  transform: translate(5px, -50%);
}

table.dashboard-table th {
  border: 0px;
}

table.dashboard-table td {
  border: 0px;
  font-family: Barlow;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  color: #343C6A;
  padding: 13px 0;
}

table.dashboard-table td .highlight {
  color: #396AFF;
  text-decoration: underline;
}

table.dashboard-table td .effective {
  color: #81C8C1;
  font-weight: 600;
}

table.dashboard-table td .finish {
  color: #FFBB38;
  font-weight: 600;
}

table.dashboard-table td .go-to-class {
  background: #FFA26B;
  border-radius: 3px;
  color: #FFFFFF;
  padding: 5px 0px;
}

table.dashboard-table tbody tr {
  border-bottom: 1px solid #F1F6FB;
}

table.dashboard-table th .radio-table {
  text-align: center;
}

table.dashboard-table th .radio-table input[type="checkbox"] {
  width: 20px;
  height: 20px;
  position: relative;
  visibility: hidden;
  cursor: pointer;
}

table.dashboard-table th .radio-table input[type="checkbox"]:before {
  content: "\f1db";
  font: normal normal normal 14px/1 FontAwesome;
  background-color: #F3F6FF;
  visibility: visible;
  border: 1px solid #C3D2FF;
  border-radius: 100%;
  color: transparent;
  width: 20px;
  display: block;
  height: 20px;
  z-index: 1;
  position: absolute;
}

table.dashboard-table th .radio-table input[type="checkbox"]:after {
  content: "";
  font: normal normal normal 14px/1 FontAwesome;
  background-color: #396AFF;
  visibility: visible;
  border: 1px solid #396AFF;
  border-radius: 100%;
  color: #396AFF;
  width: 20px;
  display: block;
  height: 20px;
  position: absolute;
}

table.dashboard-table th .radio-table input[type="checkbox"]:checked:after {
  content: "\f111";
  z-index: 1;
}

table.dashboard-table tbody {
  border-bottom: 2px solid #F1F6FB;
  border-top: 2px solid #F1F6F8;
}

table.dashboard-table thead {
  border-bottom: 2px solid #F1F6FB;
}

table.dashboard-table td input {
  background-color: #fff;
  border: 1px solid #E7EDFF;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  padding: 5px 15px;
  height: auto;
  font-family: Barlow;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  color: #343C6A;
}

.table-result-wrapper {
  padding: 20px 10px;
  display: flex;
  align-items: center;
}

.table-result-wrapper p {
  font-family: Barlow;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 0px;
  color: #7990B4;
}

/*sample 4 page css start*/

/*Add course modal start*/
.addcourse-modal .modal-header {
  background-color: #396AFF;
  position: relative;
  border-bottom: 0px;
}

.addcourse-modal .modal-header h4 {
  width: 85%;
  font-family: Barlow;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  /*    text-align: center;*/
  color: #fff;
  margin: 0 auto;
}

.addcourse-modal .modal-header button.close {
  position: absolute;
  right: 23px;
  opacity: 1;
  padding: 6px 0 !important;
  top: 18px;
}

.addcourse-modal .modal-footer {
  border-top: 0px;
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.1);
  justify-content: center;
}

.addcourse-modal .modal-footer button {
  font-family: Barlow;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  width: 50%;
  background-color: transparent;
  border: 0px;
  color: #396AFF;
  margin: 0;
}

.addcourse-modal .modal-body .fieldset {
  display: flex;
  align-items: center;
}

.addcourse-modal .modal-body .fieldset label {
  font-family: Barlow;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 0px;
  width: 150px;
}

.addcourse-modal .modal-body .fieldset select,
.addcourse-modal .modal-body .fieldset input {
  border: 1px solid #E7EDFF;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  height: 35px;
  width: calc(100% - 100px);
  padding: 0px 15px;
  font-family: Barlow;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  color: #5B73A0;
}

.addcourse-modal .modal-body .fieldset select option {
  font-family: Barlow;
  font-size: 15px;
  font-weight: 400;
}

.addcourse-modal .modal-body {
  padding: 0;
}

.addcourse-modal .modal-body .addCourse-form {
  display: flex;
  padding: 25px 2px;
}

/*Add course modal end*/

.add-button {
  width: 69px;
  background: #EEF5FE;
  border: 2px solid #EEF5FF;
  height: 35px;
  color: #396aff;
  font-size: 15px;
  border-radius: 6px;
  font-weight: 500;
  position: relative;
  left: 8em;
  bottom: .6em;
}

.add-button:hover {
  background: #396aff;
  border: 2px solid #396aff;
  color: #eef5fe;
  transition: .5s ease-in-out;
}


.mat-spinner {
  stroke: grey;
}

.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 3em;
  width: 3em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loading-indicator::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 7%);
}

.custom-input-file::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-input-file::before {
  content: 'Drag and drop or click to browse';
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 500;
  font-size: 15px;
  font-family: 'Barlow';
  color: #AFBCD2;
  transition: .5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 73px;
  background: #fff;
  border: none;
}

.custom-input-file:hover::before {
  background-color: transparent;
}

.custom-input-file:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.custom-input-file {
  height: 80px !important;
  border: 3px dashed #DCE2EC !important;
}

.common-p p {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Barlow';
  color: #9876AD;
}

.border-bottom {
  border-bottom: 1px solid #F1F6FB !important;
}

.display-center {
  display: flex;
  align-items: center;
}

.container {
  width: 450px;
  height: 200px;
  padding: 2rem;
  text-align: center;
  border: dashed 1px #979797;
  position: relative;
  margin: 0 auto;
}

.fileover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

.files-list {
  margin-top: 1.5rem;
  /* display: flex; */
  flex-grow: 1;
}

.single-file {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  border: dashed 2px #DCE2EC;
  margin-bottom: 1rem;
}

img.delete {
  margin-left: 0.5rem;
  cursor: pointer;
  align-self: flex-end;
}

.name {
  font-size: 14px;
  font-weight: 500;
  color: #353f4a;
  margin: 0;
}

.size {
  font-size: 12px;
  font-weight: 500;
  color: #a4a4a4;
  margin: 0;
  margin-bottom: 0.25rem;
}

.info {
  width: 100%
}

.delete i {
  font-size: 20px;
  color: red;
  position: relative;
  left: 8px;
  bottom: 35px;
  cursor: pointer;
}

.after-progress i {
  position: relative;
  left: 24em;
  bottom: 17px;
  font-size: 20px;
  color: #00ee80;
}

/* Shake animation */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}