<div class="dashboard">
	<app-class-sidebar></app-class-sidebar>
	<div class="control-panel">
		<app-class-header></app-class-header>
		<app-class-dashboard-header></app-class-dashboard-header>
		<div *ngIf="isLoadingBool" class="loading-indicator">
			<mat-spinner></mat-spinner>
		</div>
		<!-- <div class="row test-button">
                           <button onclick="myFunction()" class="tstbtn">Add Test</button>
                           <div id="mytstdown" class="tstdown-content">
                              <a href="#home">Add new</a>
                              <a href="#about" class="custom-button" data-toggle="modal" data-target="#library">Add from library</a>
                           </div>
        </div> -->
		<div class="prospectus-section sequence-list">
			<div class="prospectus-tabs">
				<ul class="nav nav-tabs">
					<li><a data-toggle="tab" href="#test" class="active">Test</a></li>
					<li><a data-toggle="tab" href="#submissions">Submissions</a></li>
				</ul>
			</div>
			<div class="tab-content">
				<!-- Schedule start -->
				<div id="test" class="tab-pane active">
					<div class="table-responsive">
						<table class="table dashboard-table">
							<thead class="thead-course">
								<tr>
									<th scope="col"></th>
									<th scope="col"></th>
									<th scope="col"></th>
									<th scope="col"
										style="width: 10% !important;padding: 0 0 0 5em;text-align: center;">From</th>
									<th scope="col"></th>
									<th scope="col" style="text-align: right; padding: 0 0;">To</th>
									<th scope="col"></th>
									<th scope="col"></th>
									<th scope="col" style="text-align: center; padding: 0 0;">Timer</th>
									<th scope="col" style="text-align: center; padding: 0 0;">Attempts</th>
									<th scope="col" style="text-align: center; padding: 0 0;">Attempts</th>
								</tr>
							</thead>
							<thead>
								<tr>
									<th scope="col" class="text-left">
										<div class="radio-table-check"><input type="checkbox"></div>
									</th>
									<th scope="col" style="padding: 18px 12px;">No.</th>
									<th scope="col" class="text-left table-filter"
										style="width: 18%; padding: 18px 12px;">Test name</th>
									<th scope="col" class=" text-left table-filter" style="padding: 18px 12px;">Date
									</th>
									<th scope="col" class="text-left table-filter" style="padding: 18px 12px;">To</th>
									<th scope="col" class="table-filter" style="padding: 18px 12px;">Date</th>
									<th scope="col" class="table-filter" style="padding: 18px 12px;">To</th>
									<th scope="col" class="table-filter" style="padding: 18px 12px;">Graded</th>
									<th scope="col" class="table-filter" style="padding: 18px 12px;">(Min)</th>
									<th scope="col" class="table-filter" style="padding: 18px 12px;">given</th>
									<th scope="col" class="table-filter" style="padding: 18px 12px;">status</th>
									<th scope="col"></th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let data of learnerList; index as i">
									<th class="text-left">
										<div class="radio-table-check"><input type="checkbox"
												(click)="testId(data.id,i)"></div>
									</th>
									<td>{{data.s_no}}</td>
									<td class="text-left"><a href="#"
											style="padding: 0 !important; text-decoration: underline;">{{data.name}}</a>
									</td>
									<td class="text-left">{{data.start_date}}</td>
									<td class="text-left">{{data.start_time}}</td>
									<td>{{data.end_date}}</td>
									<td>{{data.end_time}}</td>
									<td class="text-center"><button class="learner-test-yes">{{data.grade}}</button>
									</td>
									<td>{{data.test_timer}}</td>
									<td>{{data.test_attempts}}</td>
									<td>{{data.attempt_status}}/{{data.test_attempts}}</td>
									<td><button type="button" class="learner-take-test" [disabled]="!data.isActive"
											(click)="goToTest()">Take test</button></td>
								</tr>
								<tr>
							</tbody>
						</table>
					</div>
					<div class="table-result-wrapper bottom-select">
						<select name="course" id="course-name">
							<option selected>10</option>
							<option value="Course 1">1</option>
							<option value="Course 2">2</option>
							<option value="Course 3">3</option>
						</select>
						<p style="width: 10%;">Results: 1-15 of 324</p>
						<div class="selector">
							<ul>
								<li><a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li class="active"><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">...</a></li>
								<li><a href="#" class="right-arrow"><i class="fa fa-chevron-right"
											aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Schedule start -->

			</div>

		</div>
	</div>
</div>