

* {
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    color: #8e8e8e;
    line-height: 1.4;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    font-weight: 400;
    font-style: normal;
    font-family: 'Rubik', sans-serif;
}

:focus {
    outline: none !important;
}

img {
    border: 0;
    height: auto;
    display: block;
    max-width: 100%;
}

ul,
li,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: all 0.3s ease;
    list-style: none;
}

ol,
li,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: all 0.3s ease;
}
a:hover,
a:focus{
	outline: none;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    
}
h1,
h2{
    color: #343C6A;
    line-height: 1.1;
    font-family: 'Rubik', sans-serif;
}
h3,
h4,
h5,
h6{
	color: #343C6A;
    line-height: 1.1;
    font-family: 'Rubik', sans-serif;
}
span {
    color: #343C6A;
    line-height: 1.5;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}
h1 {
    font-size: 50px;
    font-weight: 700;
}
h2 {
    font-size: 36px;
    font-weight: 700;
}
h3 {
    font-size: 30px;
    font-weight: 600;
}
h4 {
    font-size: 28px;
    font-weight: 600;
}
h5 {
    font-size: 24px;
    font-weight: 600;
}
h6 {
    font-size: 20px;
    font-weight: 600;
}
p {
    color: #8e8e8e;
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-family: 'Rubik', sans-serif;
}

.button,
.btn {
    outline: none;
    font-size: 17px;
    border: 2px solid #396AFF;
    background-color: #396AFF;
    font-weight: 500;
    padding: 10px 30px;
    display: inline-flex;
    color: #fff;
    align-content: center;
    text-decoration: none;
    justify-content: center;
    transition: all 0.3s ease;
    text-transform: uppercase;
    border-radius: 0px;
    font-family: 'Rubik', sans-serif;
}

.button a,
.btn a{
	color: #fff;
}

.button:hover,
.btn:hover{
	background-color: #fff;
	color: #396AFF;
	border-color: #396AFF;
}
.button:hover a,
.btn:hover a{
	color: #396AFF;
}
.btn-danger:active:focus,
.btn-danger:active,
.btn-primary:active:focus,
.btn-default:focus,
.btn-danger:focus,
.btn-info:focus,
.btn-primary:focus,
.btn-success:focus{
    outline: none;
    color: #396AFF;
    background-color: #fff;
    border: 2px solid #396AFF;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus{
	outline: none;
	box-shadow: none;
}

input
select,
textarea,
.form-control{
	resize: none;
    height: 50px;
    width: 100%;
    color: #8e8e8e;
    box-shadow: none;
    font-size: 15px;
    border-radius: 0px;
    background: #fafafa;
    border: 1px solid #e6e6e6;
    line-height: 1.42857143;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}

input:focus,
select:focus,
textarea:focus,
.form-control:focus {
    border-color: #e6e6e6;
    box-shadow: none;
    outline: none;
}


/*Pricing page css start*/
section.pricing-section {
    padding: 50px 0px;
    background-color: #fbfcfe;
}

section .pricing-content-box {
    background-color: #fff;
	padding: 25px 15px;
    border-radius: 15px;
    border: 1px solid #DCE2EC;
}

section .pricing-header h2 {
    font-size: 60px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: center;
    color: #343C6A;
    margin-bottom: 20px;
}

section .pricing-header span {
    font-family: Barlow;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    margin-bottom: 20px;
    text-align: center;
    color: #5B73A0;
    width: 100%;
    display: block;
}
section .pricing-content {
    display: flex;
    padding: 30px 0px 0px;
}

section .pricing-content .slick-track{
	display: flex;
}
section .pricing-content-box .pricing-header-caption {
    border-bottom: 4px solid #EEF5FF;
    padding: 0px 20px 30px;
}
section .pricing-content-box:hover .pricing-header-caption {
    border-bottom: 4px solid #ffa26b;
}
section .pricing-content-box .pricing-header-caption h5 {
    font-family: Rubik;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: capitalize;
    color: #343C6A;
}

section .pricing-content-box .pricing-header-caption .pricing-showing {
    display: flex;
    align-items: center;
    padding: 15px 0px;
}

section .pricing-content-box .pricing-header-caption .pricing-showing h4 {
    font-family: Rubik;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0px;
    text-align: left;
    margin-right: 10px;
    color: #343C6A;
}

section .pricing-content-box .pricing-header-caption .pricing-showing span {
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
}
section .pricing-content-box .pricing-header-caption .pricing-showing p {
    margin-bottom: 0px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 28px;
    color: #343C6A;
    text-transform: capitalize;
}

section .pricing-content-box .pricing-header-caption em {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 28px;
    color: #5B73A0;
}
section .pricing-content-box .pricing-content-showing ul {
    padding: 20px 0px;
}

section .pricing-content-box .pricing-content-showing ul li {
    display: flex;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    font-family: Barlow;
    color: #5B73A0;
    border-bottom: 1px solid #EEF5FF;
    padding: 12px 20px;
}

section .pricing-content-box .pricing-content-showing ul li img {
    margin-right: 10px;
    width: 23px;
    height: 23px;
}

section .pricing-content-box .pricing-content-showing ul li.un-active {
    color: #AFBCD2;
}

section .pricing-content-box .pricing-content-showing .btn {
    width: 100%;
    display: flex;
    border-radius: 15px;
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    height: 46px;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    margin-top: 10px;
}

section .pricing-content-box:hover .pricing-content-showing .btn {
    background-color: #FFA26B;
    border-color: #ffa26b;
}
    
section .pricing-content-box:hover .pricing-content-showing .btn:hover{
	color: #fff;
}
section.pricing-section .slick-arrow{
	font-size: 0px;
	position: absolute;
    background-color: transparent;
    border: 0px;
    z-index: 1;
}

section.pricing-section .slick-arrow:before{
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    font-size: 50px;
    color: #dce2ec;
}
section.pricing-section .slick-prev{
	left: 0px;
	top: 50%;
	transform: translate(10px, 10px);
}
section.pricing-section .slick-next{
	right: 0px;
	top: 50%;
	transform: translate(10px, 10px);
}
section.pricing-section .slick-prev:before{
	content: "\f053";
    margin-right: 20px;
}

section.pricing-section .slick-next:before{
	content: "\f054";
    margin-left: 20px;
}

section.pricing-section .slick-arrow:hover:before{
	color: #7990b4;
}


.img-src{
    display: block;
    margin: auto;
    width: 50px;
    background: white !important;
}

.pre-src{
    width: 50px;
    background: white !important;
    height: 2.5rem;
    margin-right: 20%;
    display: block;
    margin-top: auto;
    margin-bottom: auto;

}

.common-loader{
    background: url(/assets/spinner.gif) no-repeat center center;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #fafafa;
    z-index: 2;
}

.next-btn {
    /* zoom: 2; */
    margin: auto;
    display: block;
    margin-left: 16px;
    font-size: 2rem;
}

.previous-btn{
    /* zoom: 2; */
    margin: auto;
    display: block;
    /* margin-left: 16px; */
    font-size: 2rem;
}
/*Pricing page css end*/