
.img-src{
    display: block;
    margin: auto;
    width: 50px;
    background: white !important;
}

.pre-src{
    width: 50px;
    background: white !important;
    height: 2.5rem;
    margin-right: 20%;
    display: block;
    margin-top: auto;
    margin-bottom: auto;

}


  .image-loader {
    display: block;
    margin: auto;
}

.next-btn {
    /* zoom: 2; */
    margin: auto;
    display: block;
    margin-left: 16px;
    font-size: 2rem;
}

.previous-btn{
    /* zoom: 2; */
    margin: auto;
    display: block;
    /* margin-left: 16px; */
    font-size: 2rem;
}