<div class="dashboard">
  <app-sidebar></app-sidebar>
  <div class="control-panel">
    <app-dashboardheader></app-dashboardheader>
    <app-app-dashboard-header></app-app-dashboard-header>
    <div *ngIf="isLoadingBool" class="loading-indicator">
      <mat-spinner></mat-spinner>
    </div>
    <div class="right" *ngIf="!isLoadingBool">
      <div class="question-width">
        <h4>Test1</h4>
      </div>
      <div class="width">
        <select class="form-control" (change)="onChange()" [(ngModel)]="selectedTestDetails">
          <option value="" disabled selected="selected">Please select test</option>
          <option *ngFor="let user of testAllData" [ngValue]="user">{{user.test_name}}</option>
        </select>
      </div>
      <button type="button">Back</button>
    </div>
    <div class="prospectus-section sequence-list" *ngIf="!isLoadingBool">
      <div class="prospectus-tabs">
        <ul class="nav nav-tabs">
          <li><a data-toggle="tab" href="#test" class="active">Test</a>
          </li>
          <li><a data-toggle="tab" href="#settings">Settings</a>
          </li>
          <li><a data-toggle="tab" href="#assignment-grading">Result/Assessment</a>
          </li>
        </ul>
      </div>
      <div class="user-action-wrapper mt-3 mb-3">
        <div class="question-action-list">
          <div (click)="deleteStep1Test()" class="delete-button"> <a class="delete-btn custom-button"
              data-toggle="modal" data-target="#deletetest">Delete Test</a>
          </div>
          <div class="button-wrapper"> <a (click)="goToReOrder()" class="edit-points-btn custom-button">Re-Order</a>
            <a (click)="goToEditPoints()" class="edit-points-btn custom-button">Edit
              points</a>
            <a (click)="goToPreview()" class="preview-btn custom-button">Preview</a>
            <a class="addbutton custom-button" data-toggle="modal" data-target="#addQues">Add Questions</a>
          </div>
        </div>
      </div>
      <!-- Submisssion Log start -->
      <div class="tab-content">
        <div id="settings" class="tab-pane active box-shadow">
          <ng-container *ngFor="let data of this.allData;let i = index">
            <div [ngSwitch]="data.questiontype">
              <!-- select and option list-->
              <div *ngSwitchCase="'multiple_choice_type_paper'">
                <div class="custom-control custom-checkbox mb-3 question-label col-lg-12">
                  <label class="question-checkbox col-lg-11 mt-3">Q {{i+1}}.&nbsp;&nbsp;
                    <span style="color: black;" [innerHtml]="data.question"></span>
                    <span>(Multiple
                      Choice)</span>
                    <input type="checkbox" (click)="isCheckClicked(data)">
                    <span class="mark"></span>
                  </label>
                  <div class="ellipdown col-sm-1 dropdown-1 text-right"
                    style="display: flex !important; align-items: center !important;">
                    <label style="padding: 0;">{{data.points}} Points</label>
                    <button class="dropbtn-1" onclick="myFunction()"
                      style="background-color: transparent; border: none; width: 22px; height: 22px;">
                      <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-content-1" id="myDropdown">
                      <a (click)="editQuestion('multiple_choice_type_paper')">Edit</a>
                      <a (click)="deleteQuestion()">Remove</a>
                    </div>
                  </div>
                </div>
                <div class="test-option border-bottom col-lg-12">
                  <ul class="col-md-5">
                    <li *ngFor="let optionList of data.multiple_choices[0] | slice:0:2;"><input type="radio"
                        id="option1" name="option" value="option1">
                      <label for="option1">{{optionList.option_text}}</label>
                    </li>
                  </ul>
                  <ul class="col-md-5">
                    <li *ngFor="let optionList of data.multiple_choices[0] | slice:2:3;">
                      <input type="radio" id="option3" name="option" value="option3">
                      <label for="option3">{{optionList.option_text}}</label>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- choose the correct images-->
              <div *ngSwitchCase="'images'">
                <div class="custom-control custom-checkbox mb-3 question-label col-lg-12" style="padding-top: 2em;">
                  <label class="question-checkbox col-lg-11">Q {{i}}.&nbsp;&nbsp;Choose the correct image for
                    preposition
                    near. <span>(Multiple Choice)</span>
                    <input type="checkbox"> <span class="mark"></span>
                  </label>
                  <div class="ellipdown col-sm-1 dropdown-1 text-right"
                    style="display: flex !important; align-items: center !important;">
                    <label style="padding: 0;">{{data.points}} Points</label>
                    <button class="dropbtn-1" onclick="myFunction()"
                      style="background-color: transparent; border: none; width: 22px; height: 22px;">
                      <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-content-1" id="myDropdown">
                      <a (click)="editQuestion('images')">Edit</a>
                      <a (click)="deleteQuestion()">Remove</a>
                    </div>
                  </div>
                </div>
                <div class="test-option border-bottom sample custom-control custom-checkbox col-lg-12">
                  <div class="col-sm-3 text-center">
                    <button type="button">
                      <h2>Sample image</h2>
                    </button>
                    <p>Description 1</p>
                    <label class="choice-checkbox" style="padding-left: 55px;">
                      <input type="checkbox" (click)="isCheckClicked(data)"> <span class="mark2"></span>
                      <h6>Choice 1</h6>
                    </label>
                  </div>
                  <div class="col-sm-3 text-center">
                    <button type="button">
                      <h2>Sample image</h2>
                    </button>
                    <p>Description 2</p>
                    <label class="choice-checkbox" style="padding-left: 55px;">
                      <input type="checkbox" (click)="isCheckClicked(data)"> <span class="mark2"></span>
                      <h6>Choice 2</h6>
                    </label>
                  </div>
                  <div class="col-sm-3 text-center">
                    <button type="button">
                      <h2>Sample image</h2>
                    </button>
                    <p>Description 3</p>
                    <label class="choice-checkbox" style="padding-left: 55px;">
                      <input type="checkbox" (click)="isCheckClicked(data)"> <span class="mark2"></span>
                      <h6>Choice 3</h6>
                    </label>
                  </div>
                  <div class="col-sm-3 text-center">
                    <button type="button">
                      <h2>Sample image</h2>
                    </button>
                    <p>Description 4</p>
                    <label class="choice-checkbox" style="padding-left: 55px;">
                      <input type="checkbox" (click)="isCheckClicked(data)"> <span class="mark2"></span>
                      <h6>Choice 4</h6>
                    </label>
                  </div>
                </div>
              </div>

              <div *ngSwitchCase="'true_false_type_paper'">
                <div class="custom-control custom-checkbox mb-3 question-label col-lg-12" style="padding-top: 1em;">
                  <label class="question-checkbox col-lg-11">Q {{i+1}}.&nbsp;&nbsp;
                    <span style="color: black;" [innerHtml]="data.question"></span>
                    <span>({{data.questiontypename}})</span>
                    <input type="checkbox" (click)="isCheckClicked(data)">
                    <span class="mark"></span>
                  </label>
                  <div class="ellipdown col-sm-1 dropdown-1 text-right"
                    style="display: flex !important; align-items: center !important;">
                    <label style="padding: 0;">{{data.points}} Points</label>
                    <button class="dropbtn-1" onclick="myFunction()"
                      style="background-color: transparent; border: none; width: 22px; height: 22px;">
                      <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-content-1" id="myDropdown">
                      <a (click)="editQuestion('true_false_type_paper')">Edit</a>
                      <a (click)="deleteQuestion()">Remove</a>
                    </div>
                  </div>
                </div>
                <div class="test-option col-lg-12">
                  <ul class="col-md-5" style="display: flex;">
                    <li><input type="radio" id="true1" name="true" value="true1">
                      <label for="true1">True</label>
                    </li>
                    <li>
                      <input type="radio" id="false1" name="false" value="false1">
                      <label for="false1">False</label>
                    </li>
                  </ul>
                </div>
              </div>

              <div *ngSwitchCase="'fill_in_the_blanks_type_paper'">
                <div class="custom-control custom-checkbox mb-3 question-label col-lg-12"
                  style="padding-top: 1em; padding-bottom: 1em;">
                  <label class="question-checkbox col-lg-11">Q {{i+1}}.&nbsp;&nbsp;
                    <span style="color: black;" [innerHtml]="data.question"></span>
                    <span>({{data.questiontypename}})</span>
                    <input type="checkbox" (click)="isCheckClicked(data)">
                    <span class="mark"></span>
                  </label>
                  <div class="ellipdown col-sm-1 dropdown-1 text-right"
                    style="display: flex !important; align-items: center !important;">
                    <label style="padding: 0;">{{data.points}} Points</label>
                    <button class="dropbtn-1" onclick="myFunction()"
                      style="background-color: transparent; border: none; width: 22px; height: 22px;">
                      <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-content-1" id="myDropdown">
                      <a (click)="editQuestion('fill_in_the_blanks_type_paper')">Edit</a>
                      <a (click)="deleteQuestion()">Remove</a>
                    </div>
                  </div>
                </div>
                <div class="fill border-bottom" style="padding-bottom: 1em;">
                  <!-- <h6 style="font-size: 15px; font-weight: 400;">I don't want to argue&nbsp;<input type="text">&nbsp;you&nbsp;<input type="text">&nbsp;that matter at this time.</h6> -->
                  <h6 style="font-size: 15px; font-weight: 400;">{{data.questiontype}}<input type="text"></h6>

                </div>
              </div>

              <ng-container *ngSwitchCase="'short_ques_ans_type_paper'">
                <div class="custom-control custom-checkbox mb-3 col-lg-12 question-label" style="padding-top: 1em;">
                  <label class="question-checkbox col-lg-11">Q {{i+1}}.&nbsp;&nbsp;
                    <span style="color: black;" [innerHtml]="data.question"></span>
                    <span>(Short Answer)</span>
                    <input type="checkbox" (click)="isCheckClicked(data)"> <span class="mark"></span>
                  </label>
                  <div class="ellipdown col-sm-1 dropdown-1 text-right"
                    style="display: flex !important; align-items: center !important;">
                    <label style="padding: 0;">{{data.points}} Points</label>
                    <button class="dropbtn-1" onclick="myFunction()"
                      style="background-color: transparent; border: none; width: 22px; height: 22px;">
                      <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-content-1" id="myDropdown">
                      <a (click)="editQuestion('short_ques_ans_type_paper')">Edit</a>
                      <a (click)="deleteQuestion()">Remove</a>
                    </div>
                  </div>
                </div>
                <div class="question-text col-lg-12">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <textarea name="shortanswer"></textarea>
                  <div class="col-md-4"></div>
                </div>
                <div class="word-tag col-lg-12">
                  <div class="col-md-4">&nbsp;</div>
                  <div class="col-md-4 text-right" style="padding: 0 4px !important;">
                    <p>0/255</p>
                  </div>
                  <div class="col-md-4"></div>
                </div>
              </ng-container>

              <div *ngSwitchCase="'ordering_type_paper'">
                <div class="custom-control custom-checkbox mb-3 question-label col-lg-12" style="padding-top: 2em;">
                  <label class="question-checkbox col-lg-11">Q {{i+1}}.&nbsp;&nbsp;
                    <span style="color: black;" [innerHtml]="data.question"></span>
                    <span>(Ordering)</span>
                    <input type="checkbox" (click)="isCheckClicked(data)"> <span class="mark"></span>
                  </label>
                  <div class="ellipdown col-sm-1 dropdown-1 text-right"
                    style="display: flex !important; align-items: center !important;">
                    <label style="padding: 0;">{{data.points}} Points</label>
                    <button class="dropbtn-1" onclick="myFunction()"
                      style="background-color: transparent; border: none; width: 22px; height: 22px;">
                      <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-content-1" id="myDropdown">
                      <a (click)="editQuestion('ordering_type_paper')">Edit</a>
                      <a (click)="deleteQuestion()">Remove</a>
                    </div>
                  </div>
                </div>
                <div class="test-option sample custom-control custom-checkbox col-lg-12">
                  <div class="col-sm-3 text-center">
                    <button type="button">
                      <h2>Sample image</h2>
                    </button>
                    <p>Title for image</p>
                  </div>
                  <div class="col-sm-3 text-center">
                    <button type="button">
                      <h2>Sample image</h2>
                    </button>
                    <p>Title for image</p>
                  </div>
                  <div class="col-sm-3 text-center">
                    <button type="button">
                      <h2>Sample image</h2>
                    </button>
                    <p>Title for image</p>
                  </div>
                  <div class="col-sm-3 text-center"></div>
                </div>
                <div class="match-option" style="font-size: 15px; font-weight: 400; border-bottom: 1px solid #F1F6FB;">
                  <div *ngFor="let item of data.odering_option" class="col-lg-12 mt-3"
                    style="display: flex; margin-bottom:1em;">
                    <div class="col-md-6" style="padding-left: 5.5em;">1.&nbsp;&nbsp;{{item.odering_option_text}}</div>
                    <div class="col-md-3 text-center">
                      <button type="button">2</button>
                    </div>
                  </div>
                  <!-- <div class="col-lg-12" style="display: flex; margin-bottom:1em;">
                    <div class="col-md-6" style="padding-left: 5.5em;">2.&nbsp;&nbsp;Fusion</div>
                    <div class="col-md-3 text-center">
                      <button type="button">1</button>
                    </div>
                  </div>
                  <div class="col-lg-12" style="display: flex; margin-bottom:1em;">
                    <div class="col-md-6" style="padding-left: 5.5em;">3.&nbsp;&nbsp;Fission</div>
                    <div class="col-md-3 text-center">
                      <button>4</button>
                    </div>
                  </div>
                  <div class="col-lg-12" style="display: flex; margin-bottom:1em;">
                    <div class="col-md-6" style="padding-left: 5.5em;">4.&nbsp;&nbsp;Reaction</div>
                    <div class="col-md-3 text-center">
                      <button type="button">2</button>
                    </div>
                  </div> -->
                </div>
              </div>

              <div *ngSwitchCase="'matching_type_paper'">
                <div class="custom-control custom-checkbox mb-3 question-label col-lg-12" style="padding-top: 2em;">
                  <label class="question-checkbox col-lg-11">Q
                    {{i+1}}.&nbsp;&nbsp;
                    <span style="color: black;" [innerHtml]="data.question"></span>
                    <span>({{data.questiontypename}})</span>
                    <input type="checkbox" (click)="isCheckClicked(data)"> <span class="mark"></span>
                  </label>
                  <div class="ellipdown col-sm-1 dropdown-1 text-right"
                    style="display: flex !important; align-items: center !important;">
                    <label style="padding: 0;">{{data.points}} Points</label>
                    <button class="dropbtn-1" onclick="myFunction()"
                      style="background-color: transparent; border: none; width: 22px; height: 22px;">
                      <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-content-1" id="myDropdown">
                      <a (click)="editQuestion('matching_type_paper')">Edit</a>
                      <a (click)="deleteQuestion()">Remove</a>
                    </div>
                  </div>
                </div>
                <div class="test-option sample custom-control custom-checkbox col-lg-12">
                  <div class="col-sm-3 text-center">
                    <button type="button">
                      <h2>Sample image</h2>
                    </button>
                    <p>Title for image</p>
                  </div>
                  <div class="col-sm-3 text-center">
                    <button type="button">
                      <h2>Sample image</h2>
                    </button>
                    <p>Title for image</p>
                  </div>
                  <div class="col-sm-3 text-center">
                    <button type="button">
                      <h2>Sample image</h2>
                    </button>
                    <p>Title for image</p>
                  </div>
                  <div class="col-sm-3 text-center"></div>
                </div>
                <div class="match-option"
                  style="display: block !important; padding-bottom: 1em; font-size: 15px; font-weight: 400;">
                  <div *ngFor="let item of data.matching_question_answers;let j=index" class="col-lg-12"
                    style="display: flex; margin-bottom:1em;">
                    <div class="col-md-6" style="padding-left: 5.5em;">{{j+1}}.&nbsp;&nbsp;{{item.question}}</div>
                    <div class="col-md-3">{{j+1}}.&nbsp;&nbsp;{{item.answer}}</div>
                  </div>
                  <!-- <div class="col-lg-12" style="display: flex; margin-bottom:1em;">
                    <div class="col-md-6" style="padding-left: 5.5em;">2.&nbsp;&nbsp;Fusion</div>
                    <div class="col-md-3">B.&nbsp;&nbsp;Glueing</div>
                  </div>
                  <div class="col-lg-12" style="display: flex; margin-bottom:1em;">
                    <div class="col-md-6" style="padding-left: 5.5em;">3.&nbsp;&nbsp;Fission</div>
                    <div class="col-md-3">C.&nbsp;&nbsp;Banding</div>
                  </div>
                  <div class="col-lg-12" style="display: flex; margin-bottom:1em;">
                    <div class="col-md-6" style="padding-left: 5.5em;">4.&nbsp;&nbsp;Reaction</div>
                    <div class="col-md-3">D.&nbsp;&nbsp;Welding</div>
                  </div> -->
                </div>
              </div>

            </div>
          </ng-container>
          <div class="container" style="padding: 22px 0; display: flex; margin: 0 !important;"> <a
              class="addbutton custom-button" data-toggle="modal" data-target="#addQues">Add Question</a>
            <a class="edit-points-btn custom-button" data-toggle="midal" data-target="#ReOrder">Re-Order</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Delete Test modal popup start -->
<div id="deletetest" class="modal deletetest-modal" role="dialog" #deleteclassModal>
  <div class="modal-dialog">
    <!--     Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4>Delete class</h4>
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="class-delete-list">
          <div class="delete-field"> <i class="fa fa-trash" aria-hidden="true"></i>
            <h1>Delete Test</h1>
          </div>
          <div class="class-del-caption">
            <p>This test may or may not been completed by learners.Once deleted, you cannot retrieve the test and the
              submission by learners. Please confirm if you would like to proceed.</p>
          </div>
        </div>
        <div class="deleteportion container col-lg-12" style="padding: 0 38px;">
          <div class="col-md-6 displayflex-items"> <i class="fa fa-file-text" aria-hidden="true"></i>
            <p>{{this.deleteTestData}}</p>
          </div>
          <div class="col-md-6">
            <button type="button" class="deleteclose"><i class="fa fa-times" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div (click)="deleteStep2Test()" class="class-deltest-btn">
          <button type="button" class="delete-test">Delete Test</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Delete Class modal popup end -->
<!-- Add Ques popup start -->
<div id="addQues" class="modal addlibrary-modal" role="dialog" #cancelClassModal>
  <div class="modal-dialog" style="max-width: 250px; position: relative; top: 25em; left: 57em;">
    <!-- Modal content-->
    <div class="modal-content" style="border-radius: 12px;">
      <div class="modal-body my-modal-body" style="padding: 7px 27px;">
        <ul>
          <li style="margin-bottom: .7em;" (click)="goToFillBlanks()">
            <button type="button">Fill in the blanks</button>
          </li>
          <li style="margin-bottom: .7em;" (click)="goToMatching()">
            <button type="button">Matching</button>
          </li>
          <li style="margin-bottom: .7em;" (click)="goToMultipleQuestion()">
            <button type="button">Multiple Choice question</button>
          </li>
          <li style="margin-bottom: .7em;" (click)="goToOrdering()">
            <button type="button">Ordering</button>
          </li>
          <li style="margin-bottom: .7em;" (click)="goToTrueFalse()">
            <button type="button" data-toggle="modal" data-target="#remove">True or False</button>
          </li>
          <li (click)="goToShortAnswer()">
            <button type="button">Short Answer</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Add Ques popup end -->