:host ::ng-deep.text-center{
    text-align: center !important;
}

:host ::ng-deep .error-message{
    color: red !important;
    font-size: 1.3rem !important;
}

:host ::ng-deep input{
    font-size: 1.4rem;
}