  <!-- Header start -->
  <app-header></app-header>
  <!-- Header end -->
  <div class="about-us-section">
    <div class="container">
      <!-- <div class="about-us-header">
        <h3>What Clussroom Does</h3>
        <p>Choose the best plan for your business</p>
      </div> -->
      <div class="about-us-caption">
        <h6>Clussroom is just like a.. typical Classroom</h6>
        <p style="text-align: left;">Conducting classes should be simple. Because teachers impart precious knowledge,
          time should not be used to navigate the intricacies of adopting a new tool to teach.<br><br>
          Clussroom is easy to use and it further relieves the administrative responsibilities of classes and teaching
          to other parties, if they like to. Even if they take up such administrative tasks, handling them is easy and
          straightforward.<br><br>
          Clussroom uses a transparent approach to encourage participation, and an easy and direct way to allow learners
          understand how they can participate and ultimately contribute to the overall grades which they hope to
          achieve.<br><br>
          We understand that visual sessions are an important part of learning and transmission, and this forms part of
          the range of tools which teachers can use to conduct classes.<br><br>
          Com'on try us Out!</p>
      </div>
    </div>
  </div>
  <app-footer></app-footer>