<div class="dashboard">
  <app-sidebar-assignment></app-sidebar-assignment>
  <div class="control-panel">
     <app-assignment-dashboard-header></app-assignment-dashboard-header>
     <app-assignment-header></app-assignment-header>
     <div class="row test-button">
      <button type="button"><a href="#">Add Test</a></button>
   </div>
   <div class="prospectus-section sequence-list">
      <div class="prospectus-tabs">
         <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#test" class="active">Test</a></li>
            <li><a data-toggle="tab" href="#settings">Settings</a></li>
            <li><a data-toggle="tab" href="#assignment-grading">Result/Assessment</a></li>
            <!--				    <li><a data-toggle="tab" href="#overall-grading">Overall Grading Status</a></li>-->
         </ul>
      </div>
      <div class="tab-content" >
         <!-- Submisssion Log start -->
         <div id="settings" class="tab-pane active box-shadow">
           <form [formGroup]="addAssignmentForm">
            <div class="setting-input bottom-border">
               <div class="text-left col-md-2">
                  <label>Name of assignment</label>
               </div>
               <div class="col-lg-10 setting-padding input-fonts">
                  <input type="text"  formControlName="assignment_name">
               </div>
            </div>
            <div class="text-area setting-input bottom-border">
               <div class="text-left col-md-2">
                  <label>Instruction</label>
               </div>
               <div class="col-lg-10" style="padding-left: 23px;">
                  <textarea  formControlName="instruction" cols="80"label="notes"rows="4"wrap="virtual" style="margin: 0;" placeholder="Please read the questions carefully. This test will form part of your final grading this year."> 
                  </textarea>
               </div>
            </div>
            <div class="setting-date-section setting-input bottom-border">
               <div class="col-md-2 text-left">
                  <label>Available from :</label>
               </div>
               <div class="col-md-2 input-fonts" style="padding-left: 21px; margin-right: 2em"> 
                  <input type="date"  formControlName="available_date">
               </div>
               <div class="col-md-2 input-fonts"> 
                  <input type="time"  formControlName="available_time" style="width: 148px !important;" value="12:00" class="text-center">
               </div>
            </div>
            <div class="setting-date-section setting-input bottom-border">
               <div class="col-md-2 text-left">
                  <label>Available to:</label>
               </div>
               <div class="col-md-2 input-fonts" style="padding-left: 21px; margin-right: 2em"> 
                  <input type="date"  formControlName="available_dateTo">
               </div>
               <div class="col-md-2 input-fonts"> 
                  <input type="time" style="width: 148px !important;" formControlName="available_timeTo" value="12:00" class="text-center" >
               </div>
            </div>
            <div class="custom-checkbox-assign setting-input bottom-border">
               <div class="col-md-2 text-left">
                  <label>Allow attachments</label>
               </div>
               <div class="col-md-2 input-fonts">
                  <input type="checkbox" id="checkbox1"  formControlName="attachment_limit_checked"
                  [(ngModel)]="isChecked" />
               </div>
               <div class="col-md-4 custom input-fonts">
                  <input type="text" placeholder="20" *ngIf="isChecked" formControlName="attachment">
                   <label style="color: #16DBCC;">Enter attachment limit (Mb)</label>
               </div>                         
            </div>
             
            <div class="custom-checkbox-assign setting-input bottom-border">
               <div class="col-md-2 text-left">
                  <label>Character limit</label>
               </div>
               <div class="col-md-2 input-fonts">
                  <input type="checkbox" id="checkbox1"  formControlName="character_limit_checked"
                  [(ngModel)]="myCheckbox"/>
               </div>
               <div class="col-md-4 custom input-fonts" *ngIf="myCheckbox">
                  <input type="text" placeholder="10,000"  formControlName="character_limit">
               </div>                           
            </div>
             
            <div class="custom-checkbox-assign setting-input bottom-border">
               <div class="col-md-2 text-left">
                  <label>Insert rubric?</label>
               </div>
               <div class="col-md-2">
                  <input type="checkbox" id="checkbox1"  formControlName="rubric" [(ngModel)]="rubricChecked" />
               </div>
               <div class="col-md-4 custom" *ngIf="rubricChecked">
                  <div class="dropdown-1 " style="margin: 0 26px;">
                  <button class="dropbtn-1">Dropdown &nbsp;<i class="fa fa-caret-down" aria-hidden="true" style="margin-left: 1em;"></i></button>
                  <div class="dropdown-content-1">
                  <a href="#">Rubric 1</a>
                  <a href="#">Rubric 2</a>
                  <a href="#" data-toggle="modal" data-target="#createRubric">Create New</a>
                  </div>
                  </div>
                </div>                           
            </div>                      

            <div class="setting-select setting-input border-bottom">
               <div class="col-md-2 text-left">
                  <label>Points</label>
               </div>
               <div class="custom">
                 <input type="text" style="margin: 0; width: 94px !important;"  formControlName="points">
               </div>
            </div>
            <div class="container" style="padding: 18px 0 0 14px; margin: 0;">
               <button type="button" class="setting-edit-1" *ngIf="!disbled"(click)="updateAssignment()">Confirm Edit</button>  
               <button type="button" class="setting-edit-1" *ngIf="disbled" (click)="edit()"> Edit</button>                         

               <!-- <button type="button" class="blue">Save</button> -->
               <button type="button" class="blue-border">Cancel</button>
            </div>
            </form>
         </div>
         <!-- Submisssion Log end -->
      </div>
   </div>
  </div>
</div>
