<app-header></app-header>

<section class="payment-confirmation-section">
	<div class="container">
		<div class="confirmation-box">
			<div class="confirmation-header">
				<h3>Great</h3>&nbsp;
				<span>{{this.firstName}}</span>
			</div>
			<h4>All's set!</h4>
            <p>Your login detail is sent to your registered email address at <a>{{this.userMail}}</a></p>
            <form>
			<button class="btn" (click)="gotoDashboard()">
				Go to dashboard
            </button>
            </form>
		</div>
	</div>
</section>
<app-footer></app-footer>
