<!DOCTYPE html>
<html>
<title>Choose Password</title>

<head>
  <link rel="icon" href="assets/images/clusroom-fav.png" type="image/png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <!-- Header start -->
  <header id="navbar" role="banner">
    <div class=" container">
      <div class="navbar-header-flex">
        <div class="navbar-header">

          <section class="site-logo">
            <a href="/"><img src="assets/images/LOGO.png"></a>
          </section>

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>

        <nav role="navigation" id="main-menu">
          <ul class="menu menu--main nav navbar-nav">

            <li class="first">
              <a href="/">Home</a>
            </li>

            <li>
              <a href="">About us</a>
            </li>

            <li>
              <a href="">Contact</a>
            </li>

            <li>
              <a href="">Log In</a>
            </li>

            <li class="last">
              <a href="">Packages</a>
            </li>

          </ul>
        </nav>
      </div>
    </div>
  </header>
  <!-- Header end -->
  <section class="choose-password-section">
    <div class="container">
      <div class="choose-password-form">
        <h2>Choose a new password</h2>
        <form [formGroup]="ChangePasswordForm">

          <div class="re-enter-password fieldset">
            <label>Password</label>
            <input formControlName="password" type="password">
            <ng-container *ngFor="let error of error_messages.password">
              <div class="error-message" *ngIf="ChangePasswordForm.get('password').hasError(error.type) &&
						  (ChangePasswordForm.get('password').dirty || ChangePasswordForm.get('password').touched)">
                {{ error.message }}
              </div>
            </ng-container>
            <!-- <div class="password-strength">
						<div class="password-strength__meter">
							<div class="password-strength__indicator">
								
							</div>
						</div>
						<div class="password-strength__title">Password strength: 
							<span class="password-strength__text">Weak</span>
						</div>
					</div> -->
          </div>

          <div class="confirm-password fieldset">
            <label>Confirm Password</label>
            <input formControlName="confirm_password" type="password">
            <ng-container *ngFor="let error of error_messages.confirm_password">
              <div class="error-message" *ngIf="ChangePasswordForm.get('confirm_password').hasError(error.type) &&
						  (ChangePasswordForm.get('confirm_password').dirty || ChangePasswordForm.get('confirm_password').touched)">
                {{ error.message }}
              </div>
            </ng-container>
            <!-- <div class="password-match__title">Password match: 
						<span class="password-match__text">No</span>
					</div> -->

            <div class="error-message"
              *ngIf="ChangePasswordForm.get('confirm_password').hasError('equalTo') && ChangePasswordForm.get('confirm_password').dirty || ChangePasswordForm.get('confirm_password').hasError('equalTo') && ChangePasswordForm.get('confirm_password').touched">
              Password Mismatch
            </div>
          </div>

          <div class="choose-password-obliterate" (click)="saveLogin()" >
            <button [disabled]="!ChangePasswordForm.valid" class="btn">Save and log in</button>
          </div>
        </form>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="footer-flex">
        <div class="footer-caption">
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
          <p>copyright clusroom 2020 - terms & condition privacy policy</p>
        </div>
        <div class="footer-social">
          <a href="#">
            <img src="assets/images/twitter.png">
          </a>
          <a href="#">
            <img src="assets/images/facebook.png">
          </a>
          <a href="#">
            <img src="assets/images/instagram.png">
          </a>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>