<div class="dashboard">
  <app-sidebar></app-sidebar>
  <div class="control-panel">
    <app-dashboardheader></app-dashboardheader>
    <app-app-dashboard-header></app-app-dashboard-header>
    <div *ngIf="isLoadingBool" class="loading-indicator">
      <mat-spinner></mat-spinner>
    </div>
    <div class="right">
      <div class="question-width">
        <h4>{{this.test_name}}</h4>
      </div>
      <div class="width">
        <select class="form-control" (change)="onChange()" [(ngModel)]="selectedTestDetails">
          <option value="" disabled selected="selected">Please select test</option>
          <option *ngFor="let user of testAllData" [ngValue]="user">{{user.test_name}}</option>
        </select>
      </div>
      <button *ngIf="selectedTestDetails=='' " type="button" routerLink="/test/question-screen">Back</button>
    </div>
    <div class="prospectus-section sequence-list">
      <div class="prospectus-tabs">
        <ul class="nav nav-tabs">
          <li><a data-toggle="tab" class="active">Test</a>
          </li>
          <li routerLink="/test/settings-tabs"><a data-toggle="tab" href="#settings">Settings</a>
          </li>
          <li routerLink="/assignment/assignment-result"><a data-toggle="tab" >Result/Assessment</a>
          </li>
        </ul>
      </div>
      <div class="tab-content" style="height: 268vh;">
        <div class="user-action-wrapper">
          <div class="question-action-list">
            <h6>Edit points</h6>
            <div class="button-wrapper">
              <button type="button" class="Org" (click)="confirmButton()"><a>Confirm edit</a>
              </button>
              <button type="button" class="pink" (click)="cancel()">Cancel</button>
            </div>
          </div>
        </div>
        <!-- Submisssion Log start -->
        <div id="settings" class="tab-pane active box-shadow">
          <ng-container>
            <ng-container *ngFor="let data of this.allData;let i = index">
              <div [ngSwitch]="data.questiontype">
                <!-- true False-->
                <div *ngSwitchCase="'true_false_type_paper'">
                  <div class="custom-control custom-checkbox mb-3 question-label col-lg-12" style="padding-top: 1em;">
                    <label class="question-checkbox col-md-8">Q {{i+1}}.&nbsp;&nbsp;
                      <span style="color: black;" [innerHtml]="data.question"></span>
                      <span>({{data.questiontypename}})</span>
                    </label>
                    <div class="ellipdown col-md-4">
                      <input type="text" [(ngModel)]="data.points" value="{{data.points}}">
                      <label readonly style="padding: 0 0 0 20px;">{{data.points}} Points</label>
                    </div>
                  </div>
                  <div class="test-option sample custom-control custom-checkbox col-lg-12">
                    <div *ngFor="let item of data.attachment;let index as j" class="col-sm-3 text-center">
                      <button type="button">
                        <h2><img src="{{item.image}}"></h2>
                      </button>
                      <p>{{item.image_description}}</p>
                    </div>

                    <div class="col-sm-3 text-center"></div>
                  </div>
                  <div class="test-option col-lg-12">
                    <ul class="col-md-5" style="display: flex;">
                      <li>
                        <input type="radio" id="true1" name="true" value="true1">
                        <label for="true1">True</label>
                      </li>
                      <li>
                        <input type="radio" id="false1" name="false" value="false1">
                        <label for="false1">False</label>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- multiple choice without images-->
                <div *ngSwitchCase="'multiple_choice_type_paper'">
                  <div class="custom-control custom-checkbox mb-3 question-label col-lg-12">
                    <label class="question-checkbox col-md-8">Q {{i+1}}.&nbsp;&nbsp;
                      <span style="color: black;" [innerHtml]="data.question"></span>
                      <span>(Multiple Choice)</span>
                    </label>
                    <div class="ellipdown col-md-4">
                      <input type="text" [(ngModel)]="data.points" value="{{data.points}}">
                      <label style="padding: 0 0 0 20px;">{{data.points}} Points</label>
                    </div>
                  </div>
                  <div class="test-option sample custom-control custom-checkbox col-lg-12">
                    <div *ngFor="let item of data.attachment;let index as j" class="col-sm-3 text-center">
                      <button type="button">
                        <h2><img src="{{item.image}}"></h2>
                      </button>
                      <p>{{item.image_description}}</p>
                    </div>

                    <div class="col-sm-3 text-center"></div>
                  </div>
                  <div class="test-option border-bottom col-lg-12">
                    <ul class="col-md-5">
                      <li *ngFor="let optionList of data.multiple_choices[0] | slice:0:2;"><input type="radio"
                          id="option1" name="option" value="option1">
                        <label for="option1">{{optionList.option_text}}</label>
                      </li>
                    </ul>
                    <ul class="col-md-5">
                      <li *ngFor="let optionList of data.multiple_choices[0] | slice:2:4;">
                        <input type="radio" id="option3" name="option" value="option3">
                        <label for="option3">{{optionList.option_text}}</label>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- multiple choice with images-->
                <div *ngSwitchCase="'images'">
                  <div class="custom-control custom-checkbox mb-3 question-label col-lg-12" style="padding-top: 2em;">
                    <label class="question-checkbox col-lg-11">Q {{data.serial_number}}.&nbsp;&nbsp;
                      <span style="color: black;" [innerHtml]="data.question"></span>
                      <span>(Multiple Choice)</span>
                      <input type="checkbox" name="new" id="new"> <span class="mark"></span>
                    </label>
                    <div class="ellipdown col-sm-1 dropdown-1 text-right"
                      style="display: flex !important; align-items: center !important;">
                      <label style="padding: 0;">{{data.points}} Points</label>
                      <button class="dropbtn-1" onclick="myFunction()"
                        style="background-color: transparent; border: none; width: 22px; height: 22px;">
                        <i class="fa fa-ellipsis-v"></i>
                      </button>
                      <div class="dropdown-content-1" id="myDropdown">
                        <a (click)="editQuestion('multiple_choice_type_paper',data)">Edit</a>
                        <a data-toggle="modal" data-target="#deletetest2" (click)="deleteQuestion(data)">Remove</a>
                      </div>
                    </div>
                  </div>
                  <div class="test-option border-bottom sample custom-control custom-checkbox col-lg-12">
                    <div *ngFor="let item of data.attachment" class="col-sm-3 text-center">
                      <button type="button">
                        <h2><img src="{{item.image}}"></h2>
                      </button>
                      <p>{{item.image_description}}</p>
                    </div>
                    <div class="col-sm-3 text-center">
                      <label *ngFor="let optionList of data.multiple_choices[0] | slice:0:2;" class="choice-checkbox"
                        style="padding-left: 55px;">
                        <input type="checkbox" name="new" id="new" (click)="isCheckClicked(data)"> <span
                          class="mark2"></span>
                        <h6>{{optionList.option_text}}</h6>
                      </label>
                      <label *ngFor="let optionList of data.multiple_choices[0] | slice:2:4;" class="choice-checkbox"
                        style="padding-left: 55px;">
                        <input type="checkbox" name="new" id="new" (click)="isCheckClicked(data)"> <span
                          class="mark2"></span>
                        <h6>{{optionList.option_text}}</h6>
                      </label>
                    </div>
                  </div>
                </div>

                <!-- Fill in the blanks-->
                <div *ngSwitchCase="'fill_in_the_blanks_type_paper'">
                  <div class="custom-control custom-checkbox mb-3 question-label col-lg-12"
                    style="padding-top: 1em; padding-bottom: 1em;">
                    <label class="question-checkbox col-md-8">Q {{i+1}}.&nbsp;&nbsp;
                      <span style="color: black;" [innerHtml]="data.question"></span>
                      <span>({{data.questiontypename}})</span>
                      <!-- <input type="checkbox">
                      <span class="mark"></span> -->
                    </label>
                    <div class="ellipdown col-md-4">
                      <!-- <input type="text" placeholder="10"> -->
                      <input type="text" [(ngModel)]="data.points" value="{{data.points}}">
                      <label style="padding: 0 0 0 20px;"> {{data.points}} Points</label>
                    </div>
                  </div>
                  <!-- <div class="fill">
                    <h6 style="font-size: 15px; font-weight: 400;">{{data.questiontype}}<input type="text"></h6>
                  </div> -->
                  <div class="test-option sample custom-control custom-checkbox col-lg-12">
                    <div *ngFor="let item of data.attachment;let index as j" class="col-sm-3 text-center">
                      <button type="button">
                        <h2><img src="{{item.image}}"></h2>
                      </button>
                      <p>{{item.image_description}}</p>
                    </div>

                    <div class="col-sm-3 text-center"></div>
                  </div>
                  <div class="col-lg-8 container"
                    style="display: flex; position: relative; left: 14.5em; bottom: 6px; margin: 0;">
                    <div class="col-sm-1 small-button">
                      <ul>
                        <li>
                          <button type="button">1</button>
                        </li>
                        <li>
                          <button type="button">2</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Short answer-->
                <ng-container *ngSwitchCase="'short_ques_ans_type_paper'">
                  <div class="custom-control custom-checkbox mb-3 question-label col-lg-12" style="padding-top: 1em;">
                    <label class="question-checkbox col-md-8">Q {{i+1}}.&nbsp;&nbsp;
                      <span style="color: black;" [innerHtml]="data.question"></span>
                      <span>(Short Answer)</span>
                      <!-- <input type="checkbox"> <span class="mark"></span> -->
                    </label>
                    <div class="ellipdown col-md-4">
                      <input type="text" [(ngModel)]="data.points" value="{{data.points}}">
                      <label style="padding: 0 0 0 20px;">{{data.points}} Points</label>
                    </div>
                  </div>
                  <div class="test-option sample custom-control custom-checkbox col-lg-12">
                    <div *ngFor="let item of data.attachment;let index as j" class="col-sm-3 text-center">
                      <button type="button">
                        <h2><img src="{{item.image}}"></h2>
                      </button>
                      <p>{{item.image_description}}</p>
                    </div>

                    <div class="col-sm-3 text-center"></div>
                  </div>
                  <div class="question-text text-area container" style="padding-left: 5.5em; margin: 0 !important;">
                    <angular-editor name="shortanswer" cols="80" label="notes" rows="4" wrap="virtual"
                      style="margin: 0;" name="question" required>
                    </angular-editor>
                    <div class="col-md-4"></div>
                  </div>
                  <div class="word-tag container mt-2">
                    <p style="margin-left: 29em;">0/500</p>
                  </div>
                </ng-container>
                <!--Ordering-->
                <div *ngSwitchCase="'ordering_type_paper'">
                  <div class="custom-control custom-checkbox mb-3 question-label col-lg-12" style="padding-top: 2em;">
                    <label class="question-checkbox col-md-8">
                      Q {{i+1}}.&nbsp;&nbsp;
                      <span style="color: black;" [innerHtml]="data.question"></span>
                      <span>(Ordering)</span>
                      <!-- <input type="checkbox"> <span class="mark"></span> -->
                    </label>
                    <div class="ellipdown col-md-4">
                      <input type="text" [(ngModel)]="data.points" value="{{data.points}}">
                      <label style="padding: 0 0 0 20px;">{{data.points}} Points</label>
                    </div>
                  </div>
                  <div class="test-option sample custom-control custom-checkbox col-lg-12">
                    <div *ngFor="let item of data.attachment" class="col-sm-3 text-center">
                      <button type="button">
                        <h2><img src="{{item.image}}"></h2>
                      </button>
                      <p>{{item.image_description}}</p>
                    </div>
                    <div class="col-sm-3 text-center"></div>
                  </div>
                  <div class="mid-section">
                    <div class="col-lg-12 hint-section mb-3" *ngFor="let item of data.odering_option;let j=index">
                      <div class="col-sm-1 text-right final-order" style="padding-right: 27px;">{{j+1}}.</div>
                      <div class="col-lg-10">
                        <button class="blue-blank"><span><i class="fa fa-random"
                              aria-hidden="true"></i></span>{{item.odering_option_text}}</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Matching-->
                <div *ngSwitchCase="'matching_type_paper'">
                  <div class="custom-control custom-checkbox mb-3 question-label col-lg-12" style="padding-top: 2em;">
                    <label class="question-checkbox col-md-8">Q {{i+1}}.&nbsp;&nbsp;
                      <span style="color: black;" [innerHtml]="data.question"></span>
                      <span>({{data.questiontypename}})</span>
                      <!-- <input type="checkbox"> <span class="mark"></span> -->
                    </label>
                    <div class="ellipdown col-md-4">
                      <input type="text" [(ngModel)]="data.points" value="{{data.points}}">
                      <label style="padding: 0 0 0 20px;">{{data.points}} Points</label>
                    </div>
                  </div>
                  <div class="test-option sample custom-control custom-checkbox col-lg-12">
                    <div *ngFor="let item of data.attachment" class="col-sm-3 text-center">
                      <button type="button">
                        <h2><img src="{{item.image}}"></h2>
                      </button>
                      <p>{{item.image_description}}</p>
                    </div>
                    <div class="col-sm-3 text-center"></div>
                  </div>
                  <div style="padding-bottom: 1em; font-size: 15px; font-weight: 400;">
                    <div *ngFor="let item of data.matching_question_answers;let j=index" class="col-lg-12"
                      style="display: flex; margin-bottom:1em;">
                      <div class="col-md-6" style="padding-left: 5.5em;">{{j+1}}.&nbsp;&nbsp;{{item.question}}</div>
                      <div class="col-md-3">{{j+1}}.&nbsp;&nbsp;{{item.answer}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <div class="col-lg-12" style="padding: 18px 0 0 0; display: flex; margin: 0;">
              <div class="delete-button">
                <button type="submit" (click)="confirmButton()" class="Org"><a>Confirm edit</a>
                </button>
                <button type="button" class="pink" (click)="cancel()">Cancel</button>
              </div>
            </div>
          </ng-container>

        </div>
      </div>
    </div>
  </div>
</div>
