<!DOCTYPE html>
<html>
<title>Instruction</title>

<head>
	<link rel="icon" href="assets/images/clusroom-fav.png" type="image/png">
	<!-- <link rel="stylesheet" href="boostrap/css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css"> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<app-header></app-header>
	<section class="instruction-section">
		<div class="container">

			<div class="instruction-form">
				<ul id="instruction-progressbar">

					<li class="completed">
						<div class="instruction-progressbaar-line line-1"></div>
						<strong><img src="assets/images/blue-path.png">1</strong>

					</li>

					<li class="active">
						<div class="instruction-progressbaar-line line-2"></div>
						<strong><img src="assets/images/blue-path.png">2</strong>
					</li>

					<li>
						<div class="instruction-progressbaar-line line-2"></div>
						<strong><img src="assets/images/blue-path.png">3</strong>
						<div class="instruction-progressbaar-line line-1"></div>
					</li>
				</ul>
				<h2>Naming convention of your instructions</h2>
				<p>What name would you like to give for your instructions?</p>

				<form>
					<div class="instruction-name fieldset">
						<label>Name</label>
						<div class="instruction-checkbox">
							<div class="chiller_cb" *ngFor="let listItems of  this.instructionList" (click)="selectedItems(listItems.tid)">
								<input type="checkbox">
								<label for="myCheckbox">{{listItems.name}}</label>
							</div>
						</div>

					</div>
					<div class="instruction-obliterate">
						<button class="btn" [disabled]="this.termsCondition!=true" (click)="nextPage()">Next</button>
						<button class="back-btn" (click)="back()">Back</button>
					</div>
					<div class="terms-of-use">

						<label><input (click)="agreeTerms($event)" type="checkbox"> I agree to Clussroom <a
								href="#">Terms of use</a></label>
					</div>
				</form>

			</div>
		</div>
	</section>

	<app-footer></app-footer>

</body>

</html>