<app-header></app-header>
<section class="home-section-banner">
	<div class="container">
		<div class="home-banner-wrapper">
			<div class="home-banner-caption">
				<h1>For every student, every classroom. Real results.</h1>
				<p>WooCommerce is a customizable, open-source eCommerce platform built on WordPress.</p>
				<a class="btn" (click)="startClass()">Start Your Class NOW!</a>
			</div>
			<div class="home-banner-image">
				<figure>
					<img src="/assets/images/home-banner.png">
				</figure>
			</div>
		</div>
	</div>
</section>

<section class="why-clussroom-section">
<div class="container">
	<div class="why-clussroom-header">
		<h2>Why Clussroom</h2>
	</div>
	<div class="why-clussroom-wrapper">

		<div class="why-clussroom-box">
			<figure>
				<img src="/assets/images/use_it_ease.png">
			</figure>
			<div class="why-clussroom-caption">
				<h4>Use with ease</h4>
				<p>Clear and simple to use yet sufficiently sophisticated for conducting of classes. </p>
				<a href="#">How Clussroom works ›</a>
			</div>
		</div>
		<div class="why-clussroom-box">
			<figure>
				<img src="/assets/images/Customize-and-Extend.png">
			</figure>
			<div class="why-clussroom-caption">
				<h4>Customize and Extend</h4>
				<p>There is no need to be tied to the desktop for both coaches and learners.</p>
				<a href="#">Work For All Platform ›</a>
			</div>
		</div>
		<div class="why-clussroom-box">
			<figure>
				<img src="/assets/images/Stay.png">
			</figure>
			<div class="why-clussroom-caption">
				<h4>Stay abeast, anywhere</h4>
				<p>Personal organiser in a nutshell. Keep tabs on your list of tasks at hand and plan ahead.</p>
				<a href="#">Online Features  ›</a>
			</div>
		</div>

	</div>
</div>
</section>

<section class="tasks-robust-section">
	<div class="container">
		<div class="tasks-wrapper">
			<figure>
				<img src="/assets/images/tasks-image.png">
			</figure>
			<div class="tasks-caption">
				<div class="tasks-caption-flex">
					<h3>Tasks<br>Segregations</h3>
					<p>Option to integrate tasks of conducting of lessons with class admin matters, or separation of such responsibilities to empower greater focus on each task. loral lipsum content loral lipsum contentloral lipsum content loral lipsum content loral lipsum content loral lipsum content.</p>
					<a href="#">About Task Segregation</a>
				</div>
			</div>
		</div>

		<div class="robust-wrapper">
			<div class="robust-caption">
				<div class="robust-caption-flex">
					<h3>Robust discussion and interactions</h3>
					<p>Ample discussions and learners’ interactions in supporting wholesome classroom activities and coherent knowledge transmission. loelipsum this text is placeholder for upcoming text thanks for reading so deeply. Please check the layout and share your views.</p>
					<a href="#">Know more about this</a>
				</div>
			</div>
			<figure>
				<img src="/assets/images/robu.png">
			</figure>
		</div>
	</div>
</section>

<section class="home-testimonial-section">
	<div class="container">
		<div class="home-testimonial-header">
			<h2>Trusted by Teachers & Learners</h2>
		</div>
		<ngx-slick-carousel class="carousel home-testimonial-wrapper" #slickModal="slick-carousel" [config]="slideConfig">
			<div ngxSlickItem *ngFor="let slide of slides" class="slide home-testimonial-box">
				<div class="home-testimonial-caption">
					<figure>
						<img src="/assets/images/blue-quote.png">
					</figure>
					<p>{{ slide.text }}</p>
				</div>
				<div class="testimonial-user-caption">
					<figure>
						<img src="/assets/images/user_1.png">
					</figure>
					<div class="testimonial-user">
						<h6>{{ slide.name }}</h6>
						<span>Accountant student</span>
					</div>
				</div>
			</div>
		</ngx-slick-carousel>
	</div>
</section>

<section class="newsletter-section">
	<div class="container">
		<div class="newsletter-wrapper">
			<div class="newsletterc-caption">
				<h5>Subscribe the newletter to get online <span>Learning  Resources for Student and teachers.</span></h5>
			</div>
			<div class="newsletterc-btn">
				<a href="#">Get Newsletter</a>
			</div>
		</div>
	</div>	
</section>