<div class="dashboard">
  <app-sidebar-assignment></app-sidebar-assignment>
  <div class="control-panel">
    <app-assignment-dashboard-header></app-assignment-dashboard-header>
		<app-assignment-header></app-assignment-header>
     <div class="prospectus-section sequence-list">
        <div class="prospectus-tabs">
           <ul class="nav nav-tabs">
              <li><a data-toggle="tab" href="#test" class="active">Assignments</a></li>
              <li><a data-toggle="tab" href="#settings">Settings</a></li>
              <li><a data-toggle="tab" href="#assignment-grading">Result/Assessment</a></li>
              <!--				    <li><a data-toggle="tab" href="#overall-grading">Overall Grading Status</a></li>-->
           </ul>
        </div>
        <div class="tab-content">
         <form [formGroup]="questionForm">

           <!-- Schedule start -->
           <div class="heading" style="padding: 0 10px;">
              <h2 style="color: #343C6A; font-size: 17px;">Assignment question</h2>
           </div>
           <div class="multiple-text">
							<angular-editor formControlName="question"   wrap="virtual" ></angular-editor>

              <!-- <textarea name="shortanswer" formControlName="question"></textarea> -->
              <div class="col-md-4"></div>
           </div>
            
           <div class="attach mt-3">
              <a href="#"><img src="assets/images/test/Mask.png"></a>
              <h2>Attachments ({{ExteriorPicString.length}}/4)</h2>
              <label style="margin-left:1em !important;margin: 0px;" for="imageUpload" class="btn-add-1"><i
               class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</label>
           <input id="imageUpload" #attachments style="display: none" multiple type="file"
             accept="image/png, image/jpeg" class="upload custom-input-file" (change)="picked($event)"/>
           </div>
           <div class="col-lg-12 box-shadow border-bottom mt-3" style="padding-bottom: 6em;">
              
               <div class="col-lg-8" style="display: flex; align-items: center;"*ngFor="let item of ExteriorPicString;let i = index;">
                   <div class="col-md-8 custom-order-assign" style="padding:0;">
                         <p>{{filename}}</p>
                       <button type="button"(click)="removeImage(i)" class="orange-cross" style="width: 30px; height: 30px; margin: 0 7px;"><i class="fa fa-times" aria-hidden="true"></i></button>
                   </div>
               </div>
               
               <!-- <div class="col-lg-8" style="display: flex; align-items: center;">
                   <div class="col-md-8 custom-order-assign" style="padding:0;">
                         <p>Hanson Deck.png</p>
                       <button type="button" class="orange-cross" style="width: 30px; height: 30px; margin: 0 7px;"><i class="fa fa-times" aria-hidden="true"></i></button>
                   </div>
               </div>                      
               
               <div class="col-lg-8 mb-3" style="display: flex; align-items: center;">
                   <div class="col-md-8 custom-order-assign" style="padding:0;">
                         <p>Hanson Deck.png</p>
                       <button type="button" class="orange-cross" style="width: 30px; height: 30px; margin: 0 7px;"><i class="fa fa-times" aria-hidden="true"></i></button>
                   </div>
               </div> -->
               

           </div>
           
           <div class="container" style="padding: 18px 0 0 30px; display: flex; margin: 0;">
              <!--
                 <button type="button" class="blue">Confirm</button>
                 <button type="button" class="blue-border">Cancel</button>
                 <button type="button" class="lime"><a href="#">Edit</a></button>
                 <button type="button" class="Org"><a href="#">Confirm Edit</a></button>
                 -->
              <a  class="addbutton custom-button mr-2" (click)="saveQuestion()">Save Question</a>                        
              <a href="#" class="edit-points-btn custom-button">Cancel</a>   
           </div>
<!--
           <div class="container multi-choice-orange" style="padding: 6px 0 0 0;">
              <button type="button">Confirm Edit</button>
           </div>
-->
</form>

        </div>
     </div>
  </div>
</div>