      <!-- loader showing-->
      <div *ngIf="isLoadingBool" class="loading-indicator">
        <mat-spinner></mat-spinner>
      </div>
      <!-- close loader showing-->

      <!-- courses table-->
      <div class="prospectus-section">
        <div class="prospectus-tabs">
          <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#summary" class="active">Course</a></li>
            <li><a data-toggle="tab" href="#instructions">Method of Instructions</a></li>
          </ul>
          <div class="prospectus-action">
            <!-- <a class="add-btn custom-a-btn" data-toggle="modal" data-target="#editCourse">
              <i class="fa fa-plus" aria-hidden="true"></i> edit course</a> -->
            <a *ngIf="!editForm && !isSaveCourses" class="add-btn custom-a-btn" data-toggle="modal"
              data-target="#addCourse">
              <i class="fa fa-plus" aria-hidden="true"></i> New course</a>
            <a *ngIf="editForm" style="margin-left: 15px;background: #ef4a4a !important;" class="add-btn custom-a-btn"
              data-target="#editCourse" data-toggle="modal">
              <i class="fa fa-edit" aria-hidden="true"></i> Edit</a>
            <a *ngIf="!isSaveCourses && editForm" (click)="cancelCourses()" style="margin-left: 15px;background: #db2929 !important;"
              class="add-btn custom-a-btn" data-toggle="modal">
              <i class="fa fa-times" aria-hidden="true"></i> Cancel</a>
            <a *ngIf="!isSaveCourses && editForm" style="margin-left: 15px;background: #9a7be3 !important;"
              class="add-btn custom-a-btn" data-toggle="modal" data-target="#deleteCourse">
              <i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
          </div>
        </div>
        <div class="tab-content">
          <div id="summary" class="tab-pane active">
            <div class="table-responsive">
              <table class="table dashboard-table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">No.</th>
                    <th scope="col" class="text-left">Course Name</th>
                    <th scope="col" class="text-left">Code</th>
                    <th scope="col" class="table-filter text-left">Cateory/Dept</th>
                    <th scope="col" class="table-filter text-left">Level</th>
                    <th scope="col" class="table-filter text-left">Banding</th>
                    <th scope="col" class="table-filter text-left">No. of classes</th>
                    <th scope="col" class="table-filter text-left">No. of learners</th>
                    <th scope="col" class="table-filter">Admin</th>
                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let courseLists of this.allCourseList| paginate : {itemsPerPage: pageSize,currentPage: page,totalItems: count};let i = index;"
                    [class.active]="i == currentIndex">
                    <th>
                      <div class="radio-table">
                        <input name="checkbox" (click)="isCheckClicked($event,courseLists,i)" type="radio">
                      </div>
                    </th>
                    <td>{{courseLists.sno}}</td>
                    <td class="text-left">{{courseLists.title}}</td>
                   
                    <td class="text-left">{{courseLists.field_course_code}}</td>

                    <td class="text-left">
                      {{courseLists.field_category}}</td>

                    <td class="text-left">
                      {{courseLists.field_level}}
                    </td>
                  
                    <td class="text-left">
                      {{courseLists.field_banding}}
                    </td>

                    <td class="text-left">{{courseLists.classes}}</td>

                    <td class="text-left">
                      {{courseLists.total_learners}}</td>

                    <td><span>Assign</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="table-result-wrapper">
              <pagination-controls previousLabel="Prev" nextLabel="Next"  responsive="true"
                (pageChange)="handlePageChange($event)"></pagination-controls>
            </div>
          </div>
          <div id="instructions" class="tab-pane">
            <div class="table-responsive">
              <table class="table dashboard-table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">No.</th>
                    <th scope="col" class="text-left">Course Name</th>
                    <th scope="col">Code</th>
                    <th scope="col" class="table-filter text-left">Cateory/Dept</th>
                    <th scope="col" class="table-filter text-left">Level</th>
                    <th scope="col" class="table-filter text-left">Banding</th>
                    <th scope="col" class="table-filter text-left">Before</th>
                    <th scope="col" class="table-filter text-left">After</th>
                    <th scope="col" class="table-filter text-left">Admin</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let courseList of this.allCourseList| paginate : {itemsPerPage: pageSize,currentPage: page,totalItems: count};let i = index"
                    [class.active]="i == currentIndex">
                    <th>
                      <div class="radio-table">
                        <input name="gender" (click)="isCheckClicked($event,courseList,i)" type="radio">
                      </div>
                    </th>
                    <td>{{i+1}}</td>

                    <td *ngIf="i !== this.indexesValue" class="text-left">{{this.courseList.title}}</td>


                    <td class="text-left">{{this.courseList.nid}}</td>

                    <td *ngIf="i !== this.indexesValue" class="text-left">{{this.courseList.field_category}}</td>

                    <td *ngIf="i !== this.indexesValue" class="text-left">{{this.courseList.field_level}}</td>


                    <td *ngIf="i !== this.indexesValue" class="text-left">{{this.courseList.field_banding}}</td>


                    <td *ngIf="i !== this.indexesValue" class="text-left">{{this.courseList.classes}}</td>


                    <td *ngIf="i !== this.indexesValue" class="text-left">{{this.courseList.total_learners}}</td>


                    <td *ngIf="i !== this.indexesValue" class="text-left">{{this.courseList.field_banding}}</td>

                    <td (click)="saveCourses(courseList)">Save</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="table-result-wrapper">
              <pagination-controls previousLabel="Prev" nextLabel="Next" autoHide="true" responsive="true"
                (pageChange)="handlePageChange($event)"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
      <!-- close courses table-->

      <!-- Delete modal popup start -->
      <div id="deleteCourse" class="modal deletecourse-modal" role="dialog" #deleteclosebutton>
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal"><img
                  src="assets/images/dashboard/close-modal.png"></button>
              <figure>
                <img src="assets/images/dashboard/delete-course.png">
              </figure>
              <h4 class="modal-title">Delete Course</h4>
              <br>
              <p>Once deleted, all related files including information about past learners & class materials, course
                materials
                and learners’ grades will be removed. </p>
              <br>
              <span>Continue?</span> <br>
              <a (click)="deleteCourse()" class="del-btn-course">Delete Course</a>
            </div>
          </div>

        </div>
      </div>
      <!-- Delete modal popup start -->

      <!-- Add Course modal popup start -->
      <div id="addCourse" class="modal addcourse-modal" role="dialog" #addclosebutton>
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4>Add new</h4>
              <button type="button" class="close" data-dismiss="modal"><img
                  src="assets/images/dashboard/close-course.png"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="addCourse-form">
                  <div class="name-of-course fieldset">
                    <label>Name of course*</label>
                    <input [(ngModel)]="courseName" type="text" name="courseName">
                  </div>
                  <div class="category-course fieldset">
                    <label>Category*</label>
                    <select [(ngModel)]="selectedCategory" name="category" id="categorycourse" (click)="getCategory()">
                      <option *ngFor="let categoriesList of this.allCategories" value="{{categoriesList.tid}}">
                        {{categoriesList.name}}</option>
                      <option *ngIf="this.allCategories.length>1" value="create_new">Create new</option>
                    </select>
                  </div>
                  <!-- if user select create new course -->
                  <div class="new-category-course fieldset" *ngIf="isCourseAdded">
                    <label>New category</label>
                    <input [(ngModel)]="newCategory" type="text" name="course">
                  </div>

                  <div class="level-course fieldset">
                    <label>Level</label>
                    <select [(ngModel)]="level" name="level" id="levelcourse" (click)="getLevel()">
                      <option *ngFor="let level of this.allLevel" value="{{level.tid}}">{{level.name}}</option>
                      <option *ngIf="this.allLevel.length>1" value="create_new">Create new</option>
                    </select>
                  </div>
                  <!-- if user select create new level course -->
                  <div class="new-level-course fieldset" *ngIf="isLevelAdded">
                    <label>New level</label>
                    <input [(ngModel)]="newLevel" type="text" name="level">
                  </div>

                  <div class="banding-course fieldset">
                    <label>Banding</label>
                    <select [(ngModel)]="banding" name="level" id="bandingcourse" (click)="getBanding()">
                      <option *ngFor="let banding of this.allBanding" value="{{banding.tid}}">{{banding.name}}</option>
                      <option *ngIf="this.allBanding.length>1" value="create_new">Create new</option>
                    </select>
                  </div>
                  <!-- if user select create new banding course -->
                  <div class="new-banding-course fieldset" *ngIf="isBandingAdded">
                    <label>New banding</label>
                    <input [(ngModel)]="newBanding" type="text" name="banding">
                  </div>
                </div>


                <div class="modal-footer">
                  <button class="back-btn-course" class="close" data-dismiss="modal">Back</button>
                  <button (click)="createCourse()" class="next-btn-course">Next</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
      <!-- Add Course modal popup start -->

      <!-- Edit Course modal popup start -->
      <div id="editCourse" class="modal editcourse-modal" role="dialog" #editclosebutton>
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4>Edit course</h4>
              <button type="button" class="close" data-dismiss="modal"><img
                  src="assets/images/dashboard/close-course.png"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="editSampleForm">
                <div class="editCourse-form-top">
                  <div class="name-of-course fieldset">
                    <label>Name of course*</label>
                    <input formControlName="courseName" type="text" name="course">
                  </div>
                  <div class="category-course fieldset">
                    <label>Category*</label>
                    <select formControlName="category" name="category" id="category">
                      <option *ngFor="let categories of allCategories" [value]="categories.tid">{{categories.name}}
                      </option>
                      <option *ngIf="this.allCategories.length>1" value="create_new">Create new</option>
                    </select>
                  </div>


                  <!-- <select [(ngModel)]="this.courseList.field_category" [ngModelOptions]="{standalone: true}" (ngModelChange)="onGroupChange($event)">
                    <option *ngFor="let group of allCategories" [value]="group.tid">
                    {{group.name}}
                    </option>
                </select> -->

                  <div class="level-course fieldset">
                    <label>Level</label>
                    <select formControlName="level" name="level" id="level">
                      <option *ngFor="let level of this.allLevel" [value]="level.tid">{{level.name}}</option>
                      <option *ngIf="this.allLevel.length>1" value="create_new">Create new</option>
                    </select>
                  </div>

                  <div class="banding-course fieldset">
                    <label>Banding</label>
                    <select name="category" id="categorycourse" formControlName="banding">
                      <option *ngFor="let banding of this.allBanding" [value]="banding.tid">{{banding.name}}</option>
                      <option *ngIf="this.allBanding.length>1" value="create_new">Create new</option>
                    </select>
                  </div>

                </div>
                <!-- <div class="editCourse-form-down">
                  <div class="fieldset class-materials">
                    <label>Class materials access available from</label>
                    <div class="editcourse-field-wrapper">
                      <div class="class-materials-radio">
                        <input type="radio" name="start-date" value="start-date">
                        <label for="teacher">Class start date</label>
                      </div>
                      <div class="class-materials-radio">
                        <input type="radio" name="start-date" value="start-date">
                        <input type="date">
                      </div>
                    </div>
                  </div>

                  <div class="fieldset class-materials-to">
                    <label>Class materials access available to</label>
                    <div class="editcourse-field-wrapper">
                      <div class="class-materials-radio">
                        <input type="radio" name="start-date-calender" value="start-date-calender">
                        <label for="teacher">Class start date</label>
                      </div>
                      <div class="class-materials-radio">
                        <input type="radio" name="start-date-calender" value="start-date-calender">
                        <input type="date">
                      </div>
                    </div>
                  </div>

                  <div class="fieldset allow-messaging">
                    <label>Allow messaging from learner to coach</label>
                    <div class="editcourse-field-wrapper">
                      <div class="allow-messaging-radio">
                        <input type="radio" name="available" value="available">
                        <label for="Yes">Yes</label>
                      </div>
                      <div class="allow-messaging-radio">
                        <input type="radio" name="available" value="available">
                        <label for="No">No</label>
                      </div>
                    </div>
                  </div>

                  <div class="fieldset allow-messaging">
                    <label>Allow messaging from learner to coach</label>
                    <div class="editcourse-field-wrapper">
                      <div class="allow-messaging-radio">
                        <input type="radio" name="unavailable" value="unavailable">
                        <label for="Yes">Yes</label>
                      </div>
                      <div class="allow-messaging-radio">
                        <input type="radio" name="unavailable" value="unavailable">
                        <label for="No">No</label>
                      </div>
                    </div>
                  </div>
                </div> -->

                <div class="modal-footer">
                  <button class="cancel-btn-course" data-dismiss="modal">Cancel</button>
                  <button class="edit-btn-course" (click)="updateCourses()">Edit</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>