<div class="prospectus-section">
  <div class="prospectus-tabs">
    <ul class="nav nav-tabs">
      <li><a data-toggle="tab" href="#summary" class="active">Summary</a></li>
      <li><a data-toggle="tab" href="#instructions">Method of Instructions</a></li>
    </ul>
    <div class="prospectus-action">
      <a class="add-btn" data-toggle="modal" data-target="#addCourse"><i class="fa fa-plus" aria-hidden="true"></i> Name</a>
					<!-- <a class="edit-btn" data-toggle="modal" data-target="#editCourse"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
					<a class="delete-btn" data-toggle="modal" data-target="#deleteCourse"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
					<a class="delete-btn" data-toggle="modal" data-target="#unabledeleteCourse"><i class="fa fa-trash-o" aria-hidden="true"></i></a> -->
    </div>
  </div>
  <div class="tab-content">
    <div id="summary" class="tab-pane active">
      <div class="table-responsive">
        <table class="table dashboard-table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">No.</th>
              <th scope="col" class="text-left">Course Name</th>
              <th scope="col">Code</th>
              <th scope="col" class="table-filter">Cateory/Dept</th>
              <th scope="col" class="table-filter">Level</th>
              <th scope="col" class="table-filter">Banding</th>
              <th scope="col" class="table-filter">No. of classes</th>
              <th scope="col" class="table-filter">No. of learners</th>
              <th scope="col" class="table-filter">Admin</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>
                <div class="radio-table"><input type="checkbox"></div>
              </th>
              <td>1</td>
              <td class="text-left">Biology for Primary 1</td>
              <td>A3K</td>
              <td>Math</td>
              <td>Professional medical</td>
              <td>1</td>
              <td>12</td>
              <td>189</td>
              <td>Aeriel Connelly</td>
            </tr>
            <tr>
              <th>
                <div class="radio-table"><input type="checkbox"></div>
              </th>
              <td>2</td>
              <td class="text-left">Geography for Primary 2</td>
              <td>4CE</td>
              <td>Science</td>
              <td>Secondary</td>
              <td>2</td>
              <td>8</td>
              <td>874</td>
              <td>Darren Leow</td>
            </tr>
            <tr>
              <th>
                <div class="radio-table"><input type="checkbox"></div>
              </th>
              <td>3</td>
              <td class="text-left">Bull in share market</td>
              <td>3AC</td>
              <td>Social studies</td>
              <td>Primary</td>
              <td>3</td>
              <td>4</td>
              <td>234</td>
              <td>Finelly Abrodobe</td>
            </tr>
            <tr>
              <th>
                <div class="radio-table"><input type="checkbox"></div>
              </th>
              <td>4</td>
              <td class="text-left">Balance Sheet making</td>
              <td>R6T</td>
              <td>Psychology</td>
              <td>University</td>
              <td>4</td>
              <td>11</td>
              <td>431</td>
              <td>Prena Abdullah</td>
            </tr>
            <tr>
              <th>
                <div class="radio-table"><input type="checkbox"></div>
              </th>
              <td>5</td>
              <td class="text-left">Cash flow </td>
              <td>2UY</td>
              <td>Accounting</td>
              <td>Primary</td>
              <td>2</td>
              <td>7</td>
              <td>501</td>
              <td>Nisha Fasa</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-result-wrapper">
        <p>Results: 1-15 of 324</p>
      </div>
    </div>
    <div id="instructions" class="tab-pane">
      <div class="table=-responsive">
        <table class="table dashboard-table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">No.</th>
              <th scope="col" class="text-left">Course Name</th>
              <th scope="col">Code</th>
              <th scope="col" class="table-filter">Cateory/Dept</th>
              <th scope="col" class="table-filter">Level</th>
              <th scope="col" class="table-filter">Banding</th>
              <th scope="col" class="table-filter">No. of classes</th>
              <th scope="col" class="table-filter">No. of learners</th>
              <th scope="col" class="table-filter">Admin</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>
                <div class="radio-table"><input type="checkbox"></div>
              </th>
              <td>1</td>
              <td class="text-left">Biology for Primary 1</td>
              <td>A3K</td>
              <td>Math</td>
              <td>Professional medical</td>
              <td>1</td>
              <td>12</td>
              <td>189</td>
              <td>Aeriel Connelly</td>
            </tr>
            <tr>
              <th>
                <div class="radio-table"><input type="checkbox"></div>
              </th>
              <td>2</td>
              <td class="text-left">Geography for Primary 2</td>
              <td>4CE</td>
              <td>Science</td>
              <td>Secondary</td>
              <td>2</td>
              <td>8</td>
              <td>874</td>
              <td>Darren Leow</td>
            </tr>
            <tr>
              <th>
                <div class="radio-table"><input type="checkbox"></div>
              </th>
              <td>3</td>
              <td class="text-left">Bull in share market</td>
              <td>3AC</td>
              <td>Social studies</td>
              <td>Primary</td>
              <td>3</td>
              <td>4</td>
              <td>234</td>
              <td>Finelly Abrodobe</td>
            </tr>
            <tr>
              <th>
                <div class="radio-table"><input type="checkbox"></div>
              </th>
              <td>4</td>
              <td class="text-left">Balance Sheet making</td>
              <td>R6T</td>
              <td>Psychology</td>
              <td>University</td>
              <td>4</td>
              <td>11</td>
              <td>431</td>
              <td>Prena Abdullah</td>
            </tr>
            <tr>
              <th>
                <div class="radio-table"><input type="checkbox"></div>
              </th>
              <td>5</td>
              <td class="text-left">Cash flow </td>
              <td>2UY</td>
              <td>Accounting</td>
              <td>Primary</td>
              <td>2</td>
              <td>7</td>
              <td>501</td>
              <td>Nisha Fasa</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-result-wrapper">
        <p>Results: 1-15 of 324</p>
      </div>
    </div>
  </div>
</div>

<!-- Add Course modal popup start -->
<div id="addCourse" class="modal addcourse-modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
    	<div class="modal-header">
	        <h4>Add new</h4>
	        <button type="button" class="close" data-dismiss="modal"><img src="assets/images/dashboard/close-course.png"></button>
      	</div>
      	<div class="modal-body">
	        <form>
	        	<div class="addCourse-form">
		        	<div class="name-of-course fieldset">
		        		<label>Name of course*</label>
		        		<input type="text" name="course">
		        	</div>
		        	<div class="category-course fieldset">
		        		<label>Category*</label>
		        		<select name="category" id="categorycourse">
							<option selected></option>
							<option value="finance">Finance</option>
							<option value="create new">Create new</option>
						</select>
		        	</div>
		        	<!-- if user select create new course -->
		        	<div class="new-category-course fieldset">
		        		<label>New category</label>
		        		<input type="text" name="course">
		        	</div>

		        	<div class="level-course fieldset">
		        		<label>Level</label>
		        		<select name="level" id="levelcourse">
							<option selected></option>
							<option value="Professional Level 1">Professional Level 1</option>
							<option value="create new">Create new</option>
						</select>
		        	</div>
		        	<!-- if user select create new level course -->
		        	<div class="new-level-course fieldset">
		        		<label>New level</label>
		        		<input type="text" name="level">
		        	</div>

		        	<div class="banding-course fieldset">
		        		<label>Banding</label>
		        		<select name="level" id="bandingcourse">
							<option selected></option>
							<option value="IV">IV</option>
							<option value="create new">Create new</option>
						</select>
		        	</div>
		        	<!-- if user select create new banding course -->
		        	<div class="new-banding-course fieldset">
		        		<label>New banding</label>
		        		<input type="text" name="banding">
		        	</div>

	        	</div>
      	
		      	<div class="modal-footer">
		      		<button class="back-btn-course">Back</button>
		        	<button class="next-btn-course">Next</button>
		      	</div>
      		</form>
      	</div>
    </div>

  </div>
</div>
<!-- Add Course modal popup start -->